/**************************************
 *******  后台管理页面框架样式  *********
 **************************************/

/**
 * 最外层框架样式
 **/
.main-body {
	width: 100%;
	min-width: 1000px;
	height: 100%;
	min-height: 700px;
	overflow: hidden;
}

/**
 * 顶部header样式
 **/
.manage-header {
	width: 100%;
	min-width:1000px;
	height: 80px;
	background-color: rgb(240, 240, 255);
}

/**
 * 中间主体样式
 **/
.manage-body {
	width: 100%;
	height: auto;
	min-height: 560px;
}

/**
 * 中间主体--左面菜单项样式
 **/
.manage-body-left {
	width: 10%;
	min-width: 130px;
	height: 100%;
	min-height: 560px;
	float: left;
	border-radius: 5px;
}

/**
 * 中间主体--右面详细内容样式
 **/
.manage-body-right {
	height: auto;
	min-height: 560px;
	float: left;
	padding-top: 10px;
	min-width: 870px;
	width: 85%;
}

/**
 * 尾部footer样式
 **/
.manage-footer {
	width: 100%;
	min-height: 60px;
	padding-top: 20px;
	text-align:center;
}

/**
 * 表格第一个标题背景色
 **/	
.manage-body-right table thead{
	background-color: rgb(243, 242, 253);
}
.manage-body-right table td{
	line-height: 40px;
	padding-left: 20px;
	padding-right: 10px;
}

/**
 * 表格中td出现div的内容超出用省略号表示...
 **/
.manage-body-right table td div{
	white-space: nowrap;
	text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	overflow: hidden;
}


/**
 * 匹配结果页面样式
 **/	
.trMatchResult div table{
	font-size:12px;
}
.trMatchResult div table thead tr th{
	font-weight:normal;
	padding:6px;
	color: rgb(103, 103, 255)
}

.trMatchResult div table tbody tr td{
	line-height: 20px;
	color: rgb(74, 81, 255);
}

/**
 * 匹配条件label条件标签样式
 **/
.label:hover{
	cursor:pointer;
}

/**
 * 超出省略号表示样式
 **/
.exceedHidden {
	white-space: nowrap;
	text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	overflow: hidden;
}
/**
 * 统计数据页面用到的样式
 **/
.div-statistics-area{
	float:left;
}
.div-statistics-area ul li span{
	cursor:pointer;
	padding: 0px 6px;
}
.div-statistics-area ul li span:hover{
	background:rgb(130, 110, 255);
	color:white
}

/**
 * 短信发送页面用到的样式
 **/
.item-phone{
	border:none;
}