/**************************************
 *******  后台管理页面框架样式  *********
 **************************************/

/**
 * 最外层框架样式
 **/
.main-body {
	width: 100%;
	min-width: 1000px;
	height: 100%;
	min-height: 700px;
/**	position: fixed;
	overflow: hidden;	**/
}

/**
 * 顶部header样式
 **/
.manage-header {
	width: 100%;
	height: 25px;
	background-color: rgb(219, 219, 255);
	border-bottom: 1px solid rgb(188, 184, 255);
}

/**
 * 中间主体样式
 **/
.manage-body {
	width: 100%;
	min-height:600px;
}

/**
 * 中间主体--左面菜单项样式
 **/
.manage-body-left {
	width: 10%;
	min-width: 160px;
	min-height: 600px;
	float: left;
	background-color: rgb(245, 245, 255);
	border-right: 1px solid rgb(234, 234, 255);
}

/**
 * 中间主体--右面详细内容样式
 **/
.manage-body-right {
	height: auto;
	min-height: 600px;
	float: left;
	padding-top: 10px;
	min-width: 840px;
	width: 84%;
}

/**
 * 尾部footer样式
 **/
.manage-footer {
	width: 100%;
	height:80px;
	text-align:center;
	background: rgb(219, 219, 255);
	border-top: 1px solid rgb(188, 184, 255);
	border-bottom: 1px solid rgb(188, 184, 255);
}
/**
 * manage-body-left 中间主体 左边菜单项样式
 **/
.manage-body-left .head-title{
	
}
/**
 *头像样式
 **/
.manage-body-left .head-title .head-image{
	width:76px;
	height:76px;
	padding:4px;
	margin:6px;
	float:left;
	background-color:white;
}
.manage-body-left .head-title .head-content{
	float:left;
	margin-top:20px;
	width: 71px;
	text-align: center;
}



/**
 * 表格第一个标题背景色
 **/	
.manage-body-right table thead{
	background-color: rgb(243, 242, 253);
}
.manage-body-right table td{
	line-height: 40px;
	padding-left: 20px;
	padding-right: 10px;
}

/**
 * 匹配结果页面样式
 **/	
.trMatchResult div table{
	font-size:12px;
}
.trMatchResult div table thead tr th{
	font-weight:normal;
	padding:6px;
	color: rgb(103, 103, 255)
}

.trMatchResult div table tbody tr td{
	line-height: 20px;
	color: rgb(74, 81, 255);
}

/**
 * 匹配条件label条件标签样式
 **/
.label:hover{
	cursor:pointer;
}

/**
 * 超出省略号表示样式
 **/
.exceedHidden {
	white-space: nowrap;
	text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	overflow: hidden;
}
/**
 * 统计数据页面用到的样式
 **/
.div-statistics-area{
	float:left;
}
.div-statistics-area ul li span{
	cursor:pointer;
	padding: 0px 6px;
}
.div-statistics-area ul li span:hover{
	background:rgb(130, 110, 255);
	color:white
}
.div-statistics-table{
	float:left;
	width:700px;
	margin-top:30px;
}
.div-statistics-table table{
	width:100%;
}
.div-statistics-table table thead tr th{
	text-align: center;
	line-height:30px;
	height:30px;
	text-align: center;
	border: 1px solid gray;
}
.div-statistics-table table tbody tr td{
	text-align: center;
	line-height:25px;
	height:25px;
	border: 1px solid gray;
}

/**
 ************************************ 短信发送页面用到的样式  begin ************************************
 **/
.item-phone{
	border:none;
}

/**
  * 顶部--发送按钮和发送号码统计页面 
  **/
.send-area-top{
	padding-top: 10px;
	padding-left: 15px;
	margin:5px;
}
.send-area-top .send-area-top-txt{
	border-bottom: 1px solid rgb(155, 155, 252);
	width: 717px;
	padding-top: 3px;
	padding-left: 10px;
	margin-top:5px;
	margin-left: 5px;
	float:left;
}

/**
 * 中间电话号码列表div样式
 **/
.sms-phone-list{
	width:200px;
	height:600px;
	float:left;
}
.sms-phone-list .sms-phone-title{
	text-align:center;
}
.middle-move-div{
	width:100px;
	height:100%;
	float:left;
	
}
.middle-move-div-content{
	margin-top:180px;
	text-align:center;
}
.sms-phone-list .target-div, .sms-phone-list .communicate-div{
	border-top: 1px solid rgb(124, 120, 120);
	border-left: 1px solid rgb(124, 120, 120);
	width:100%;
	height:100%;
	overflow:scroll;
}
.sms-phone-list ul{
	margin-left: 0px;
}
.sms-phone-list ul li{
	list-style:none;
	cursor: pointer;
	padding-left:10px;
}
.sms-phone-list ul li:hover{
	background-color:#CEE3F2;
	cursor:pointer;
}
.sms-phone-list ul li span{
	display:-moz-inline-box;  
	display:inline-block;  
}
/**
 ************************************ 短信发送页面用到的样式  end ************************************
 **/