.ABC a
{
    color: Black;
}
.ABC a:link
{
    color: Black;
    text-decoration: none;
}
.ABC a:visited
{
    color: Black;
    text-decoration: none;
}
.ABC a:hover
{
    color: Black;
    text-decoration: none;
}
.ABC a:active
{
    color: Black;
    text-decoration: none;
}
img
{
    border: none;
    vertical-align: middle;
}
.red
{
    color: red;
}
a.red:link
{
    color: red;
    font-weight: bold;
}
a.red:active
{
    font-weight: bold;
    color: #FF0000;
}
a.red:hover
{
    font-weight: bold;
    color: #FF0000;
}
a.red:visited
{
    font-weight: bold;
    color: #FF0000;
}
.black
{
    color: black;
}
a.black:link
{
    color: black;
}
a.black:visited
{
    color: black;
}
a.black:hover
{
    color: #ff3300;
}
a.black:active
{
    color: black;
}
.liA
{
    list-style: none;
}
.liA a
{
    padding-top: 2px;
    display: block;
    font-size: 12px;
}
.liA a:hover
{
    color: #F00;
}
#topheader1
{
    width: 100%;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
#topheader .top
{
    width: 100%;
    margin: 0 auto;
    height: 30px;
    text-align: center;
    background-image: url(../images/topBarBg.gif);
}
#topcontent
{
    width: 980px;
    height: 30px;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    line-height: 30px;
}
#topcontentleft
{
    width: auto;
    float: left;
    text-align: left;
    line-height: 30px;
}
#topcontentleft a
{
    line-height: 30px;
}
#topcontentright
{
    width: auto;
    float: right;
    text-align: right;
    line-height: 30px;
}
#topcontentright a
{
    line-height: 30px;
}
#topcontent a
{
    font-size: 12px;
    color: #000000;
}

#topcontent .loginul
{
    line-height: 20px;
}
#topcontent .loginul li
{
    float: left;
    list-style-type: none;
	line-height:25px;
    padding-right: 7px;
	color:#000;
}
#topcontent .loginul li a{ display:block; margin-top:4px; line-height:20px;}
#topcontent .huiyuanul
{
    line-height: 30px;
}
#topcontent .huiyuanul ul
{
    width: auto;
    line-height: 30px;
}
#topcontent .huiyuanul ul li
{
    float: left;
    line-height: 30px;
    margin-right: 5px;
    display: inline;
}

#topcontent .at1ul
{
    width: 220px;
    float: left;
    text-align: left;
    font-size: 13px;
    overflow: hidden;
}
#topcontent .at1ul li
{
    float: left;
    margin: 0 5px;
}
#topcontent .atright
{
    float: right;
    text-align: right;
    overflow: hidden;
    font-size: 13px;
}
#topcontent .atright li
{
    margin: 0 5px;
    float: left;
}

#topheader .header_cnt
{
    width: 100%;
    height: 80px;
    background-image: url(../images/headerBg.gif);
}
#logoheader
{
    width: 980px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
}
#logoopen
{
    width: 220px;
    height: 80px;
    float: left;
    overflow: hidden;
}

#topheader #headertext
{
    float: right;
    overflow: hidden;
    text-align: left;
    height: 60px;
    margin-top: 15px;
	margin-right:5px;
}
#topheader #headertext div
{
    float: left;
    background: url(../images/s_navDashed.jpg) no-repeat;
    font-size: 12px;
    padding: 0 6px 8px 8px;
}
#topheader #headertext div.first
{
    background: none;
}
#topheader #headertext div a
{
    line-height: 24px;
    margin: 0 2px;
    font-size: 12px;
}

#xFoot
{
    width: 980px;
    margin: 5px auto 5px;
    text-align: center;
    font-size: 12px;
}
#xFoot div
{
    background: url(../images/botmenu3.png) top center no-repeat;
    height: 30px;
    line-height:30px;
    width:980px;
	color:#333;
	margin-bottom:15px;
}

#xFoot p
{
    line-height: 24px;
}
#xFoot div.sotz
{
    text-decoration: none;
    color: #333333;
    font-size: 12px;
}
#xFoot div .sotz:hover
{
    text-decoration: underline;
    color: #333333;
    font-size: 12px;
}
#xFoot div .sotz1
{
    text-decoration: none;
    font-size: 12px;
}
#xFoot div .sotz1:hover
{
    text-decoration: underline;
    color: White;
    font-size: 12px;
}
#lihome
{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    background-image: url(../images/AntUserIco_r2_c1.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 18px;
}
#limember
{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    background-image: url(../images/AntUserIco_r2_c2.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}
#liquit
{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    background-image: url(../images/AntUserIco_r6_c2.gif);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-position: left center;
}
.pintu_K51 {
	width: 460px;
	height: 240px;
	background-color: #fff;
	position: absolute;
	left: 500px;
	top: 270px;
	border: 5px solid #d2d2d2;
	z-index: 9999;
}
/**弹出提示框 start*/
.pintu_K51wz {
	font-size: 16px;
	color: #535353;
	text-align: center;
	padding: 8px 2px 10px 50px;
	width: 360px;
	float: left;
	z-index: 9999;
}
.zon_zc_aniu2 input {
	width: 128px;
	padding: 9px 0 9px 0;
	background-color: #e87a3c;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 18px;
	border-radius: 5px;
}

.zon_zc_aniu2 input:hover {
	background: url(../images/qt.gif) -90px -120px;
	cursor: pointer
}
/**弹出提示框 end*/