*
{
	padding: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
	font-family: Microsoft YaHei,Arial;
    }
body
{
	position: relative;
	line-height: 18px;
	font-size: 12px;
	background: #FFF;
	color: #000;
    margin:0px;
	text-align: center;
	zoom: 1;
	height: 100%;
}
body, input, select, button, textarea
{
	font-size: 12px;
	top: 0px;
	left: 0px;
	color:#606060;
}
.clearboth
{
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}
.content
{
	width: 990px;
	margin: 3px auto;
}

h1, h2, h3, h4, h5, h6
{
	font-size: 12px;
	font-weight: normal;
}
button
{
	cursor: pointer;
}

ul li, ol li
{
	list-style: none;
	color:#606060;
}

img
{
	border: 0 none;
}

.PublicButtomBar
{
	white-space: nowrap;
	width: auto;
}
.PublicButtomBar .btn
{
	background: url(../images/PublicImage/PublicframeButtomImage/Center.gif) repeat;
	height: 23px;
	cursor: pointer;
	border: 0px;
	float: left;
}
.PublicButtomBar .left
{
	background: url(../images/PublicImage/PublicframeButtomImage/Left.gif) no-repeat;
	height: 23px;
	width: 5px;
	float: left;
}
.PublicButtomBar .right
{
	background: url(../images/PublicImage/PublicframeButtomImage/Right.gif) no-repeat;
	height: 23px;
	width: 5px;
	float: left;
}
/* a 标签 样式*/
/*黑色无下滑鼠标经过红色无下滑*/
a:link
{
	color:#606060;
	text-decoration: none;
}
a:visited
{
	color:#606060;
	text-decoration: none;
}
a:hover
{
	color: #F60;
	text-decoration: none;
	cursor: pointer;
}
a:active
{
	color:#606060;
	text-decoration: none;
}

/*蓝色无下滑鼠标经过红色有下滑*/
.BlueNoUnderlineHoverNoUnderlineRed a:link
{
	color: #0462be;
	text-decoration: none;
}
.BlueNoUnderlineHoverNoUnderlineRed a:visited
{
	color: #0462be;
	text-decoration: none;
}
.BlueNoUnderlineHoverNoUnderlineRed a:hover
{
	color: #F60;
	text-decoration: none;
}
.BlueNoUnderlineHoverNoUnderlineRed a:active
{
	color: #0462be;
	text-decoration: none;
}


/*黑色无下滑鼠标经过红色有下滑*/
.BlackNoUnderlineHoverNoUnderlineRed a:link
{
	color:#606060;
	text-decoration: none;
}
.BlackNoUnderlineHoverNoUnderlineRed a:visited
{
	color:#606060;
	text-decoration: none;
}
.BlackNoUnderlineHoverNoUnderlineRed a:hover
{
	color: #F60;
	text-decoration: underline;
	cursor: pointer;
}
.BlackNoUnderlineHoverNoUnderlineRed a:active
{
	color:#606060;
	text-decoration: none;
}
/*蓝色下滑线鼠标经过无下滑*/

.BlueUnderlineHoverNoUnderlineBlue a:link
{
	color: #20a4fe;
	text-decoration: underline;
}
.BlueUnderlineHoverNoUnderlineBlue a:visited
{
	color: #20a4fe;
	text-decoration: none;
}
.BlueUnderlineHoverNoUnderlineBlue a:hover
{
	color: #F60;
	text-decoration: none;
	cursor: pointer;
}
.BlueUnderlineHoverNoUnderlineBlue a:active
{
	color:#606060;
	text-decoration: none;
}
/*蓝色无下滑线鼠标经过无下滑红色*/

.BlueNoUnderlineHoverNoUnderlineBlue a:link
{
	color: #20a4fe;
	text-decoration:none;
}
.BlueNoUnderlineHoverNoUnderlineBlue a:visited
{
	color: #20a4fe;
	text-decoration: none;
}
.BlueNoUnderlineHoverNoUnderlineBlue a:hover
{
	color: #F60;
	text-decoration: none;
	cursor: pointer;
}
.BlueNoUnderlineHoverNoUnderlineBlue a:active
{
	color:#606060;
	text-decoration: none;
}

/*红色字体样式*/
.ColorRed
{
 color:Red;	
}

/*更多需求尽情添加....*/
/*位置*/
.SetFloatLeft
{
	float: left;
}
.SetFloatRight
{
	float: right;
}
/*给标签自动加上hot字样的图标，配合HotPictrues.js使用*/
.HotKey
{
	font-weight: 700;
	position: static;
}
.HotImage
{
	background: url(../images/HomePageImage/SearchImage/HOT.gif) no-repeat right;
	width: 21px;
	height: 12px;
	position: relative;
	z-index: 1;
}
/*最新图标字样*/
.NewKey
{
	
}
.NewKey a
{
	float:left;
}
.NewImage
{
	background: url(../images/Sy_ZczxListImage/new.gif) no-repeat right;
	width: 22px;
	height: 9px;
	margin-left:3px;
	float:left;
}

.pagingList
{
    float:right;
}
.pagingList .inputText
{
    width:30px;
}
    .pagingList ul li 
{
    float:left;
    padding-left:3px;
    padding-right:3px;
}
        .pagingList ul li.HighLightColor 
{
    color:Red; 
}
.pagingList .FristPage
{
	width: 31px;
    height: 27px;
    cursor:pointer;
    border-style: none;
    background: url("../images/PublicTableOneImage/botton_Left0Highlit.gif");
}

.pagingList .PreviousPage
{
	width: 31px;
    height: 27px;
    cursor:pointer;
    border-style: none;
    background: url("../images/PublicTableOneImage/botton_LeftHighlit.gif");
}
.pagingList .NextPage
{
	width: 31px;
    height: 27px;
    cursor:pointer;
    border-style: none;
    background: url("../images/PublicTableOneImage/botton_right.gif");
}
.pagingList .LastPage
{
	width: 31px;
    height: 27px;
    cursor:pointer;
    border-style: none;
    background: url("../images/PublicTableOneImage/botton_right0.gif");
}
.pagingList .GoToPage
{
    width: 31px;
    height: 27px;
     cursor:pointer;
    border-style: none;
    background: url("../images/PublicTableOneImage/go.gif");
}




.pagingList .FristPageGray
{
	width: 31px;
    height: 27px;
    cursor:pointer;
    border-style: none;
    background: url("../images/PublicTableOneImage/botton_left0.gif");
}

.pagingList .PreviousPageGray
{
	width: 31px;
    height: 27px;
    cursor:pointer;
    border-style: none;
    background: url("../images/PublicTableOneImage/botton_left.gif");
}
.pagingList .NextPageGray
{
	width: 31px;
    height: 27px;
    cursor:pointer;
    border-style: none;
    background: url("../images/PublicTableOneImage/botton_rightGray.gif");
}
.pagingList .LastPageGray
{
	width: 31px;
    height: 27px;
    cursor:pointer;
    border-style: none;
    background: url("../images/PublicTableOneImage/botton_left0Gray.gif");
}
.Square /*li前面的小方块*/
{
    background: url("../images/Sy_HRsqImage/Square.jpg") no-repeat 0 3px;
    padding-left:15px;
    line-height:25px;
    text-align:left;
}
.PublicframeOne
{
	border: 1px solid #b6d3eb;
	background-color: #FFFFFF;
}

.PublicframeOne .PublicframeOneHeaderBar
{
	width: auto;
	height: 28px;
	border-bottom:1px solid #b6d3eb;
	background: url("../images/PublicImage/PublicframeOneImage/PublicframeOneHeaderBar.jpg") repeat-x;
}

.PublicframeOne .PublicframeOneHeaderBar .PublicframeOneHeaderBarLeft
{
	float: left;
	height: 23px;
	font-size: 14px;
	font-weight: 700;
	color: White;
	line-height: 23px;
	padding: 1px 15px 1px 15px;
	margin-top: 2px;
	margin-left: 13px;
	background: url("../images/PublicImage/PublicframeOneImage/PublicframeOneHeaderBarLeft.jpg") repeat-x;
}

.PublicframeOne .PublicframeOneHeaderBar .PublicframeOneHeaderBarRight
{
	float: right;
	line-height: 23px;
	margin-right: 20px;
	_margin-right: 10px;
	margin-top:3px;
}
.PublicframeTwo
        {
            background-color: #FFFFFF;
            width:100%;
          
        }
        .PublicframeTwo .PublicframeTwoHeadBar
        {
            width:100%;
            height:39px;
            background:url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBar.jpg);
        }
        .PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarLeft
        {
            width:21px;
            height:39px;
            background:url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarLeft.jpg) no-repeat left;
            float:left;
        }
        .PublicframeTwo .PublicframeTwoHeadBarTittle
        {
            height:39px;
            background:url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarTittle.jpg) no-repeat right;
            padding-right:9px;
            color:#fff;
            float:left;        
        }
       .PublicframeTwo .PublicframeTwoHeadBarTittle .PublicframeTwoHeadBarTittleSpan
       {
            height:39px;
            float:left;
            line-height:30px;
            font-weight:700;
            font-size:14px;
            padding:0px 6px 0px 8px;
            letter-spacing:2px;
            background:url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarTittleSpan.jpg) repeat-x;
       }
       .PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarRight
       {
            width:5px;
            height:39px;
            float:right;
            background:url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarRight.gif) no-repeat right;
       }
        .PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarMore
       {
            height:39px;
            float:right;  
            padding:0px 20px 0px 0px;
       }
       .PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarMore .PublicframeTwoHeadBarMoreSpan
       {
			line-height:35px;
			cursor:pointer;
       }
      .PublicframeTwo .PublicframeTwoContent
       {
            height:100%;
            border:1px solid #b6d3eb;
            border-top:none;
            text-align:left;
    
       }

.Square /*li前面的小方块*/
{
   background: url("../images/Sy_HRsqImage/Square.jpg") no-repeat 0 4px;
    padding-left:15px;
    line-height:25px;
    text-align:left;
}
.Search
{
	width: 675px;
	height: 70px;
	padding-top: 10px;
}
.Search .SearchTab
{
height:25px;
}
/*tab选择*/
.Search ul li
{
	float: left;
}
.Search ul li.SearchTextBlueBg
{
	background: url(../images/HomePageImage/SearchImage/SearchTextBg.gif) no-repeat;
	width: 60px;
	height: 25px;
	letter-spacing: 2px;
	color: White;
	line-height: 21px;
	font-weight: 700;
	padding-left:2px;
}
.Search .SearchTextWhiteBg
{
	width: 60px;
	height: 25px;
	letter-spacing: 2px;
	color: Black;
	line-height: 21px;
}
.Search .SearchImg
{
	width: 20px;
}
/*输入框*/
.Search .SearchInputText
{
	margin-top: 5px;
}
.Search .AdvancedSearch
{
	margin-left: 20px;
	
	line-height: 26px;
}
.Search .InputTextBg
{
	background: url(../images/HomePageImage/SearchImage/SearchImage.gif) no-repeat left;
	width: 394px;
	border: 1px solid #7fc5fe;
}
.Search .InputTextBg .InputTextBlank
{
	line-height: 24px;
	border: 0px;
	height: 24px;
	width: 365px;
	float: right;
	color: Gray;
}

.Search .SearchDistrictBtn
{
	background:#9dd8ff url(../images/HomePageImage/SearchImage/DistrictBtn.gif) no-repeat right;
	width: 91px;
	height: 26px;
	margin-left: 10px;
	color:White;
	
}
.Search .SearchDistrictBtn span
{
 line-height:26px;
 margin-left: -5px;
}
.Search .SearchHoverDistrictBtn
{
	background: url(../images/HomePageImage/SearchImage/HoverDistrictBtn.gif) no-repeat right;
}
.Search .SearchButtom
{
	background: url(../images/HomePageImage/SearchImage/SearchBtn.gif) no-repeat right;
	width: 87px;
	height: 26px;
	margin-left: 10px;
}
.Search .SearchHoverButtom
{
	background: url(../images/HomePageImage/SearchImage/HoverSearchBtn.gif) no-repeat right;
}

#ClickSearchBtn
{
    display:none;
}
.StatusBar
{
	height: 31px;
	background: url('../images/HomePageImage/StatusBarImage/StatusBarBg.gif') repeat-x;
}
.StatusBar .StatusBarMain
{
	width: 990px;
	line-height: 31px;
	margin: 0px auto;
}
.StatusBar .StatusBarMain .left
{
	float: left;
}
.StatusBar .StatusBarMain .right
{
	float: right;
}
.StatusBar .StatusBarMain .right .Wellcome
{
	color: #0298fc;
	float: left;
}
.StatusBar .StatusBarMain .right .ListBtn
{
	float: left;
}
.StatusBar .StatusBarMain .right .ListBtn li
{
	float: left;
	margin-left: 10px;
}
.StatusBar .StatusBarMain .right .ListBtn .ChangeCity
{
	background: url('../images/HomePageImage/StatusBarImage/triangle.gif') no-repeat right;
	padding-right: 12px;
}
.VerticalLineUL
{
}
.VerticalLineUL li
{
	float: left;
	color: #20a4fe;
}
.VerticalLineUL .LiEven
{
	width: 20px;
}

/***/
.CitySearch
{
	margin-top: 7px;
}
.CitySearch .CitySearchImg
{
	background: url(../images/HomePageImage/SearchImage/CitySearchBg.gif) no-repeat;
	width: 71px;
	height: 25px;
	line-height: 25px;
	color: #666666;
}
.CitySearch .CitySearchList
{
}
.CitySearch .CitySearchList li
{
	float: left;
	margin-left: 10px;
	display: block;
	line-height: 25px;
	_height: 20px;
	_overflow: hidden;
}
.CitySearch .CitySearchList li a
{
}
.CitySearch .BlueTriangle
{
	background: url(../images/HomePageImage/SearchImage/BlueTriangle.gif) no-repeat right;
	width: 55px;
	line-height: 25px;
}
.GradualChangeBg
{
	margin: 0;
}
.GradualChangeBg .left
{
	background: url(../images/HomePageImage/LoginImage/LeftBg.gif) no-repeat left;
	width: 5px;
	height: 131px;
}
.GradualChangeBg .center
{
	background: url(../images/HomePageImage/LoginImage/CenterBg.gif) repeat-x;
	width: 710px;
	height: 131px;
}

.GradualChangeBg .right
{
	background: url(../images/HomePageImage/LoginImage/RightBg.gif) no-repeat right;
	width: 5px;
	height: 131px;
}

.GradualChangeBg .center .main
{
	width: 690px;
	height: 118px;
	margin-top: 5px;
	margin-left: 9px;
	margin-left: 1px!improtant;
}
/*火狐*/
.ShadowBg
{
	background: url(../images/HomePageImage/LoginImage/ShadowBg.gif) repeat-x;
	height: 10px;
	margin-top: -1px;
}
/* IE6 */
* html .ShadowBg
{
	background: url(../images/HomePageImage/LoginImage/ShadowBg.gif) repeat-x;
	height: 10px;
}
/* IE7 */
* + html .ShadowBg
{
	background: url(../images/HomePageImage/LoginImage/ShadowBg.gif) repeat-x;
	height: 10px;
	margin-top: -1px;
}
.TabCss
{
	list-style: none;
	border:0px;
}
.TabCss li
{
	float: left;
	height: 27px;
	line-height:27px;
	font-size:13px;
}
.TabCss li span
{
	display: block;
	float: left;
	height:27px;
	cursor:pointer;
	font-weight:bold;
}


.TabCss .aCSS
{
	text-decoration: none;
	color: Black;
}
/*第一块白色 */.firstWhite
{
	background: url(../images/HomePageImage/tabImage/firstWhite.gif) no-repeat;
	width: 24px;
}
/*第一块蓝色*/.firstBlue
{
	background: url(../images/HomePageImage/tabImage/firstBlue.gif) no-repeat;
	width: 24px;
}
/*白色背景*/.whitebg
{
	display:block;
	width:137px;
    color:White;
	background: url(../images/HomePageImage/tabImage/whitebg.gif);
}
/*中间白色在右边*/.rightWhiteOfCenter
{
	background: url(../images/HomePageImage/tabImage/rightWhiteOfCenter.gif) no-repeat;
	width: 24px;
}
/*中间白色在左边*/.leftWhiteOfCenter
{
	background: url(../images/HomePageImage/tabImage/leftWhiteOfCenter.gif) no-repeat;
	width: 24px;
}
/*蓝色背景*/.bluebg
{
	display:block;
	width:137px;
    color:Black;
	background: url(../images/HomePageImage/tabImage/bluebg.gif);
}
/*中间蓝色在右边*/.rightBlueOfCenter
{
	background: url(../images/HomePageImage/tabImage/rightBlueOfCenter.gif) no-repeat;
	width: 24px;
}
/*末尾的蓝色*/.lastBlue
{
	background: url(../images/HomePageImage/tabImage/lastBlue.gif) no-repeat right;
	width: 24px;

}
/*末尾白*/.lastWhite
{
	background: url(../images/HomePageImage/tabImage/lastWhite.gif) no-repeat right;
	width: 24px;
	
}
/*
工具条默认皮肤样式
*/

html{
	background-image:url(about:blank);
	background-attachment:fixed;
}
div#ABTToolbar{
	position:fixed;
	top:0px;
	left:0px;
	*position:absolute;
	*top:expression(eval(document.documentElement.scrollTop));
	width:100%;	
	padding:10px 0px;
	background:url(../../transparent/divBackgroud.gif) repeat-x;
	font-size:12px;
	text-align:center;
	z-index:1000;
	line-height:0px;    
}
div#ABTToolbar *{padding:0px;margin:0px;}

div#ABTToolbar input{
	border:1px solid #000;
	background-color:#FFF;
	height:23px;
	padding:2px 0px 0px 25px;
	margin-left:3px;
	background-image:url(../images/buttonbg.gif);
	background-repeat:no-repeat;
	font-size:12px;
	line-height:14px;
	margin-right:16px;
}
div#ABTToolbar div#hightcontrast{
	position:relative;
	display:inline;
	padding-left:3px;
}
div#ABTToolbar div#hightcontrast input{margin-left:0px;}
div#ABTToolbar div#hightcontrast ul#hightcontrastlist{
	position:absolute;
	width:138px;
	top:17px;
	*top:23px;
	left:3px;
	border:1px solid #cccccc;
	text-align:left;
	padding:0px;
	text-align:center;
	line-height:18px;
	background:url(../../transparent/hightcontrastBg.gif) repeat-x;
	*margin-top:-8px;
	margin-top:-8px \9;
}
div#ABTToolbar div#hightcontrast ul#hightcontrastlist li{
	list-style-type:none;
	width:128px;
	margin:5px;
}
div#ABTToolbar input#textmodebutton{padding-left:29px;background-position:2px 0px;background:url(../../transparent/pureDocument.gif) no-repeat;width:56px;height:52px;border:none;}
div#ABTToolbar input#textmodebutton:hover{background:url(../../transparent/pureDocumentHover.gif) no-repeat;}

div#ABTToolbar input#pagezoomin{background-position:2px -63px;background:url(../../transparent/pagezoomin.gif) no-repeat;width:56px;height:52px;border:none;}
div#ABTToolbar input#pagezoomin:hover{background:url(../../transparent/pagezoominHover.gif) no-repeat;}

div#ABTToolbar input#pagezoomout{background-position:2px -84px;background:url(../../transparent/pagezoomout.gif) no-repeat;width:56px;height:52px;border:none;}
div#ABTToolbar input#pagezoomout:hover{background:url(../../transparent/pagezoomoutHover.gif) no-repeat;}

div#ABTToolbar input#fontzoomin{background-position:2px -21px;}
div#ABTToolbar input#fontzoomout{background-position:2px -42px;width:90px;}

div#ABTToolbar input#hightcontrastbutton{background-position:2px -189px;background:url(../../transparent/hightcontrast.gif) no-repeat;width:56px;height:52px;border:none;}
div#ABTToolbar input#hightcontrastbutton:hover{background:url(../../transparent/hightcontrastHover.gif) no-repeat;}

div#ABTToolbar input#guidesbutton{background-position:2px -105px;background:url(../../transparent/dimension.gif) no-repeat;width:56px;height:52px;border:none;}
div#ABTToolbar input#guidesbutton:hover{background:url(../../transparent/dimensionHover.gif) no-repeat;}

div#ABTToolbar input#texttipsbutton{background-position:2px -210px;background:url(../../transparent/texttips.gif) no-repeat;width:56px;height:52px;border:none;}
div#ABTToolbar input#texttipsbutton:hover{background:url(../../transparent/texttipsHover.gif) no-repeat;}

div#ABTToolbar input#ABTHelpbutton{padding-left:29px;background-position:2px -126px;background:url(../../transparent/help.gif) no-repeat;width:56px;height:52px;border:none;}
div#ABTToolbar input#ABTHelpbutton:hover{background:url(../../transparent/helpHover.gif) no-repeat;}

div#ABTToolbar input#resetbutton{background-position:2px -147px;background:url(../../transparent/reload.gif) no-repeat;width:56px;height:52px;border:none;}
div#ABTToolbar input#resetbutton:hover{background:url(../../transparent/reloadHover.gif) no-repeat;}

div#ABTToolbar input#voicebutton{background-position:2px -147px;background:url(../../transparent/reload.gif) no-repeat;width:56px;height:52px;border:none;}
div#ABTToolbar input#voicebutton:hover{background:url(../../transparent/reloadHover.gif) no-repeat;}


div#ABTToolbar input#closetoolbar{background-position:2px -168px;background:url(../../transparent/close.gif) no-repeat;width:56px;height:52px;border:none;}

div#guidesbox{
	width:100%;
	height:0px;
	line-height:0px;
	font-size:0px;
}
div#guidesbox div#guidesXLine{
	position:absolute;
	width:100%;
	height:4px;
	left:0px;
	top:0px;
	font-size:0px;
	line-height:0px;
	z-index:999;
}
div#guidesbox div#guidesYLine{
	position:absolute;
	width:4px;
	height:100%;
	top:0px;
	font-size:0px;
	line-height:0px;
	z-index:998;
}
div.skipelement{
	width:0px;
	height:0px;
	line-height:0px;
	font-size:0px;
}
div#abthelpbox{
	position:fixed;
	top:90px;
	left:50%;
	*position:absolute;
	*bottom:auto;
	*top:expression(eval(document.documentElement.scrollTop+90));
	margin-left:-313px;
	width:620px;
	height:350px;
	z-index:100;
	border:3px solid #000;
	background:#FFF;
	font-size:12px;
	line-height:14px;
	text-align:left;
	padding:10px;
}
div#abthelpbox div#helptitle{
	font-size:14px;
	line-height:16px;
	padding:0px 0px 5px 0px;
	width:620px;
	margin:0px auto 10px auto;
	border-bottom:2px solid #CCC;
	font-weight:bold;
}
div#abthelpbox div#helpcontent{
	width:620px;
	height:318px;
}
div#abthelpbox div#helpcontent iframe{
	width:620px;
	height:318px;
	overflow-y:scroll;
}
div#abthelpbox div#closehelpbox{
	float:right;
	margin-top:-353px;
	width:18px;
	height:18px;
	font-size:0px;
	line-height:0px;
}
div#abthelpbox div#closehelpbox a{
	display:block;
	width:18px;
	height:18px;
	background:url(../images/close1.gif) no-repeat left top;
}
div#gettextmessagebox{
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
	text-align:center;
	*position:absolute;
	*bottom:auto;
	*top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
	border-top:2px solid #000;
	background:#CCC;
	height:140px;
	z-index:1000;
	/*overflow:hidden;*/
}
div#gettextmessagebox div#closetextmessagebox{
	float:right;
	width:18px;
	height:18px;
	font-size:0px;
	line-height:0px;
	padding:8px 8px 0px 0px;
}
div#gettextmessagebox div#closetextmessagebox a{
	display:block;
	width:18px;
	height:18px;
	line-height:0px;
	background:url(../images/close2.gif) no-repeat left top;
}
div#gettextmessagebox div#textbgbuttonbox{
	float:right;
	height:18px;
	line-height:18px;
	padding:8px 8px 0px 0px;
}
div#gettextmessagebox div#pinyinbuttonbox{
	float:right;
	height:18px;
	line-height:18px;
	padding:8px 8px 0px 0px;
}
div#gettextmessagebox div#gettextmessagecontent{
	clear:both;
	width:90%;
	padding-top:20px;
	font-size:26px;
	line-height:26px;
	line-height:46px;
    height:50px;
    line-height:50px;
	
}
div#gettextmessagebox div#gettextmessagecontent span{
	display:inline-block;
	padding:20px 2px;
	margin-top:-20px;
	height:28px;
	width:40px;
	font-size:26px;
	line-height:28px;
}
div#gettextmessagebox div#gettextmessagecontent span sup{
	display:block;
	margin-top:-47px;
	font-size:16px;
	line-height:20px;
	width:30px;
}
*/
/*左右图模式设置*/
/*图片规格1*110px*/
.HeaderMainBg
{
 background:url("Image/HomePageImage/HeaderImage/OnepxBg2.jpg") no-repeat;
}




/*导航菜单样式设置 图片规格：1*35px*/
.HeaderStyle .SetNavigationBar
{
	background: url("../images/HomePageImage/HeaderImage/Navbg.gif") repeat-x;
}
/*广告图位图片1设置 广告图片规格270*50px*/
.HeaderStyle .Advertisement .SetAdvertisementOne
{
	background: url("../images/HomePageImage/HeaderImage/Advertisement1.gif") no-repeat;
}
/*广告图位图片2设置 广告图片规格270*50px*/
.HeaderStyle .Advertisement .SetAdvertisementTwo
{
	background: url("../images/HomePageImage/HeaderImage/Advertisement2.gif") no-repeat;
}
/*未登录样式*/
.login
{
	height: 132px;
	width: 266px;
}
.login .loginbtn
{
	float: left;
	height: 131px;
	width: 27px;
}

.login .loginbtn .WhiteFirst
{
	background: url(../images/HomePageImage/LoginImage/WhiteFirst.gif) no-repeat right;
	height: 66px;
	width: 27px;
}
.login .loginbtn .BlueFirst
{
	background: url(../images/HomePageImage/LoginImage/BlueFirst.gif) no-repeat right;
	height: 66px;
	width: 27px;
}
.login .loginbtn .BlueLast
{
	background: url(../images/HomePageImage/LoginImage/BlueLast.gif) no-repeat top;
	height: 65px;
	width: 27px;
}
.login .loginbtn .WhiteLast
{
	background: url(../images/HomePageImage/LoginImage/WhiteLast.gif) no-repeat top;
	height: 65px;
	width: 27px;
}

.login .loginmain
{
	background: url(../images/HomePageImage/LoginImage/LoginBg.gif) repeat-x;
	height: 131px;
	width: 230px;
	float: left;	
}
.login .LoginLeft
{
	background: url(../images/HomePageImage/LoginImage/loginedLeft.gif) no-repeat right;
	height: 131px;
	width: 5px;
	float: left;
}
.login .LoginRight
{
	background: url(../images/HomePageImage/LoginImage/LoginRight.gif) no-repeat right;
	height: 131px;
	width: 5px;
	float: left;
}
.login .loginmain2
{
	background: url(../images/HomePageImage/LoginImage/LoginBg2.gif) repeat-x;
	height: 131px;
	width: 230px;
	float: left;	
}
.login .LoginRight2
{
	background: url(../images/HomePageImage/LoginImage/LoginRight2.gif) no-repeat right;
	height: 131px;
	width: 5px;
	float: left;
}
.login .loginmain .loginmainarae
{
	width: 210px;
	height: 110px;
	margin: 12px 12px 7px 12px;
}

.login .loginmain .loginmainarae .divtext
{
	float: left;
}
.login .loginmain .loginmainarae .divtext .text
{
	width: 145px;
	border: 1px solid #c7d0e3;
	height: 21px;
	line-height: 21px;
	color:Gray;
	 padding-left:5px;
}
.login .loginmain .loginmainarae .divtext .textuserbgch
{
	
}
.login .loginmain .loginmainarae .divtext .textuserbgen
{
	background: url(../images/HomePageImage/LoginImage/UserInputBgEN.gif) no-repeat left;
}
.login .loginmain .loginmainarae .divtext .textpasswordbgch
{
	background: url(../images/HomePageImage/LoginImage/PasswordBgCN.gif) no-repeat left;
}
.login .loginmain .loginmainarae .divtext .textpasswordbgeh
{
	background: url(../images/HomePageImage/LoginImage/PasswordBgEN.gif) no-repeat left;
}
.login .loginmain .loginmainarae .divtext .righttext
{
	margin-top: 7px;
	margin-top: 5px!improtant;
}
.login .loginmain .loginmainarae .loginbtnimg
{
	float: right;
	margin-top: 1px;
	width:51px;
	height:51px;
	background:url(../images/HomePageImage/LoginImage/PersonLoginBtn.gif) no-repeat;
}
.login .loginmain .loginmainarae .loginbtnimg2
{
	float: right;
	margin-top: 1px;
	width:51px;
	height:51px;
	background:url(../images/HomePageImage/LoginImage/CompanyLoginBtn.gif) no-repeat;
}
/*.login .loginmain .loginmainarae .loginbtnimg img
{
	vertical-align: middle;
}*/
.login .loginmain .loginmainarae .divchk
{
	margin-top: 6px;
	margin-top: 3px!improtant;
	height: 22px;
	line-height: 23px;
}

.login .loginmain .loginmainarae .divchk .zd
{
	float: left;
}

.login .loginmain .loginmainarae .divchk .zd .zdchk
{
	vertical-align: middle;
	margin-left: 4px;
	margin-left: 0px!improtant;
}
.login .loginmain .loginmainarae .divchk .zd .zdword
{
	margin-left: 2px;
	letter-spacing: 1px;
	line-height: 23px;
}
.login .loginmain .loginmainarae .divchk .zdfg
{
	float: right;
	vertical-align: middle;
	letter-spacing: 1px;
	line-height: 23px;
}
.login .loginmain .loginmainarae .registerdiv
{
	margin-top: 2px;
	margin-top: 3px!improtant;
}
.login .loginmain .loginmainarae .registerdiv .personalregister
{
	float: left;
	background: url(../images/HomePageImage/LoginImage/PersonalRegister.gif) no-repeat;
	width: 101px;
	height: 28px;
}
.login .loginmain .loginmainarae .registerdiv .businessregister
{
	float: right;
	background: url(../images/HomePageImage/LoginImage/BusinessRegister.gif) no-repeat;
	width: 101px;
	height: 28px;
}

/*个人首页登陆后登陆框的样式*/
.PersonalLogined
{
	height: 132px;
	width: 266px;
}
.PersonalLogined .loginbtn
{
	float: left;
	height: 131px;
	width: 5px;
	background: url(../images/HomePageImage/LoginImage/LoginedLeft.gif) no-repeat left;
}
.PersonalLogined .loginmain
{
	background: url(../images/HomePageImage/LoginImage/LoginBg.gif) repeat-x;
	height: 131px;
	width: 252px;
	float: left;
}
.PersonalLogined .LoginRight
{
	background: url(../images/HomePageImage/LoginImage/LoginRight.gif) no-repeat right;
	height: 131px;
	width: 5px;
	float: left;
}
.PersonalLogined .loginmain .loginmainarae
{
	width: 238px;
	height: 110px;
	margin: 9px auto;
}
.PersonalLogined .loginmain .loginmainarae .NameLay
{
 margin-top:2px;
}
.PersonalLogined .loginmain .loginmainarae .NameLay a
{
 color:#666666;
}
.PersonalLogined .loginmain .loginmainarae .NameLay a:hover
{
 color:#F60;
}
.PersonalLogined .loginmain .loginmainarae .Strong
{
 font-weight:bold;
}
.PersonalLogined .loginmain .loginmainarae .TimeShow
{
  text-align:left;
  border-bottom:1px solid #a0d1f0; 
  margin-top:5px;
  padding-bottom:3px;
}

.PersonalLogined .loginmain .loginmainarae .RapidEntry
{
  float:left;
  width:79px;
}
.PersonalLogined .loginmain .loginmainarae .RapidEntry a
{
   color:#1192e4;
}
.PersonalLogined .loginmain .loginmainarae .RapidEntry span
{
   color:#ff5a00;
}
/*谁看过我*/
.PersonalLogined .loginmain .loginmainarae .FirstImage
{
	background: url(../images/HomePageImage/LoginImage/ViewedCoachesResume.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
/*谁看过我Hover*/
.PersonalLogined .loginmain .loginmainarae .FirstImageHover
{
	background: url(../images/HomePageImage/LoginImage/ViewedCoachesResumeHover.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
/*简历订阅*/
.PersonalLogined .loginmain .loginmainarae .SecendImage
{
	background: url(../images/HomePageImage/LoginImage/MyResume.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
/*简历订阅Hover*/
.PersonalLogined .loginmain .loginmainarae .SecendImageHover
{
	background: url(../images/HomePageImage/LoginImage/MyResumeHover.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
/*简历管理*/
.PersonalLogined .loginmain .loginmainarae .ThirdImage
{
	background: url(../images/HomePageImage/LoginImage/Email.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
/*简历管理Hover*/
.PersonalLogined .loginmain .loginmainarae .ThirdImageHover
{
	background: url(../images/HomePageImage/LoginImage/EmailHover.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}

/*单位用户登陆后的显示*/
.EnterpriseLogined
{
	height: 132px;
	width: 266px;
}
.EnterpriseLogined .loginbtn
{
	float: left;
	height: 131px;
	width: 5px;
	background: url(../images/HomePageImage/LoginImage/LoginedLeft.gif) no-repeat left;
}
.EnterpriseLogined .loginmain
{
	background: url(../images/HomePageImage/LoginImage/LoginBg.gif) repeat-x;
	height: 131px;
	width: 252px;
	float: left;
}
.EnterpriseLogined .LoginRight
{
	background: url(../images/HomePageImage/LoginImage/LoginRight.gif) no-repeat right;
	height: 131px;
	width: 5px;
	float: left;
}
.EnterpriseLogined .loginmain .loginmainarae
{
	width: 238px;
	height: 110px;
	margin: 9px auto;
}
.EnterpriseLogined .loginmain .loginmainarae .NameLay
{
 margin-top:2px;
}
.EnterpriseLogined .loginmain .loginmainarae .NameLay a
{
 color:#666666;
}
.EnterpriseLogined .loginmain .loginmainarae .NameLay a:hover
{
 color:#F60;
}
.EnterpriseLogined .loginmain .loginmainarae .Strong
{
 font-weight:bold;
}
.EnterpriseLogined .loginmain .loginmainarae .TimeShow
{
  text-align:left;
  border-bottom:1px solid #a0d1f0; 
  margin-top:5px;
  padding-bottom:3px;
}

.EnterpriseLogined .loginmain .loginmainarae .RapidEntry
{
  float:left;
  width:79px;
}
.EnterpriseLogined .loginmain .loginmainarae .RapidEntry a
{
   color:#1192e4;
}
.EnterpriseLogined .loginmain .loginmainarae .RapidEntry span
{
   color:#ff5a00;
}
/*谁看过我*/
.EnterpriseLogined .loginmain .loginmainarae .FirstImage
{
	background: url(../images/HomePageImage/LoginImage/ViewedCoachesResume.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
/*谁看过我Hover*/
.EnterpriseLogined .loginmain .loginmainarae .FirstImageHover
{
	background: url(../images/HomePageImage/LoginImage/ViewedCoachesResumeHover.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
/*简历订阅*/
.EnterpriseLogined .loginmain .loginmainarae .SecendImage
{
	background: url(../images/HomePageImage/LoginImage/MyResume.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
/*简历订阅Hover*/
.EnterpriseLogined .loginmain .loginmainarae .SecendImageHover
{
	background: url(../images/HomePageImage/LoginImage/MyResumeHover.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
/*简历管理*/
.EnterpriseLogined .loginmain .loginmainarae .ThirdImage
{
	background: url(../images/HomePageImage/LoginImage/Email.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
/*简历管理Hover*/
.EnterpriseLogined .loginmain .loginmainarae .ThirdImageHover
{
	background: url(../images/HomePageImage/LoginImage/EmailHover.gif) no-repeat  15px 0px;
	height:24px;
	padding-left:40px;
	padding-top:2px;
	cursor:pointer;
	margin:10px 0px;
}
.AreaList
      {
       
      }
      .AreaList .TdHover
      {
        background-color: #dbeeff;
        cursor:pointer;
      }
      .AreaList .SetWidth
      {
       width:85px;
      }
      .AreaList .SelectedShow
    {
	   width:100%;
       line-height:25px;
    }
     .AreaList .SelectedShow  ul li 
     {
       line-height :25px;
       float:left;
       margin-right:10px;
       width:160px;
       cursor:pointer;
     }
     .AreaList table
     {
      width:100%;
     }
      .SetAreaListWidth
      {
       width:600px;
      }
      .AreaList .CityList
      {
       width:450px;
       margin-left:88px;
       _margin-left:92px;
      }
      .AreaList .CityList .CityChecked  input
      {
        display:none;
      }
      .AreaList .CityList tr
      {
       line-height:30px;
      }
      .AreaList .CityListShow
      {
       height:120px;	
      }
    .AreaList .dashed /*虚线*/
    {
        width: 590px;
        height: 1px;
        overflow: hidden; /*IE6*/
        margin-left: 3px;
        margin-bottom: 3px;
        background: url("../images/zonechoice/dashedOne.gif");
    }
    .AreaList .MainCityShow
     {
         background:#f8f8f8;
         font-weight:bold;
         font-size:14px;
         line-height:30px;
         padding-left:5px;
     }
   
    .AreaList .MainCityShow .ProvinceText
    {
    	 margin-left:23px;
         margin-left:19px\9;
         cursor:pointer;
    }
      @media screen and (-webkit-min-device-pixel-ratio:0) {
			.AreaList .MainCityShow .ProvinceText
		{
			 margin-left:16px;
			 cursor:pointer;
		}
	}
	

    .AreaList .ProvinceList .ProvinceBg
    {
        background:#f8f8f8;
        line-height:25px;
    }
    .AreaList .ProvinceList tr
    {
        line-height:25px;
    }
    .AreaList .ProvinceList tr td
    {
         padding-left:5px;
         padding-top:5px;
         cursor:pointer;
    }
    .AreaList .ProvinceList tr td  input
    {
       display:none;
    }
    .AreaList .Others .OthersBg
    {
        background:#f8f8f8;
        line-height:25px;
    }
    .AreaList .Others tr
    {
        line-height:25px;
    }
    .AreaList .Others tr td
    {
         padding-left:5px;
         padding-top:5px;
    }
        .AreaList .Others
    {
         margin-bottom:20px;
    }
    .showChildren .ProvinceCheckedBar
    {
         text-align:left;
         font-weight:bold;
         font-size:13px;
         cursor:pointer;
         line-height:30px;
         padding-left:10px;
         color: #1190ff;
         border-bottom:1px dashed gray;
    }
    .showChildren .ShowDistrict
    {
        margin-bottom:20px;
    }
        .showChildren .ShowDistrict tr td
    {
         line-height:25px;
    }
    .SetColorBlue
    {
        color: #1190ff;
        font-weight:bold;
        font-size:14px;
    }
    .SetBold
    {
     font-weight:bold;	
    }
    .SetColorBlueTd
    {
        color: #1190ff;
        font-weight:bold;
        width:77px;
    }
    .SetPadding
    {
        padding-top:5px;
    }
	/*内容样式*/
.setMainCityWith
{
    width:816px;
}
/*内容table样式*/
.MainCity .allCitys
{
    height:30px;
    line-height:30px; 
    color:#168ffd;
    font-size:14px;
}
.MainCity .dotted
{
    width:786px; 
    height:1px; 
    margin-left:15px; 
    border-bottom:1px dashed black;
    _overflow:hidden;
}
/*内容城市的样式*/
.MainCity .city
{
    margin-top:5px;
}
.MainCity .city table.city1
{
    width:408px; 
    float:left; 
    text-align:left;
}
.MainCity .city table.city2
{
    width:408px;
    float:right;
}
/*内容省的样式*/
.MainCity .provices
{
    margin-top:10px;
    width:816px;
    height:auto;
}
.MainCity .provices .allCitys
{
    width:816px;
    height:30px;
    line-height:30px; 
    background:#f7f7f7; 
    color:#168ffd;
    font-size:14px;
}
.MainCity .provices table th
{
    width:25px;
}
/*表格td样式*/
.MainCity tr
{
    height:20px;
    line-height:20px;
}
.MainCity th.firstth
{
    color:#168ff5;
    padding-left:3px;
}
.MainCity a
{
    color:Black;
    text-decoration:none;
}
.MainCity td.Two
{
    width:45px;
}
.MainCity td.Three
{
    width:55px;
}
.MainCity td.Four
{
    width:65px;
}
.MainCity div.provices table td
{
    padding-left:5px;
}
.MainCity td.provicesThree
{
    width:90px;
}

.MainCity td.provicesSix
{
    width:120px;
}
.MainCity td.Blue
{
    color:#168ffd;
}

.MainCity .GzcyLower
{

}
.MainCity td.GzcyHigh
{
	background:#168ff5;
    cursor:pointer;
    color:White;
}
.MainCity .Strong
{
 font-weight:700;	
}
/*div中strong样式*/

.MainCity div.allCitys
{
    font-size:14px;
    font-weight:700;
}
/*内容样式*/
.setFunctionCategory
{
    width:908px;
}
/*表格样式*/
.FunctionCategory table
{
    margin-left:5px;
    width:898px;
    margin-bottom:10px;
}
.FunctionCategory table tr.showSelect
{
    height:30px;
    line-height:30px;
}
.FunctionCategory table tr.line td div.dotted
{
    border-top:1px dashed gray;
    height:5px;

}
.FunctionCategory table tr.addTd
{
    background:#F7F7F7;
}
.FunctionCategory table tr td.FirstTd
{
    color:#168FFD;
    width:150px;
}
div.PublicframeTwo div.listpub
{
	width: 325px;
	_width: 321px;
	float: left;
	margin-right: 5px;
	_margin-right: 2px;
}
div.PublicframeTwo div.listpub dl
{
	width: 300px;
	padding: 4px 8px;
}
div.PublicframeTwo div.listpub dl dt
{
	width: 100px;
	height: 120px;
	margin-top: 4px;
	float: left;
}
div.PublicframeTwo div.listpub dl dt span
{
	display: block;
	width: 100px;
	height: 20px;
	line-height: 20px;
}
div.PublicframeTwo div.listpub dl dd
{
	text-align: left;
	color: #006cd1;
	width: 150px;
	float: left;
	margin-left: 8px;
	line-height: 22px;
	background: url("../images/HomePageImage/sy_xxjz/Sy_Grzx_Sxjz_listimg.gif") no-repeat 5px 10px;
	height: 22px;
	text-indent: 1em;
	overflow: hidden;
	list-style-type: disc;
}
div.PublicframeTwo div.listpub dl dd a:link
{
	color: #006cd1;
	text-decoration: none;
}
div.PublicframeTwo div.listpub dl dd a:visited
{
	color: #006cd1;
	text-decoration: none;
}
div.PublicframeTwo div.listpub dl dd a:hover
{
	color: #F60;
	text-decoration: none;
	cursor: pointer;
}
div.PublicframeTwo div.listpub dl dd a:active
{
	color: #006cd1;
	text-decoration: none;
}
.SetPositionOne
{
	float: left;
	width: 327px;
	_width: 323px;
}
.SetMarginLeft
{
	margin-left: 4px;
}
.SetMarginTop
{
	margin-top: 10px;
}
#List_mqzp ul
{
	margin: 10px 0px;
}
#List_mqzp ul li
{
	float: left;
	width: 300px;
	_width: 290px;
	text-align: left;
	padding-left: 16px;
	height: 22px;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 12px;
	line-height: 22px;
	margin-bottom: 5px;
	background: url("../images/qiyexinxiImage/grey_point.gif") no-repeat left;
}
#List_rdzp ul
{
	margin: 10px 0px;
}
#List_rdzp ul li
{
	float: left;
	width: 300px;
	_width: 290px;
	text-align: left;
	padding-left: 16px;
	height: 22px;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 12px;
	line-height: 22px;
	margin-bottom: 5px;
	background: url("../images/qiyexinxiImage/grey_point.gif") no-repeat left;
}
#List_Tab .TabContentStyle
{
	border: 1px solid #b6d3eb;
	border-top: none;
	overflow: hidden;
	background: #FFFFFF;
	padding-bottom: 10px;
}
#List_Tab ul
{
	float: left;
}
#List_Tab_Content ul li
{
	float: left;
	width:300px;
	_width: 290px;
	text-align: left;
	padding-left: 16px;
	margin-left: 12px;
	height: 22px;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 5px;
	background: url("../images/qiyexinxiImage/grey_point.gif") no-repeat left;
}
.AdvertisementStyle
{
	width: 990px;
}
.AdvertisementStyle ul li
{
	float: left;
	width: 322px;
	height: 53px;
	margin: 3px;
	_margin: 2px;
	border: 1px solid #eee;
}
.position
{
	margin-left: 1em;
}
.footer
{
	width: 990px;
	margin: 0 auto;
}
.friendlink
{
	height: 65px;
	margin: 2px 2px;
	background: url(../images/HomePageImage/FooterImage/link_bg.gif);
}
.footer .friendlink .friendlink_left
{
	width: 17px;
	height: 65px;
	float: left;
	background: url(../images/HomePageImage/FooterImage/link_left.gif) no-repeat left;
}
.footer .friendtext
{
	height: 65px;
	background: url(../images/HomePageImage/FooterImage/linktext_right.gif) no-repeat right;
	float: left;
	padding-right: 5px;
	color: #fff;
}
.footer .friendtext span
{
	float: left;
	height: 65px;
	width:90px;
	border: none;
	letter-spacing: 2px;
	line-height: 62px;
	line-height: 65px!improtant;
	font-size: 14px;
	background: url(../images/HomePageImage/FooterImage/linktext_bg.gif);
	cursor:default;
}
.footer .friendlink .friendlink_right
{
	width: 5px;
	height: 65px;
	float: right;
	background: url(../images/HomePageImage/FooterImage/link_right.gif) no-repeat right;
}
.footer .friendlink .friendlinklist
{
	float: left;
	height: 65px;
}
.footer .friendlink .friendlinklist ul
{
	margin-top: 16px;
	margin-left: 12px;
}
.footer .friendlink .friendlinklist li
{
	border: 1px solid #b6d3eb;
	list-style-type: none;
	width: 90px;
	font-size: 14px;
	margin-left: 9px;
	padding: 5px 9px;
	float: left;
	vertical-align: middle;
}
.footer .footertext
{
	width: 990px;
	height: 109px;
	background: url(../images/HomePageImage/FooterImage/linkbottom_bg.gif) repeat-x;
	padding-top: 15px;
}

.HeaderStyle
{
	width: 100%;
	min-width:990px;
	height: 184px;
	overflow:hidden;
}

/*整图模式*/
.HeaderStyle .HeaderMainBg
{
	width: 990px;
	height: 184px;
	margin: 0px auto;
}

.HeaderStyle .HeaderMainBg .HeaderMainLeft
{
	width: 280px;
	height: 184px;
	float: left;
}
.HeaderStyle .HeaderMainBg .HeaderMainLeft .logo
{
	width: 360px;
	height: 88px;
	position:static;
	margin-top:25px;
	top: 7px;
	left: 20px;
	#left: -20px;
	z-index:0;
}

.HeaderStyle .HeaderMainBg .HeaderMainRight
{
	width: 280px;
	height: 184px;
	float: right;
}
/*导航条*/
.HeaderStyle .NavigationBar
{
	width: 990px;
	height: 35px;
	margin: 0px auto;
	background: blue;
}

.HeaderStyle .NavigationBar ul
{
	margin-left: 60px;
}
* html .HeaderStyle .NavigationBar ul
{
	margin-left: 30px;
}
.HeaderStyle .NavigationBar ul li
{
	float: left;
	line-height: 35px;
    line-height: 36px\9;
	font-size: 14px;
	font-weight: 900;
	color: White;
	margin-left: 30px;	
}
.HeaderStyle .NavigationBar ul li a
{
	color: White;
	padding:3px 10px;
    #padding-top:5px;
	
}
.HeaderStyle .NavigationBar ul li a:hover
{
	color: #b75a00;
	width: 80px;
	height: 24px;
	padding:3px 10px;
    #padding-top:5px;
	background: url("../images/HomePageImage/HeaderImage/Nav_sybutton.gif") repeat-x;
}



		
#sonMenuList ul li
{	
    list-style: none;
	font-size: 12px;
    font-weight:normal;
	line-height:30px;
	color:#666666;
    clear:both;
    display:block;
    width:140px;
	padding:0px;
	margin:0px;
	background: #e9f6fe;
	text-align:left;
	text-indent:1em;
}

#sonMenuList ul li a
{
    color:#666666;
}
			
#sonMenuList ul li a:hover
{	
    background:transparent;
	color:White;
}
			
#sonMenuList ul li:hover
{	
    font-weight: 600;
    background: #0298fc;
}
			


.HeaderStyle .NavigationBar .SelectStyle
{
	color: #b75a00;
	padding:3px 10px;
    #padding-top:5px;
    #padding-bottom:5px;
	width: 80px;
	height: 24px;
	background: url("../images/HomePageImage/HeaderImage/Nav_sybutton.gif") repeat-x;
}

.HeaderStyle .Advertisement
{
	width: 550px;
	height: 100%;
	float: right;
}

.HeaderStyle .Advertisement .AdvertisementOne
{
	width: 270px;
	height: 50px;
	float: left;
	margin-top: 13px;
}
.HeaderStyle .Advertisement .AdvertisementTwo
{
	width: 270px;
	height: 50px;
	float: right;
	margin-top: 13px;
}
.HeaderStyle .HeaderMain
{
	width: 990px;
	height: 75px;
	margin: 0px auto;
	position: relative;
	top: -110px;
	left:0px;	
}
.HeaderStyle .HeaderMain .HeaderMainRight
{
	float: right;
	height: 75px;
	width: 145px;
}
.HeaderStyle .HeaderMain .HeaderMainRight .HeaderMainRightUp
{
	height: 45px;
}
.HeaderStyle .HeaderMain .HeaderMainRight .HeaderMainRightUp .Phone
{
	width: 100px;
	height: 23px;
	line-height: 23px;
	text-align: left;
	margin: 0px auto;
}
.HeaderStyle .HeaderMain .HeaderMainRight .HeaderMainRightUp .Phone .PhoneImg
{
	width: 14px;
	height: 14px;
	float: left;
	margin-top: 5px;
	background: url("../images/HomePageImage/HeaderImage/phone.jpg") no-repeat;
}
.HeaderStyle .HeaderMain .HeaderMainRight .HeaderMainRightUp .Telephone
{
	width: 100px;
	text-align: left;
	margin: 0px auto;
}
.HeaderStyle .HeaderMain .HeaderMainRight .HeaderMainRightUp .Telephone .TelephoneImg
{
	width: 14px;
	height: 14px;
	float: left;
	margin-top: 2px;
	background: url("../images/HomePageImage/HeaderImage/Telephone.jpg") no-repeat;
}
.HeaderStyle .HeaderMain .HeaderMainRight .Quicklink
{
	width: 145px;
	height: 30px;
	
	cursor:pointer;
}
.HeaderStyle .HeaderMain .HeaderMainRight .Quicklink a
{
    width: 145px;
	height: 30px;
	
}
.HeaderStyle .HeaderMain .ShowCity
{
	float: right;
	margin-top: 35px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
	margin-right: 15px;
	color: Blue;
}


/*二级菜单条s*/
  .ListBar
    {
          width:975px;
          margin:0px auto;
    	  text-align:center;
    	  background:url('../images/HomePageImage/HeaderImage/ListBarCenter.gif') repeat-x;
    	  height:35px;
    	  zoom:1;
    }
    .ListBar li
    {
    	 float:left;
          margin-left:20px;
          line-height:30px;      
          padding-left:20px;
    }
        .ListBar .Selected
    {
          background:url('../images/HomePageImage/HeaderImage/ListBarTriangle.gif') no-repeat left;
    }
        .ListBar .left
    {
    	  background:url('../images/HomePageImage/HeaderImage/ListBarLeft.gif') no-repeat left;
    	  width:12px;
    	  height:35px;
    	  float:left
    	 
    }
    .ListBar .right
    {
    	 background:url('../images/HomePageImage/HeaderImage/ListBarRight.gif') no-repeat right;
    	 width:12px;
    	 height:35px;
    	 float:right;
    }
.resumeMessage
{
    width: 346px;
    margin-left:10px;
}
.resumeMessageheaderOne
{
    color:#333333;
    
    height:30px;
}
.resumeMessageheaderOne th
{
    text-align:left;
}
.resumeMessageheaderOther
{
    height:25px;
}
.resumeMessageheaderOther
{
    text-align:left;
}


.hp_fwdt
{
    float:left;
    width:420px;
    height:220px;
    margin-top:10px;
}
.hp_fwdt ul
{
    margin-left:25px;
}

.hp_fwdt ul li
{
   display:block;
   line-height:23px;
   height:23px;
}
.hp_fwdt ul li a
{
    
    margin-left:5px;
    float:left;
    width:380px;
  
}
.listDate
{
 
    float:left;
}

.Square2
{
    background: url("../images/Sy_HRsqImage/square2.gif") no-repeat 0px  8px;
    padding-left:15px;
    line-height:25px;
    text-align:left;
   
}
.LinkButton
{
    width:223px;
    height:81px;
    margin:10px auto 10px;
    cursor:pointer;
    background:url("../images/Sy_HRsqImage/LinkButton.gif") no-repeat;
}
.LinkButton_Hover
{
    width:223px;
    height:81px;
    margin:10px auto 10px;
    cursor:pointer;
    background:url("../images/Sy_HRsqImage/LinkButton_hover.gif") no-repeat;
}
.LinkButton1
{
    width:223px;
    height:81px;
    margin:5px auto 10px;
    cursor:pointer;
    background:url("../images/Sy_HRsqImage/LinkButton1.gif") no-repeat;
}
.LinkButton1_Hover
{
    width:223px;
    height:81px;
    margin:5px auto 10px;
    cursor:pointer;
    background:url("../images/Sy_HRsqImage/LinkButton1_hover.gif") no-repeat;
}
.LinkButton2
{
    display:none;
    width:223px;
    height:55px;
    margin:5px auto 15px;
    cursor:pointer;
    background:url("../images/Sy_HRsqImage/LinkButton2.gif") no-repeat;
}
.LinkButton2_Hover
{
    display:none;
    width:223px;
    height:55px;
    margin:5px auto 15px;
    cursor:pointer;
    background:url("../images/Sy_HRsqImage/LinkButton2_hover.gif") no-repeat;
}




/*图片滚动样式*/
.photo
{
    width:255px;
    height:208px;
    float:left;
    margin-top:8px;
    margin-left:8px;
}
.photo dl
{     
    width:255px;
    height:208px;
    padding:0px;
    margin:0px;
    position: relative;
     
}

.photo dl dt
{
    position: absolute;
    width:255px;
    left:0px;
    font-size: 0px;
    line-height: 0px;
    z-index: 1;

   
}
.photo dl dd
{
    position:absolute;
    width:12px;
    height:12px; 
    top:190px; 
    background:#eeda2d;
    border:1px solid #e1cd23;
    font-size:10px;
    z-index:5;
    line-height:12px;
    text-align:center;
   
}
.photo dl.tagon1 dt.pic1
{
    z-index: 4;
}
.photo dl.tagon1 dd.tag1
{
    background:#f4973c;border:1px solid #ec711f;
}
.photo dl.tagon2 dt.pic2
{
    z-index: 4;
}
.photo dl.tagon2 dd.tag2
{
    background:#f4973c;border:1px solid #ec711f;
  
}
.photo dl.tagon3 dt.pic3
{
    z-index: 4;
}
.photo dl.tagon3 dd.tag3
{
    background:#f4973c;border:1px solid #ec711f;
}
.photo dl.tagon4 dt.pic4
{
    z-index: 4;
}
.photo dl.tagon4 dd.tag4
{
    background:#f4973c;border:1px solid #ec711f;
}
.photo dl.tagon5 dt.pic5
{
    z-index: 4;
}
.photo dl.tagon5 dd.tag5
{ background:#f4973c;border:1px solid #ec711f;
}
.photo dl.tagon6 dt.pic6
{
    z-index: 4;
}
.photo dl.tagon6 dd.tag6
{ background:#f4973c;border:1px solid #ec711f;
}
.photo dl dd.tag1
{
    left:130px;
}
.photo dl dd.tag2
{
    left:150px;
}
.photo dl dd.tag3
{
    left:170px;
}
.photo dl dd.tag4
{
    left:190px;
}
.photo dl dd.tag5
{
    left:210px;
    
}
.photo dl dd.tag6
{
    left:230px;
}
.setIndustryCategory
{
   width:820px;
}
/*表格样式*/
.IndustryCategory table
{
    margin-left:5px;
    margin-bottom:10px;
}
.IndustryCategory table tr.showSelect
{
    height:30px;
    line-height:30px;   
}
.IndustryCategory .line .dotted
{
    border-top:1px dashed black;
    height:5px;
}
.IndustryCategory tr.addTd
{
    background:#F7F7F7;
}
.IndustryCategory table tr td.FirstTd
{
	color:#168FFD;
    width:150px;
}

.LayerOut
{
    height:auto;
    background:white;
    font-size:12px; 
    text-align:left;
    border:1px solid #168ffd;
    position:absolute;
    top:0px;
    left:0px;
    margin:0 auto;
    display:none;
}
.LayerOut .HeaderBar
{
    height:31px; 
    line-height:31px;
    border-bottom:1px solid #168ffd; 
    background:#4876FF url(../images/zonechoice/header.gif) repeat-x;
    color:White;
}
.LayerOut .HeaderBar .LayerTitle
{
    float:left;
    margin-left:5px;
}
.LayerOut .HeaderBar .LayerBtn
{
    float:right;
    margin-right:20px;
    _margin-right:10px;
    cursor:pointer;
}
.LayerOut .HeaderBar .LayerBtn a
{
  color:white;
}
.LayerOut .HeaderBar .LayerBtn a:hover
{
  color: #F60;
}
div.Header strong,
div.allCitys strong
{
    margin-left:5px;
    font-size:14px;
}
/*层的二级菜单样式*/
.showChildren
{
	position:absolute;
	background: #F3FAFF;
	border: 1px solid #8CC9FE;
	display:none;
}
.showChildren .Strong
{
	font-weight:700;	
}
.showChildren table
{
	text-align:left;
	margin:5px 0px;
}
.showChildren table td
{
	padding:0px 10px;
	white-space:nowrap;
	cursor:pointer;
}

.LayerOut .remark
{
 padding-left:15px;
}
.LayerOut .remark .firsttd
{
	width:70px; 
	font-size:14px;
}

.LayerOut .remark .textarea
{
	width:265px; height:100px; overflow:auto;
	 padding:5px;
}
.LayerOut .remark .centertd
{
	width:85px; text-align:center; 
	border:10px solid white;
	border-left:0;
}
.LayerOut .remark .centertd span
{
  display:block;
  line-height:25px;
  cursor:pointer;
}
.LayerOut .remark .centertd span.red
{
   background:#ffccbf;
   border:1px solid #f58a6e;
}
.LayerOut .remark .centertd span.yellow
{
   background:#fef6ce;
   border:1px solid #ead483;
}
.LayerOut .remark .centertd span.blue
{
   background:#def2fe;
   border:1px solid #92e2fd;
}
.LayerOut .remark .SaveBtn
{
 text-align:center;
}
.LayerOut .remark .SaveBtn input
{
 background:url(../images/AccountOverview/save.gif) no-repeat;
 width:82px;
 height:29px;
 border:0;
 margin-top:5px;
 margin-bottom:5px;
 cursor:pointer;
}



/*左右图模式设置*/
/*图片规格1*110px*/
.HeaderMainBg
{
 background:url("../images/HomePageImage/HeaderImage/OnepxBg2.jpg") no-repeat;
}




/*导航菜单样式设置 图片规格：1*35px*/
.HeaderStyle .SetNavigationBar
{
	background: url("../images/HomePageImage/HeaderImage/Navbg.gif") repeat-x;
}
/*广告图位图片1设置 广告图片规格270*50px*/
.HeaderStyle .Advertisement .SetAdvertisementOne
{
	background: url("../images/HomePageImage/HeaderImage/Advertisement1.gif") no-repeat;
}
/*广告图位图片2设置 广告图片规格270*50px*/
.HeaderStyle .Advertisement .SetAdvertisementTwo
{
	background: url("../images/HomePageImage/HeaderImage/Advertisement2.gif") no-repeat;
}
