* {
	PADDING: 0px; MARGIN: 0px; COLOR: #454545; 
}
body {
	font-size: 12px; padding:0px; margin:0px;
} 
A:link {
	COLOR: #333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f30; TEXT-DECORATION: underline
}
A:active {
	COLOR: #333; TEXT-DECORATION: none
}
#G_h {
	background-color: #FFFFEE;
	border: 1px solid #FFD595;
	text-align: left;
	width: 964px;
	padding-left: 7px;
	padding-top:3px;
}

.F_left_right {
	float: right;
	text-align: left;
	width: 600px;
}

.STYLE1 {color: #FF0000}


#G_Ys {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FF6600;
	text-align: left;
	width: 978px;
}
#font_sj {
	text-align: left;
	width: 520px;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	font-weight: bold;
	color: #CC3300;
	clear: both;
	padding:10px 0;
	margin:0 0 20px 0; 
}
#width {
	width: 600px;
	line-height: 23px;
	background-position: center center;
	clear: both;
	padding-top: 8px;
}
#F_left {
	text-align: right;
	float: left;
	width: 100px;
	font-size:14px;
	line-height:38px;
	margin-left:10px;
}
#F_left_0 {
	text-align: left;
	float: left;
	line-height:38px;
	height:38px;
}
.text_tex {
	padding: 1px;
	border: 1px solid #CCCCCC;
	width: 200px;
	height: 20px;
	line-height:20px;
	padding-left:5px;
	border-color:#7C7C7C #C3C3C3 #C3C3C3 #9A9A9A;
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-top-colors:none;
	-moz-border-right-colors:none;
	border-radius:3px 3px 3px 3px;
	margin-top:5px;

}
.text_tex_Yz {
	padding: 1px;
	width: 50px;
	border: 1px solid #CCCCCC;
	height: 20px;
	line-height:20px;
	padding-left:5px;
	border-color:#7C7C7C #C3C3C3 #C3C3C3 #9A9A9A;
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	-moz-border-top-colors:none;
	-moz-border-right-colors:none;
	border-radius:3px 3px 3px 3px;
	margin-top:5px;
}
#F_left_0_0 {
	text-align: left;
	vertical-align:middle;
	float: left;
	width: 200px;
	background-position: center;
}
.text_tex_0 {
padding: 1px;
	border: 1px solid #CCCCCC;
	width: 500px;
	height: 100px;
}.button_0 {
	width: 147px;
	height: 50px;
	border:0px;
	background-image: url(../images/reg_03.gif);
	border:#FFFFFF;
	margin-bottom:10px;
}

#F_left_0_0_0 {
	text-align: left;
	vertical-align:middle;
	float: left;
	background-position: center;
	width: 530px;
	height:100px;
      
}
#F_leftsj_0_0_0 {
	text-align: right;
	float: left;
	height:100px;
	vertical-align:middle;
	width: 120px;
	padding-top: 40px;
}
#F_left_right_0 {
	float: right;
	text-align: left;
	width: 300px;
	height:100px;
	padding-top:35px;
}
#F_right_0 {
	border: 1px solid #999999;
	text-align: left;
	width: 200px;
	float: left;
	color: #999999;
	padding-left: 6px;
}#width_bou {
	width: 400px;
	line-height: 23px;
	 padding-left:200px;
	 text-align:left;
	clear: both;
	padding-top: 8px;
}
.memberUL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none;
	font-size: 14px;
	text-align:left;
	line-height:25px;
	padding-top:65px;
	padding-left:120px;
}
.reg_box 
{
    width:950px;
	BACKGROUND: url(../images/user_center_bg.gif) no-repeat 0px 0px; 
	HEIGHT: 361px; 
	OVERFLOW: hidden
}



.content8
{
	background: url(../images/hjt2.png) repeat-y;
	width: 986px;
	height:450px;
	padding:30px 0px 0 0px;

}
.centent_left{
	width:620px;
	height:100%;
	text-align:left;
	float:left;
	padding:0px 0px 0 20px;
}

.centent_right{
	float:left;
	width:300px;
	height:100%;
	text-align:left;
	color:#999;
	font-size:14px;
}
.centent_right a:hover{ color:#f00 !important; text-decoration:underline;}

.topt{
	height:5px;
	background: url(../images/hjr1.png) no-repeat left top;
	width:986px;
	margin:5px 0 0 0;
	padding:0;
	overflow:hidden;
}