BODY {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT: 12px/1.5 tahoma, arial, \5b8b\4f53;
	PADDING-TOP: 0px;
}

A {
	COLOR: #0183b5;
	TEXT-DECORATION: none
}

A:hover {
	COLOR: red;
	TEXT-DECORATION: underline
}

UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

LI {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

body,div,input,p {
	margin: 0;
	padding: 0;
}

.clear {
	CLEAR: both;
	FONT-SIZE: 0px
}

SPAN.xr {
	COLOR: red;
	FONT-WEIGHT: bold
}

SPAN.xg {
	COLOR: gray
}

.xleft {
	FLOAT: left
}

.xright {
	FLOAT: right
}

.h10 {
	HEIGHT: 10px;
	FONT-SIZE: 0px
}

.center {
	TEXT-ALIGN: center
}

#xdAL {
	WIDTH: 220px;
	FLOAT: left
}

#xdAC {
	WIDTH: 990px;
	/* 	WIDTH: 978px; */
	height: 84px;
	margin: auto;
}

#xdSearch {
	BORDER-BOTTOM: #fc7f2a 2px solid;
	BORDER-LEFT: #fc7f2a 2px solid;
	MARGIN-TOP: 6px;
	WIDTH: 468px;
	HEIGHT: 161px;
	BORDER-TOP: #fc7f2a 2px solid;
	BORDER-RIGHT: #fc7f2a 2px solid;
	margin-left: 4px;
}

#xdSearch2 {
	MARGIN-TOP: 10px;
	WIDTH: 937px;
	HEIGHT: 100px;
	margin-left: 20px;
	background: url(saerchBG.gif) no-repeat;
	padding: 
}

.xBandEnterpriseH {
	LINE-HEIGHT: 35px;
	MARGIN-TOP: 3px;
	border-top: 1px solid #AACCEF;
	HEIGHT: 28.5px;
	width: 988px;
	color: #228ac9;
	FONT-SIZE: 13px;
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: bold;
	overflow: hidden;
	border-left: 1px solid #AACCEF;
	border-right: 1px solid #AACCEF;
	border-bottom: 1px solid #AACCEF;
}

.xBandEnterpriseHRight {
	FLOAT: right;
}

.xBandEnterpriseK {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	border-left: 1px solid #AACCEF;
	border-right: 1px solid #AACCEF;
	border-bottom: 1px solid #AACCEF;
	width: 988px;
	height: auto;
}

.list11 {
	width: 988px;
	/* 	width: 976px; */
	line-height: 34px;
	/* 	background: none repeat scroll 0% 0% #FFF; */
}

.list11:hover {
	background: url(../images/line2.gif) repeat-x;
}

.NewPosts .xB {
	WIDTH: 235px;
	FLOAT: left;
	HEIGHT: 50px;
}

.NewPosts .xC {
	LINE-HEIGHT: 22px;
	HEIGHT: 22px;
	OVERFLOW: hidden;
	FONT-WEIGHT: bold
}

.NewPosts .xP {
	LINE-HEIGHT: 22px;
	HEIGHT: 22px;
	OVERFLOW: hidden
}

.xxE1 {
	
}

.xxE1H {
	COLOR: #ff6600;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	line-height: 35px;
	text-indent: 20px;
	BACKGROUND-COLOR: #f2f2f2;
}

.xxE1HR {
	FLOAT: right;
	COLOR: black;
	FONT-SIZE: 18px;
	margin-right: 20px;
	font-weight: bold;
}

.xxE1B {
	PADDING-BOTTOM: 7px;
	BACKGROUND-COLOR: white;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	PADDING-TOP: 7px;
}

.xxE1B2 {
	PADDING-BOTTOM: 15px;
	BACKGROUND-COLOR: white;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	PADDING-TOP: 15px;
}

.xxE1H1 {
	height: 55px;
	COLOR: #ff6600;
	FONT-SIZE: 25px;
	FONT-WEIGHT: bold;
	line-height: 50px;
	text-indent: 15px;
	background: url(../images/guangg.jpg) no-repeat center;
}

.xxE1B10 {
	PADDING-BOTTOM: 15px;
	BACKGROUND-COLOR: white;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	PADDING-TOP: 15px;
}

.xxE1B10 p {
	line-height: 28px;
	text-indent: 1.5em;
	font-size: 14px;
	color: #555555
}

.xxE1B TABLE {
	WIDTH: 100%
}

.xxE1Bt TD {
	PADDING-BOTTOM: 4px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	PADDING-TOP: 4px
}

.xxE1Bt .k {
	WIDTH: 66px
}

.xxE2 {
	width: 978px;
	margin: 0 auto;
	MARGIN-TOP: 10px;
}

.xxE2H {
	PADDING-BOTTOM: 6px;
	MARGIN: 1px 1px 1px;
	PADDING-LEFT: 26px;
	PADDING-RIGHT: 26px;
	BACKGROUND: #EBEEF6 no-repeat 9px 9px;
	COLOR: #000;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 6px;
	line-height: 23px;
}
/*.xxE2B {
	PADDING-BOTTOM: 7px; BACKGROUND-COLOR: white; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 7px
}*/
.xxE2B TABLE {
	WIDTH: 100%
}

TABLE.xxEpl TH {
	TEXT-ALIGN: left;
	PADDING-BOTTOM: 7px;
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
	COLOR: #000000;
	PADDING-TOP: 7px
}

TABLE.xxEpl TD {
	PADDING-BOTTOM: 7px;
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
	BORDER-TOP: #dedede 1px solid;
	PADDING-TOP: 7px
}

TABLE.xxEpl .k {
	WIDTH: 66px
}

TABLE.xxEpl A TR:hover {
	BACKGROUND-COLOR: #f2f2f2
}

TABLE.xxEpl2 TH {
	TEXT-ALIGN: left;
	PADDING-BOTTOM: 7px;
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
	COLOR: #ff6600;
	PADDING-TOP: 7px
}

TABLE.xxEpl2 TD {
	BORDER-BOTTOM: #dedede 1px dashed;
	PADDING-BOTTOM: 7px;
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
	PADDING-TOP: 7px
}

TABLE.xxEpl2 .k {
	WIDTH: 66px
}

TABLE.xxEpl2 A TR:hover {
	BACKGROUND-COLOR: #f2f2f2
}

#xxEintro {
	TEXT-ALIGN: justify;
	LINE-HEIGHT: 1.5em;
	MARGIN: 0px 10px;
	FONT-SIZE: 14px
}

#xxEintro P {
	TEXT-ALIGN: justify;
	LINE-HEIGHT: 1.8em
}

.xxElogo {
	BORDER-BOTTOM: #dedede 1px solid;
	BORDER-LEFT: #dedede 1px solid;
	MARGIN: 0px 0px 10px 10px;
	FLOAT: right;
	BORDER-TOP: #dedede 1px solid;
	BORDER-RIGHT: #dedede 1px solid
}

#xxJbtns {
	TEXT-ALIGN: center;
	margin: 15px;
}

#xxJbtns IMG {
	MARGIN: 7px 10px 0px
}

.k {
	font-weight: normal !important;
	text-indent: 15px;
	width: 100px;
	text-align: left;
}

.k1 {
	font-weight: normal !important;
	width: 60px;
	text-align: left;
}

.shoufei {
	color: Red;
	font-size: 14px !important;
	font-weight: bold;
	margin: 10px 0;
	width: 450px;
	text-align: center;
	margin-left: 400px;
}

.xboxd {
	BORDER-BOTTOM: #d6e8f4 1px solid;
	BORDER-LEFT: #d6e8f4 1px solid;
	WIDTH: 248px;
	FLOAT: right;
	BORDER-TOP: #d6e8f4 1px solid;
	BORDER-RIGHT: #d6e8f4 1px solid
}

.xboxdH {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 36px;
	HEIGHT: 36px;
	COLOR: #0157b4;
	FONT-SIZE: 14px;
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: bold
}

.xboxdB {
	PADDING-BOTTOM: 10px;
	LINE-HEIGHT: 1.8em;
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 15px;
	FONT-SIZE: 14px;
	PADDING-TOP: 10px
}

.xboxA {
	BORDER-BOTTOM: #ff7b0c 1px solid;
	BORDER-LEFT: #ff7b0c 1px solid;
	PADDING-BOTTOM: 1px;
	BACKGROUND-COLOR: #fef1da;
	MARGIN-TOP: 10px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #ff7b0c 1px solid;
	BORDER-RIGHT: #ff7b0c 1px solid;
	PADDING-TOP: 1px
}

.xboxAH {
	BORDER-BOTTOM: #fe922d 1px solid;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 25px;
	PADDING-RIGHT: 5px;
	BACKGROUND: #ff9d38;
	COLOR: black;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px
}

.xboxAH A {
	COLOR: #fff;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: underline
}

.xboxAH A:hover {
	COLOR: yellow
}

.xboxAB {
	MARGIN: 7px 7px 3px;
	FONT-SIZE: 13px
}

.xboxAB LI {
	LINE-HEIGHT: 150%;
	PADDING-LEFT: 20px;
}

.xboxAB LI A {
	COLOR: #000
}

.xboxA {
	BORDER-BOTTOM: #ffa800 1px solid;
	BORDER-LEFT: #ffa800 1px solid;
	PADDING-BOTTOM: 1px;
	BACKGROUND-COLOR: #ffffd1;
	MARGIN-TOP: 10px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #ffa800 1px solid;
	BORDER-RIGHT: #ffa800 1px solid;
	PADDING-TOP: 1px
}

.xboxAH {
	BORDER-BOTTOM: #fe922d 1px solid;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 25px;
	PADDING-RIGHT: 5px;
	BACKGROUND: #916c25;
	COLOR: white;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px
}

.xboxAH A {
	COLOR: #fff;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: underline
}

.xboxAH A:hover {
	COLOR: yellow
}

.xboxAB {
	MARGIN: 7px 7px 3px;
	FONT-SIZE: 13px
}

.xboxAB LI {
	LINE-HEIGHT: 150%;
	PADDING-LEFT: 20px;
}

.xboxAB LI A {
	COLOR: #007399
}

.xboxB {
	BORDER-BOTTOM: #9cc7e7 1px solid;
	BORDER-LEFT: #9cc7e7 1px solid;
	PADDING-BOTTOM: 1px;
	BACKGROUND-COLOR: #f7f7f7;
	MARGIN-TOP: 10px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	BORDER-TOP: #9cc7e7 1px solid;
	BORDER-RIGHT: #9cc7e7 1px solid;
	PADDING-TOP: 1px
}

.xboxBH {
	BORDER-BOTTOM: #d7dbde 1px solid;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 25px;
	PADDING-RIGHT: 5px;
	BACKGROUND: #ebf2fa no-repeat 4px 2px;
	COLOR: black;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px
}

.xboxBH A {
	COLOR: red;
	FONT-SIZE: 12px
}

.xboxBB {
	MARGIN: 7px 7px 3px;
	FONT-SIZE: 13px
}

.xboxBB LI {
	LINE-HEIGHT: 150%;
	PADDING-LEFT: 20px;
}

.xTabBH {
	MARGIN-TOP: 10px;
	BACKGROUND: #fafbfc repeat-x 0px 31px;
	HEIGHT: 32px
}

.xTabBHH {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 32px;
	WIDTH: 104px;
	BACKGROUND: #e6eeff;
	HEIGHT: 32px;
	MARGIN-LEFT: 10px;
	FONT-SIZE: 14px;
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: bold
}

.xUpDiv {
	BORDER-BOTTOM: #ffd7c1 1px solid;
	BORDER-LEFT: #ffd7c1 1px solid;
	PADDING-BOTTOM: 14px;
	BACKGROUND-COLOR: #fff9f6;
	PADDING-LEFT: 30px;
	PADDING-RIGHT: 30px;
	BORDER-TOP: #ffd7c1 1px solid;
	BORDER-RIGHT: #ffd7c1 1px solid;
	PADDING-TOP: 14px
}

.xBtn {
	PADDING-BOTTOM: 10px;
	PADDING-LEFT: 30px;
	PADDING-RIGHT: 25px;
	LETTER-SPACING: 5px;
	FONT-SIZE: 13px;
	PADDING-TOP: 10px
}

.tbtn_edit {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 3px
}

.tbtn_del {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 3px
}

.tbtn_disable {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 3px
}

.tbtn_refresh {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 3px
}

.tbtn_search {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 3px
}

.xBtn2 {
	BORDER-BOTTOM: 0px;
	TEXT-ALIGN: center;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 40px;
	MARGIN: 10px;
	PADDING-LEFT: 0px;
	WIDTH: 143px;
	PADDING-RIGHT: 0px;
	LETTER-SPACING: 2px;
	HEIGHT: 40px;
	COLOR: white;
	FONT-SIZE: 14px;
	VERTICAL-ALIGN: middle;
	BORDER-TOP: 0px;
	CURSOR: pointer;
	FONT-WEIGHT: bold;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

.xBtn2:hover {
	BORDER-BOTTOM: 0px;
	TEXT-ALIGN: center;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 40px;
	MARGIN: 10px;
	PADDING-LEFT: 0px;
	WIDTH: 143px;
	PADDING-RIGHT: 0px;
	LETTER-SPACING: 2px;
	HEIGHT: 40px;
	COLOR: white;
	FONT-SIZE: 14px;
	VERTICAL-ALIGN: middle;
	BORDER-TOP: 0px;
	CURSOR: pointer;
	FONT-WEIGHT: bold;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

.xBtn2Disable {
	BORDER-BOTTOM: 0px;
	TEXT-ALIGN: center;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 40px;
	MARGIN: 10px;
	PADDING-LEFT: 0px;
	WIDTH: 143px;
	PADDING-RIGHT: 0px;
	LETTER-SPACING: 2px;
	HEIGHT: 40px;
	COLOR: white;
	FONT-SIZE: 14px;
	VERTICAL-ALIGN: middle;
	BORDER-TOP: 0px;
	CURSOR: pointer;
	FONT-WEIGHT: bold;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

.xNewsT {
	TEXT-ALIGN: center
}

.xNewsA {
	TEXT-ALIGN: center;
	COLOR: #666
}

.xNewsC {
	LINE-HEIGHT: 1.6em;
	MARGIN: 26px 3px 3px;
	FONT-SIZE: 14px
}

.xNewsC P {
	TEXT-INDENT: 2em
}

.txt {
	border: solid 1px #ccc;
}

.mask {
	Z-INDEX: 1;
	POSITION: absolute;
	FILTER: alpha(opacity =     30);
	BACKGROUND-COLOR: #000;
	WIDTH: 100%;
	TOP: 0px;
	LEFT: 0px;
	-moz-opacity: 0.3;
	opacity: 0.3
}

A.area-select {
	BORDER-BOTTOM: #dbdfe6 1px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #dbdfe6 1px solid;
	PADDING-BOTTOM: 5px;
	BACKGROUND-COLOR: #fff;
	PADDING-LEFT: 5px;
	WIDTH: 190px;
	PADDING-RIGHT: 5px;
	DISPLAY: inline-block;
	BORDER-TOP: #dbdfe6 1px solid;
	BORDER-RIGHT: #dbdfe6 1px solid;
	PADDING-TOP: 5px
}

A.area-select STRONG {
	COLOR: #f60
}

A.area-select:hover {
	BORDER-BOTTOM: #999 1px solid;
	BORDER-LEFT: #999 1px solid;
	BACKGROUND-COLOR: #eee;
	COLOR: #000;
	BORDER-TOP: #999 1px solid;
	BORDER-RIGHT: #999 1px solid;
	TEXT-DECORATION: none
}

.area-pop {
	Z-INDEX: 999;
	BORDER-BOTTOM: #fc0 2px solid;
	POSITION: absolute;
	BACKGROUND-COLOR: #fff;
	WIDTH: 500px
}

.area-pop .title {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 24px;
	BACKGROUND-COLOR: #f63;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	ZOOM: 1;
	HEIGHT: 24px;
	COLOR: #fff;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}

.area-pop .title H2 {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	FONT-SIZE: 12px;
	PADDING-TOP: 0px
}

.area-pop .title SPAN {
	FLOAT: right;
	CURSOR: pointer
}

.area-pop UL {
	PADDING-BOTTOM: 10px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	ZOOM: 1;
	DISPLAY: block;
	OVERFLOW: hidden;
	PADDING-TOP: 10px
}

.area-pop UL LI {
	DISPLAY: block;
	FLOAT: left
}

.area-pop UL LI A {
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 0px;
	WIDTH: 160px;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	FLOAT: left;
	PADDING-TOP: 5px
}

.area-pop UL LI A:hover {
	BACKGROUND-COLOR: #f60;
	COLOR: #fff;
	TEXT-DECORATION: none
}

.area-pop UL LI .sub-pop {
	BORDER-BOTTOM: #fc0 1px solid;
	POSITION: absolute;
	BORDER-LEFT: #fc0 1px solid;
	PADDING-BOTTOM: 1px;
	BACKGROUND-COLOR: #ffc;
	PADDING-LEFT: 1px;
	WIDTH: 450px;
	PADDING-RIGHT: 1px;
	ZOOM: 1;
	CLEAR: both;
	OVERFLOW: hidden;
	BORDER-TOP: #fc0 1px solid;
	BORDER-RIGHT: #fc0 1px solid;
	PADDING-TOP: 1px
}

.area-pop UL LI .sub-pop UL {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	ZOOM: 1;
	DISPLAY: block;
	PADDING-TOP: 0px
}

.area-pop UL LI .sub-pop UL LI {
	DISPLAY: block;
	FLOAT: left
}

.area-pop UL LI .sub-pop UL LI A {
	PADDING-BOTTOM: 5px;
	LINE-HEIGHT: 19px;
	PADDING-LEFT: 5px;
	WIDTH: 140px;
	PADDING-RIGHT: 5px;
	HEIGHT: 16px;
	OVERFLOW: hidden;
	PADDING-TOP: 5px
}

.area-pop UL LI .sub-pop UL LI.fist-area {
	BORDER-BOTTOM: #fc0 1px solid;
	PADDING-BOTTOM: 1px;
	MARGIN: 0px 0px 1px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

.area-pop UL LI .sub-pop UL LI.fist-area A {
	BACKGROUND-COLOR: #ff6;
	WIDTH: 450px;
	FONT-WEIGHT: bold
}

.area-pop UL LI .sub-pop UL LI.fist-area A:hover {
	BACKGROUND-COLOR: #fc3;
	WIDTH: 450px;
	COLOR: #c30
}

.xHelpL {
	WIDTH: 180px;
	FLOAT: left
}

.xHelpR {
	WIDTH: 800px;
	FLOAT: left
}

.xHelpNav {
	BORDER-BOTTOM: #e8dba7 1px solid;
	BORDER-LEFT: #e8dba7 1px solid;
	PADDING-BOTTOM: 7px;
	BACKGROUND-COLOR: #ffffea;
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
	BORDER-TOP: #e8dba7 1px solid;
	MARGIN-RIGHT: 10px;
	BORDER-RIGHT: #e8dba7 1px solid;
	PADDING-TOP: 7px
}

.xHelpNavH {
	TEXT-ALIGN: center;
	MARGIN-BOTTOM: 10px;
	FONT-SIZE: 16px
}

.xHelpNav LI {
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	PADDING-TOP: 5px
}

.xHelpNav LI A {
	COLOR: black;
	FONT-SIZE: 14px;
	TEXT-DECORATION: underline
}

.xHelpNav LI A:hover {
	COLOR: red
}

.xHelpRNav {
	MARGIN: 20px 10px
}

.xHelpRNav A {
	COLOR: black;
	TEXT-DECORATION: none
}

.xHelpRNav A:hover {
	COLOR: blue;
	TEXT-DECORATION: underline
}

.xHelpContent {
	TEXT-ALIGN: justify;
	LINE-HEIGHT: 1.6em;
	MARGIN: 10px;
	FONT-SIZE: 14px
}

.xHelpContent P {
	TEXT-INDENT: 2em;
	MARGIN: 3px
}

.xHelpContent TABLE {
	BORDER-BOTTOM: #d1dae5 1px solid;
	BORDER-LEFT: #d1dae5 1px solid;
	BORDER-COLLAPSE: collapse;
	BORDER-TOP: #d1dae5 1px solid;
	BORDER-RIGHT: #d1dae5 1px solid
}

.xHelpContent TD {
	BORDER-BOTTOM: #d1dae5 1px solid;
	BORDER-LEFT: #d1dae5 1px solid;
	BORDER-COLLAPSE: collapse;
	BORDER-TOP: #d1dae5 1px solid;
	BORDER-RIGHT: #d1dae5 1px solid
}

.xHelpContent TD {
	PADDING-BOTTOM: 3px;
	BORDER-RIGHT-WIDTH: 1px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	BORDER-TOP-WIDTH: 1px;
	BORDER-BOTTOM-WIDTH: 1px;
	FONT-SIZE: 13px;
	BORDER-LEFT-WIDTH: 1px;
	PADDING-TOP: 3px
}

.xHelpContent TH {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	PADDING-TOP: 3px
}

.xHelpContent TABLE {
	BORDER-RIGHT-WIDTH: 2px;
	MARGIN: 3px;
	WIDTH: 100%;
	BORDER-TOP-WIDTH: 2px;
	BORDER-BOTTOM-WIDTH: 2px;
	BORDER-LEFT-WIDTH: 2px
}

.xHelpContentSubTtl {
	PADDING-BOTTOM: 7px;
	BACKGROUND-COLOR: #f5f8ff;
	MARGIN: 10px 0px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 7px
}

.xHelpContent LI {
	PADDING-LEFT: 20px
}

#xAd5 {
	
}

#xAd5 LI {
	PADDING-BOTTOM: 4px;
	PADDING-LEFT: 4px;
	PADDING-RIGHT: 4px;
	FLOAT: left;
	PADDING-TOP: 4px
}

.menu_div {
	BORDER-RIGHT-WIDTH: 0px;
	MARGIN: 5px auto 0px;
	WIDTH: 980px;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	HEIGHT: 44px;
	BORDER-LEFT-WIDTH: 0px;
}

.menu_zhp {
	MARGIN-LEFT: 20px;
	float: left;
}

.menu UL {
	PADDING-BOTTOM: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	PADDING-TOP: 0px
}

.menu UL LI {
	PADDING-BOTTOM: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	PADDING-TOP: 0px
}

.menu UL LI A {
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 44px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 120px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	HEIGHT: 44px;
	TEXT-DECORATION: none;
	PADDING-TOP: 0px
}

.menu UL LI A:hover {
	WIDTH: 120px;
	HEIGHT: 44px;
	CURSOR: pointer;
	TEXT-DECORATION: none
}

.menu UL LI A SPAN {
	COLOR: #fff;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold
}

.menu UL LI A:hover SPAN {
	COLOR: #0978bf;
	FONT-WEIGHT: bold
}

.menu UL LI A.active {
	COLOR: #0978bf
}

.menu UL LI A.active SPAN {
	COLOR: #0978bf
}

.xinxi {
	border: 1px solid #AACCEF;
	height: 140;
	width: 988px;
	/* 	width: 978px; */
	/* 	background: #EFF6FF */
}

.sousuo2 {
	width: 820px;
	float: right;
	margin-left: 20px;
	margin-top: 15px;
}

.sousuo2 p {
	float: left;
	margin: 5px 20px 0 0;
	/*	width:335px;
*/
	height: 25px;
}

.p1 {
	margin-left: 20px;
}

send55 {
	margin-left: 30px;
}

.title4 {
	border-left: 1px solid #AACCEF;
	border-right: 1px solid #AACCEF;
	border-top: 1px solid #AACCEF;
	height: 29px;
	width: 988px;
	/* 	width: 978px; */
	/* 	background: #EFF6FF; */
	background:
		url("../images/PublicImage/PublicframeOneImage/PublicframeOneHeaderBar.jpg")
		repeat-x;
	line-height: 30px;
	font-weight: bold;
	font-size: 14px;
	text-indent: 13px;;
	color: #228ac9;
	/* 	margin-top: 8px; */
}

.total {
	padding: 2px;
	margin-left: 5px;
	width: 50px;
	height: 20px;
}

.pages0 a {
	border: 1px solid #CCCCCC;
	padding: 2px 8px;
}

.current {
	background: #0099FF;
	border: 1px solid #0099FF;
	color: #FFFFFF
}

.zhaopin {
	background: #EBEBEB;
	line-height: 20px;
}

.zhaopin1 {
	line-height: 26px;
}

.zhaopin th {
	font-weight: normal;
	color: #000000
}

.jobs01 {
	font-size: 14px;
	color: #0076da !important;
	font-weight: bold;
	text-indent: 5px;
}

.jobs01 a:link {
	color: #0076da;
}

.jobs01 a:hover {
	color: #ff0000;
	text-decoration: underline;
}

.jobs01 a:visited {
	color: #0076da;
	text-decoration: underline;
}

.t0 {
	text-indent: 2em;
}

.job_detail {
	line-height: 24px;
}

.zhimiao {
	margin: 20px;
	text-indent: 2em;
	line-height: 25px;
}

.xxE1H12 {
	height: 155px;
	COLOR: #ff6600;
	FONT-SIZE: 25px;
	FONT-WEIGHT: bold;
	line-height: 50px;
	text-indent: 30px;
	background: url(../images/guangg.jpg) no-repeat center;
	margin-bottom: 10px;
}

.company11 {
	font-size: 12px;
	font-weight: normal;
	color: #333;
	line-height: 25px;
	display: block;
	padding-top: 20px;
	float: left;
	width: 800px;
}

.company11 a {
	font-size: 24px;
	font-weight: normal;
	color: #FF6600;
	padding-bottom: 20px;
}

.xxE1H12 img {
	float: left;
	margin-right: 20px;
	margin-left: 30px;
	margin-top: 20px;
}

/*Personal.aspx ��ʽ*/
.top_t {
	height: 80px;
	width: 980px;
	margin: 0 auto
}

.top_t img {
	margin: 10px 20px 0 15px;
}

.top_t a {
	float: right;
	margin-right: 50px;
	margin-top: 30px;
}

#tableHeadStyle {
	color: #4682B4;
	border-left: 1px solid #C5E2F6;
	border-right: 1px solid #C5E2F6;
}

#tableEndStyle {
	color: #4682B4;
	border-right: 1px solid #C5E2F6;
}

#tabaleDataStyle {
	color: #606060;
}

/* direact.jsp页面的样式 */
.PublicframeTwo {
	background-color: #FFFFFF;
	width: 100%;
}

.PublicframeTwo .PublicframeTwoHeadBar {
	width: 100%;
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBar.jpg);
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarLeft {
	width: 21px;
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarLeft.jpg)
		no-repeat left;
	float: left;
}

.PublicframeTwo .PublicframeTwoHeadBarTittle {
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarTittle.jpg)
		no-repeat right;
	padding-right: 9px;
	color: #fff;
	float: left;
}

.PublicframeTwo .PublicframeTwoHeadBarTittle .PublicframeTwoHeadBarTittleSpan
	{
	height: 39px;
	float: left;
	line-height: 30px;
	font-weight: 700;
	font-size: 14px;
	padding: 0px 6px 0px 8px;
	letter-spacing: 2px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarTittleSpan.jpg)
		repeat-x;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarRight {
	width: 5px;
	height: 39px;
	float: right;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarRight.gif)
		no-repeat right;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarMore {
	height: 39px;
	float: right;
	padding: 0px 15px 0px 0px;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarMore .PublicframeTwoHeadBarMoreSpan
	{
	line-height: 35px;
	cursor: pointer;
}

.PublicframeTwo .PublicframeTwoContent {
	width: 238px;
	text-align: left;
	border: 1px solid #b6d3eb;
	border-top: none;
}

#directBody {
	width: 990px;
	height: 100%;
	margin: 0 auto;
	margin-top: 10px;
	_margin-top: 10px;
	margin-bottom: 10px;
	_margin-bottom: 10px;
}

.MainRight {
	width: 220px;
	float: left;
	margin-left: 9px;
	_margin-left: 0px;
}

.MainRightOne {
	width: 240px;
}

.PublicframeTwo {
	background-color: #FFFFFF;
	width: 100%;
}

.PublicframeTwo .PublicframeTwoHeadBar {
	width: 100%;
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBar.jpg);
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarLeft {
	width: 21px;
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarLeft.jpg)
		no-repeat left;
	float: left;
}

.PublicframeTwo .PublicframeTwoHeadBarTittle {
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarTittle.jpg)
		no-repeat right;
	padding-right: 9px;
	color: #fff;
	float: left;
}

.PublicframeTwo .PublicframeTwoHeadBarTittle .PublicframeTwoHeadBarTittleSpan
	{
	height: 39px;
	float: left;
	line-height: 30px;
	font-weight: 700;
	font-size: 14px;
	padding: 0px 6px 0px 8px;
	letter-spacing: 2px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarTittleSpan.jpg)
		repeat-x;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarRight {
	width: 5px;
	height: 39px;
	float: right;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarRight.gif)
		no-repeat right;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarMore {
	height: 39px;
	float: right;
	padding: 0px 15px 0px 0px;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarMore .PublicframeTwoHeadBarMoreSpan
	{
	line-height: 35px;
	cursor: pointer;
}

.MainLeft {
	width: 740px;
	float: left;
}

.PublicframeTwo .PublicframeTwoContent {
	width: 238px;
	text-align: left;
	border: 1px solid #b6d3eb;
	border-top: none;
}

.PublicframeTwo .PublicframeTwoContent {
	height: 100%;
	border: 1px solid #b6d3eb;
	border-top: none;
	text-align: left;
}

.ArticleSearchFrame {
	width: 220px;
	height: 26px;
	padding-top: 2px;
	margin: 0 auto;
}

.Search {
	width: 220px;
	height: 26px;
	_height: 20px;
	margin: 0 auto;
}

.Search .SearchInputText {
	margin-top: 5px;
}

.Search .InputTextBg {
	background: url(../images/HomePageImage/SearchImage/SearchImage.gif)
		no-repeat left;
	width: 200px;
	border: 1px solid #7fc5fe;
}

.Search .InputTextBg { /* width: 29px; */
	height: 22px;
	line-height: 22px;
	margin-top: -5px;

	/* background: url(../images/HomePageImage/SearchImage/SearchImage.gif) no-repeat left; */
}

.Search .InputTextBg .InputTextBlank {
	line-height: 22px;
	border: 0px;
	height: 22px;
	width: 170px;
	float: right;
	color: gray;
	font-size: 12px;
	font-family: ����;
	top: 0px;
	left: 0px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleKind {
	width: 220px;
	height: 20px;
	margin: 0 auto;
	margin-top: 10px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleKindTitle {
	float: left;
}

.PublicframeTwo .PublicframeTwoContent .ArticleSelectFrame {
	width: 130px;
	height: 21px;
	float: left;
}

.PublicframeTwo .PublicframeTwoContent .ArticleSelectDropDown {
	width: 130px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleTime {
	width: 220px;
	height: 20px;
	margin: 0 auto;
	margin-top: 10px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleTimeTitle {
	float: left;
}

.PublicframeTwo .PublicframeTwoContent .ArticleTimeFrame {
	width: 130px;
	height: 21px;
	float: left;
}

.PublicframeTwo .PublicframeTwoContent .ArticleSelectDropDown {
	width: 130px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleHot {
	width: 220px;
	color: #40a9fe;
	margin: 0 auto;
	font-weight: 500;
	cursor: pointer;
}

.PublicframeTwo .PublicframeTwoContent .ArticleHot ul li {
	float: left;
	line-height: 16px;
	padding-left: 0px;
	margin-top: 10px;
}

.PublicframeTwo .PublicframeTwoContent ul li.ArticleHotLine {
	line-height: 14px;
	margin-left: 1px;
	margin-right: 3px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleBtn {
	width: 87px;
	height: 26px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url("../images/HomePageImage/SearchImage/SearchBtn.gif");
}

.Square {
	background: url("../images/Sy_HRsqImage/Square.jpg") no-repeat 0 4px;
	padding-left: 15px;
	line-height: 25px;
	text-align: left;
}

ul li,ol li {
	list-style: none;
	color: #606060;
}

.MainRightTwo {
	width: 240px;
	margin-top: 10px;
}
/* news-detail.jsp页面的样式 */
.news_info_l {
	padding-bottom: 0px;
	padding-left: 15px;
	width: 30%;
	padding-right: 0px;
	float: left;
	padding-top: 10px;
	height: 30px;
}

.news_info_c {
	text-align: center;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 35%;
	padding-right: 0px;
	float: left;
	padding-top: 10px;
	height: 30px;
}

.news_info_r {
	text-align: right;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 30%;
	padding-right: 15px;
	float: right;
	padding-top: 10px;
	height: 30px;
}

.PublicframeTwoContentNew {
	height: 100%;
	border: 0px;
}
/*  emp.jsp页面样式  */
#maincontent {
	width: 990px;
	margin: 0 auto;
	height: 100%;
}

div#container div#leftsidebar {
	width: 709px;
	float: left;
	margin-right: 5px;
}

div#leftsidebar div.s_search {
	padding: 8px 0 12px 0;
	margin-bottom: 8px;
	border: 1px solid #b5d3eb;
	background: url("../images/HomePageImage/search/s_seacherpd.gif")
		repeat-x;
}

div.s_search div.Search {
	margin-left: auto;
	margin-right: auto;
}

div.s_search div.Search {
	height: 53px;
	width: 675px;
}

.Search .SearchInputText { /* margin-top: 20px;
margin-left: 50px; */
	
}

.Search .InputTextBgEmp {
	background: url(../images/HomePageImage/SearchImage/SearchImage.gif)
		no-repeat left;
	width: 394px;
	border: 1px solid #7fc5fe;
}

.SetFloatLeft {
	float: left;
}

.Search .InputTextBgEmp .InputTextBlank {
	line-height: 24px;
	border: 0px;
	height: 24px;
	width: 365px;
	float: right;
	color: gray;
}

.SetFloatLeft {
	float: left;
}

.Search .SearchButtom {
	background: url(../images/HomePageImage/SearchImage/SearchBtn.gif)
		no-repeat right;
	width: 87px;
	height: 26px;
	margin-left: 10px;
}

div#container div#leftsidebar {
	width: 709px;
	float: left;
	margin-right: 5px;
}

.Search .AdvancedSearch {
	margin-left: 20px;
	line-height: 26px;
}

div.s_search div.pot {
	height: 1px;
	border-top: 1px #1d91e4 dashed;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

ul.list_condition {
	padding-left: 158px;
}

ul.list_condition li.list_selt {
	width: 260px;
}

ul.list_condition li {
	float: left;
	width: 190px;
	margin-left: 3px;
	text-align: left;
	height: 22px;
	line-height: 22px;
	margin-top: 10px;
	overflow: hidden;
}

.zxzw_center .ul1 {
	background-image: url(../../Image/ZxzwImage/center_1px.gif);
	_background-image: url(../../Image/ZxzwImage/center_1px2.gif);
	background-repeat: repeat-x;
	height: 27px;
	border-left: 1px solid #c5e2f6;
	border-right: 1px solid #c5e2f6;
	font-weight: bold;
	width: 100%;
}

/** 显示岗位信息的table **/
/**         ---by yufu **/
.maincontent{
	padding:10px 30px;
}
.maincontent p{
	margin-top:15px;
}
#tableworker{
	width: 100%;
}
#tableworker td{
	height:25px;
}
#tablecompany{
	width:100%;
}
#tablecompany th{
	height:30px;
}
#tablecompany td{
	height:25px;
}