#xdAL {
	WIDTH: 220px;
	FLOAT: left
}

#xdAC {
	WIDTH: 990px;
	/* 	WIDTH: 978px; */
	height: 84px;
	margin: auto;
}

#xdSearch {
	BORDER-BOTTOM: #fc7f2a 2px solid;
	BORDER-LEFT: #fc7f2a 2px solid;
	MARGIN-TOP: 6px;
	WIDTH: 468px;
	HEIGHT: 161px;
	BORDER-TOP: #fc7f2a 2px solid;
	BORDER-RIGHT: #fc7f2a 2px solid;
	margin-left: 4px;
}

#xdSearch2 {
	MARGIN-TOP: 10px;
	WIDTH: 937px;
	HEIGHT: 100px;
	margin-left: 20px;
	background: url(saerchBG.gif) no-repeat;
	padding: 
}

.xBandEnterpriseH {
	LINE-HEIGHT: 35px;
	MARGIN-TOP: 3px;
	border-top: 1px solid #AACCEF;
	HEIGHT: 28.5px;
	width: 988px;
	color: #228ac9;
	FONT-SIZE: 13px;
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: bold;
	overflow: hidden;
	border-left: 1px solid #AACCEF;
	border-right: 1px solid #AACCEF;
	border-bottom: 1px solid #AACCEF;
}

.xBandEnterpriseHRight {
	FLOAT: right;
}

.xBandEnterpriseK {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	border-left: 1px solid #AACCEF;
	border-right: 1px solid #AACCEF;
	border-bottom: 1px solid #AACCEF;
	width: 988px;
	height: auto;
}

.list11 {
	width: 988px;
	/* 	width: 976px; */
	line-height: 34px;
	/* 	background: none repeat scroll 0% 0% #FFF; */
}

.list11 a {
	color: rgb(62, 62, 218);
}

.list11:hover {
	background: url(../images/line2.gif) repeat-x;
}

.NewPosts .xB {
	WIDTH: 235px;
	FLOAT: left;
	HEIGHT: 50px;
}

.NewPosts .xC {
	LINE-HEIGHT: 22px;
	HEIGHT: 22px;
	OVERFLOW: hidden;
	FONT-WEIGHT: bold
}

.NewPosts .xP {
	LINE-HEIGHT: 22px;
	HEIGHT: 22px;
	OVERFLOW: hidden
}

.xinxi {
	border: 1px solid #AACCEF;
	height: 140;
	width: 988px;
}

.sousuo2 {
	width: 820px;
	float: right;
	margin-left: 20px;
	margin-top: 15px;
}

.sousuo2 p {
	float: left;
	margin: 5px 20px 0 0;
	height: 25px;
}

.p1 {
	margin-left: 20px;
}

.send55 {
	margin-left: 30px;
}

.title4 {
	border-left: 1px solid #AACCEF;
	border-right: 1px solid #AACCEF;
	border-top: 1px solid #AACCEF;
	height: 29px;
	width: 988px;
	background:
		url("../images/PublicImage/PublicframeOneImage/PublicframeOneHeaderBar.jpg")
		repeat-x;
	line-height: 30px;
	font-weight: bold;
	font-size: 14px;
	text-indent: 13px;;
	color: #228ac9;
}

.total {
	padding: 2px;
	margin-left: 5px;
	width: 50px;
	height: 20px;
}

.pages0 a {
	border: 1px solid #CCCCCC;
	padding: 2px 8px;
}

.current {
	background: #0099FF;
	border: 1px solid #0099FF;
	color: #FFFFFF
}

.t0 {
	text-indent: 2em;
}

#tableHeadStyle {
	color: #4682B4;
	border-left: 1px solid #C5E2F6;
}

#tableEndStyle {
	color: #4682B4;
	border-right: 1px solid #C5E2F6;
}

#tabaleDataStyle {
	color: #606060;
}

/* direact.jsp页面的样式 */
.PublicframeTwo {
	background-color: #FFFFFF;
	width: 100%;
}

.PublicframeTwo .PublicframeTwoHeadBar {
	width: 100%;
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBar.jpg);
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarLeft {
	width: 21px;
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarLeft.jpg)
		no-repeat left;
	float: left;
}

.PublicframeTwo .PublicframeTwoHeadBarTittle {
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarTittle.jpg)
		no-repeat right;
	padding-right: 9px;
	color: #fff;
	float: left;
}

.PublicframeTwo .PublicframeTwoHeadBarTittle .PublicframeTwoHeadBarTittleSpan
	{
	height: 39px;
	float: left;
	line-height: 30px;
	font-weight: 700;
	font-size: 14px;
	padding: 0px 6px 0px 8px;
	letter-spacing: 2px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarTittleSpan.jpg)
		repeat-x;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarRight {
	width: 5px;
	height: 39px;
	float: right;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarRight.gif)
		no-repeat right;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarMore {
	height: 39px;
	float: right;
	padding: 0px 15px 0px 0px;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarMore .PublicframeTwoHeadBarMoreSpan
	{
	line-height: 35px;
	cursor: pointer;
}

.PublicframeTwo .PublicframeTwoContent {
	width: 238px;
	text-align: left;
	border: 1px solid #b6d3eb;
	border-top: none;
}

#directBody {
	width: 990px;
	height: 100%;
	margin: 0 auto;
	margin-top: 10px;
	_margin-top: 10px;
	margin-bottom: 10px;
	_margin-bottom: 10px;
}

.MainRight {
	width: 220px;
	float: left;
	margin-left: 9px;
	_margin-left: 0px;
}

.MainRightOne {
	width: 240px;
}

.PublicframeTwo {
	background-color: #FFFFFF;
	width: 100%;
}

.PublicframeTwo .PublicframeTwoHeadBar {
	width: 100%;
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBar.jpg);
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarLeft {
	width: 21px;
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarLeft.jpg)
		no-repeat left;
	float: left;
}

.PublicframeTwo .PublicframeTwoHeadBarTittle {
	height: 39px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarTittle.jpg)
		no-repeat right;
	padding-right: 9px;
	color: #fff;
	float: left;
}

.PublicframeTwo .PublicframeTwoHeadBarTittle .PublicframeTwoHeadBarTittleSpan
	{
	height: 39px;
	float: left;
	line-height: 30px;
	font-weight: 700;
	font-size: 14px;
	padding: 0px 6px 0px 8px;
	letter-spacing: 2px;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarTittleSpan.jpg)
		repeat-x;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarRight {
	width: 5px;
	height: 39px;
	float: right;
	background:
		url(../images/PublicImage/PublicframeTwoImage/PublicframeTwoHeadBarRight.gif)
		no-repeat right;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarMore {
	height: 39px;
	float: right;
	padding: 0px 15px 0px 0px;
}

.PublicframeTwo .PublicframeTwoHeadBar .PublicframeTwoHeadBarMore .PublicframeTwoHeadBarMoreSpan
	{
	line-height: 35px;
	cursor: pointer;
}

.MainLeft {
	width: 740px;
	float: left;
}

.PublicframeTwo .PublicframeTwoContent {
	width: 238px;
	text-align: left;
	border: 1px solid #b6d3eb;
	border-top: none;
}

.PublicframeTwo .PublicframeTwoContent {
	height: 100%;
	border: 1px solid #b6d3eb;
	border-top: none;
	text-align: left;
}

.ArticleSearchFrame {
	width: 220px;
	height: 26px;
	padding-top: 2px;
	margin: 0 auto;
}

.Search {
	width: 220px;
	height: 26px;
	_height: 20px;
	margin: 0 auto;
}

.Search .SearchInputText {
	margin-top: 5px;
}

.Search .InputTextBg {
	background: url(../images/HomePageImage/SearchImage/SearchImage.gif)
		no-repeat left;
	width: 200px;
	border: 1px solid #7fc5fe;
}

.Search .InputTextBg { /* width: 29px; */
	height: 22px;
	line-height: 22px;
	margin-top: -5px;

	/* background: url(../images/HomePageImage/SearchImage/SearchImage.gif) no-repeat left; */
}

.Search .InputTextBg .InputTextBlank {
	line-height: 22px;
	border: 0px;
	height: 22px;
	width: 170px;
	float: right;
	color: gray;
	font-size: 12px;
	font-family: ����;
	top: 0px;
	left: 0px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleKind {
	width: 220px;
	height: 20px;
	margin: 0 auto;
	margin-top: 10px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleKindTitle {
	float: left;
}

.PublicframeTwo .PublicframeTwoContent .ArticleSelectFrame {
	width: 130px;
	height: 21px;
	float: left;
}

.PublicframeTwo .PublicframeTwoContent .ArticleSelectDropDown {
	width: 130px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleTime {
	width: 220px;
	height: 20px;
	margin: 0 auto;
	margin-top: 10px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleTimeTitle {
	float: left;
}

.PublicframeTwo .PublicframeTwoContent .ArticleTimeFrame {
	width: 130px;
	height: 21px;
	float: left;
}

.PublicframeTwo .PublicframeTwoContent .ArticleSelectDropDown {
	width: 130px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleHot {
	width: 220px;
	color: #40a9fe;
	margin: 0 auto;
	font-weight: 500;
	cursor: pointer;
}

.PublicframeTwo .PublicframeTwoContent .ArticleHot ul li {
	float: left;
	line-height: 16px;
	padding-left: 0px;
	margin-top: 10px;
}

.PublicframeTwo .PublicframeTwoContent ul li.ArticleHotLine {
	line-height: 14px;
	margin-left: 1px;
	margin-right: 3px;
}

.PublicframeTwo .PublicframeTwoContent .ArticleBtn {
	width: 87px;
	height: 26px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url("../images/HomePageImage/SearchImage/SearchBtn.gif");
}

.Square {
	background: url("../images/Sy_HRsqImage/Square.jpg") no-repeat 0 4px;
	padding-left: 15px;
	line-height: 25px;
	text-align: left;
}

.MainRightTwo {
	width: 240px;
	margin-top: 10px;
}
/* news-detail.jsp页面的样式 */
.news_info_l {
	padding-bottom: 0px;
	padding-left: 15px;
	width: 30%;
	padding-right: 0px;
	float: left;
	padding-top: 10px;
	height: 30px;
}

.news_info_c {
	text-align: center;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 35%;
	padding-right: 0px;
	float: left;
	padding-top: 10px;
	height: 30px;
}

.news_info_r {
	text-align: right;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 30%;
	padding-right: 15px;
	float: right;
	padding-top: 10px;
	height: 30px;
}

.PublicframeTwoContentNew {
	height: 100%;
	border: 0px;
}

/*  emp.jsp页面样式  */
#maincontent {
	width: 990px;
	margin: 0 auto;
	height: 100%;
}

div#container div#leftsidebar {
	width: 709px;
	float: left;
	margin-right: 5px;
}

div#leftsidebar div.s_search {
	padding: 8px 0 12px 0;
	margin-bottom: 8px;
	border: 1px solid #b5d3eb;
	background: url("../images/HomePageImage/search/s_seacherpd.gif")
		repeat-x;
}

div.s_search div.Search {
	margin-left: auto;
	margin-right: auto;
}

div.s_search div.Search {
	height: 53px;
	width: 675px;
}

.Search .SearchInputText { /* margin-top: 20px;
margin-left: 50px; */
	
}

.Search .InputTextBgEmp {
	background: url(../images/HomePageImage/SearchImage/SearchImage.gif)
		no-repeat left;
	width: 394px;
	border: 1px solid #7fc5fe;
}

.SetFloatLeft {
	float: left;
}

.Search .InputTextBgEmp .InputTextBlank {
	line-height: 24px;
	border: 0px;
	height: 24px;
	width: 365px;
	float: right;
	color: gray;
}

.SetFloatLeft {
	float: left;
}

.Search .SearchButtom {
	background: url(../images/HomePageImage/SearchImage/SearchBtn.gif)
		no-repeat right;
	width: 87px;
	height: 26px;
	margin-left: 10px;
}

div#container div#leftsidebar {
	width: 709px;
	float: left;
	margin-right: 5px;
}

.Search .AdvancedSearch {
	margin-left: 20px;
	line-height: 26px;
}

div.s_search div.pot {
	height: 1px;
	border-top: 1px #1d91e4 dashed;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

ul.list_condition {
	padding-left: 158px;
}

ul.list_condition li.list_selt {
	width: 260px;
}

ul.list_condition li {
	float: left;
	width: 190px;
	margin-left: 3px;
	text-align: left;
	height: 22px;
	line-height: 22px;
	margin-top: 10px;
	overflow: hidden;
}

.zxzw_center .ul1 {
	background-image: url(../../Image/ZxzwImage/center_1px.gif);
	_background-image: url(../../Image/ZxzwImage/center_1px2.gif);
	background-repeat: repeat-x;
	height: 27px;
	border-left: 1px solid #c5e2f6;
	border-right: 1px solid #c5e2f6;
	font-weight: bold;
	width: 100%;
}

/** 显示岗位信息的table **/
/**         ---by yufu **/
.maincontent {
	padding: 10px 30px;
}

.maincontent p {
	margin-top: 15px;
}

#tableworker {
	width: 100%;
}

#tableworker td {
	height: 25px;
}

#tablecompany {
	width: 100%;
}

#tablecompany th {
	height: 30px;
}

#tablecompany td {
	height: 25px;
}