<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esd.dao.BusinessScopeDao">

	<!-- insert -->
	<insert id="save" parameterType="BusinessScope" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into business_scope
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="code != null and code != ''">
				code,
			</if>
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="mark != null and mark != ''">
				mark
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="code != null and code != ''">
				#{code, jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				#{name, jdbcType=VARCHAR},
			</if>
			<if test="mark != null and mark != ''">
				#{mark, jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>

	<!-- delete -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from business_scope where id = #{id}
	</delete>
	
	<!-- update -->
	<update id="update" parameterType="BusinessScope">
		update business_scope
		<trim prefix="set" suffixOverrides=",">
			<if test="code != null and code != ''">
				code=#{code, jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				name=#{name, jdbcType=VARCHAR},
			</if>
			<if test="mark != null and mark != ''">
				mark=#{mark, jdbcType=VARCHAR}
			</if>		
		</trim>
		where id= #{id, jdbcType=INTEGER}
	</update>

	<!-- get by id -->
	<select id="getById" resultType="BusinessScope" parameterType="int">
		select * from business_scope where id = #{id}
	</select>

	<!-- get by obj -->
	<select id="getByObj" resultType="BusinessScope" parameterType="BusinessScope">
		select * from business_scope  
		<trim prefix="where" prefixOverrides="and|or">
			<if test="code != null and code != ''">
				code like concat('%', #{code, jdbcType=VARCHAR},'%')
			</if>
			<if test="name != null and name != ''">
				and name like concat('%',#{name, jdbcType=VARCHAR},'%')
			</if>
			<if test="mark != null and mark != ''">
				and mark = #{mark, jdbcType=VARCHAR}
			</if>
		</trim>
	</select>
	
	<!-- getByPage -->
	<select id="getByPage" parameterType="map" resultType="BusinessScope">
		select * from business_scope 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="businessScope != null">
				<if test="code != null and code != ''">
					code like concat('%', #{code, jdbcType=VARCHAR},'%')
				</if>
				<if test="name != null and name != ''">
					and name like concat('%',#{name, jdbcType=VARCHAR},'%')
				</if>
			</if>
		</trim>
		limit #{start, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
	</select>

	<!-- getTotalCount -->
	<select id="getTotalCount" parameterType="map" resultType="java.lang.Integer">
		select count(*) from business_scope
		<trim prefix="where" prefixOverrides="and|or">
			<if test="businessScope != null">
				<if test="code != null and code != ''">
					code like concat('%', #{code, jdbcType=VARCHAR},'%')
				</if>
				<if test="name != null and name != ''">
					and name like concat('%',#{name, jdbcType=VARCHAR},'%')
				</if>
			</if>
		</trim>
	</select> 
	
	<!-- get all -->
	<select id="getAll" parameterType="BusinessScope" resultType="BusinessScope">
		select * from business_scope;
	</select>
	
</mapper>