<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 实现esd.dao.CompanyDao接口 -->
<mapper namespace="esd.dao.CompanyDao">

	<!-- result map of User -->
	<resultMap id="ResultUser" type="User">
		<id column="u_id" property="id" jdbcType="INTEGER" />
		<result column="u_login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="u_pass_word" property="passWord" jdbcType="VARCHAR" />
		<result column="u_identity" property="identity" jdbcType="VARCHAR" />
		<result column="u_is_active" property="isActive" jdbcType="BIT" />
	</resultMap>
	
	<!-- result map of Area -->
	<resultMap id="ResultArea" type="Area">
		<id column="a_code" property="code" jdbcType="VARCHAR"  />
		<result column="a_name" property="name" jdbcType="VARCHAR"  />
		<result column="a_is_active" property="isActive" jdbcType="BIT" />
	</resultMap>
	
	<!-- result map of BusinessScope -->
	<resultMap id="ResultBusinessScope" type="BusinessScope">
		<id column="b_id" property="id" jdbcType="INTEGER"  />
		<result column="b_name" property="name" jdbcType="VARCHAR"  />
		<result column="b_code" property="code" jdbcType="VARCHAR"  />
		<result column="b_is_active" property="isActive" jdbcType="BIT" />
	</resultMap>
	
	<!-- result map of Company -->
	<resultMap id="ResultCompany" type="Company">
		<id column="c_id" property="id" jdbcType="INTEGER"  />
		<result column="c_create_date" property="createDate" jdbcType="TIMESTAMP"  />
		<result column="c_update_check" property="updateCheck" jdbcType="VARCHAR"  />
		<result column="c_update_date" property="updateDate"  jdbcType="TIMESTAMP" />
		<result column="c_log_user" property="logUser"  jdbcType="VARCHAR" />
		<result column="c_name" property="name" jdbcType="VARCHAR"  />
		<result column="c_corporate_representative" property="corporateRepresentative" jdbcType="VARCHAR"  />
		<result column="c_contact_person" property="contactPerson" jdbcType="VARCHAR" />
		<result column="c_telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="c_contact_dept" property="contactDept" jdbcType="VARCHAR" />
		<result column="c_fax" property="fax" jdbcType="VARCHAR" />
		<result column="c_email" property="email" jdbcType="VARCHAR" />
		<result column="c_address" property="address" jdbcType="VARCHAR" />
		<result column="c_introduction" property="introduction" jdbcType="VARCHAR" />
		<result column="c_organization_code" property="organizationCode" jdbcType="VARCHAR" />
		<result column="c_commercial_code" property="commercialCode" jdbcType="VARCHAR" />
		<result column="c_tax_code" property="taxCode" jdbcType="VARCHAR" />
		<result column="c_social_security_code" property="socialSecurityCode" jdbcType="VARCHAR" />
		<result column="c_web_site_id" property="webSiteId" jdbcType="VARCHAR" />
		<result column="c_lao_wang_code" property="laoWangCode" jdbcType="VARCHAR" />
		<result column="c_scale" property="scale" jdbcType="VARCHAR" />
		<result column="c_nature" property="nature" jdbcType="VARCHAR" />
		<result column="c_economy_type" property="economyType" jdbcType="VARCHAR" />
		<result column="c_remark" property="remark" jdbcType="VARCHAR" />
		<result column="c_view_count" property="viewCount" jdbcType="INTEGER" />
		<result column="c_check_status" property="checkStatus" jdbcType="VARCHAR" />
		<result column="c_institutional_framework" property="institutionalFramework" jdbcType="VARCHAR" />
		<result column="c_tax_registration" property="taxRegistration" jdbcType="VARCHAR" />
		<result column="c_business_license" property="businessLicense" jdbcType="VARCHAR" />
		<result column="c_is_active" property="isActive" jdbcType="BIT" />
		<association property="user" javaType="User" resultMap="ResultUser"/>
		<association property="area" javaType="Area" resultMap="ResultArea"/>
		<association property="businessScope" javaType="BusinessScope" resultMap="ResultBusinessScope" />
	</resultMap>
	
	<sql id="base_column">
		c.id as c_id, c.create_date as c_create_date, c.update_check as c_update_check, c.update_date as c_update_date, 
			c.log_user as c_log_user,
			c.name as c_name, c.corporate_representative as c_corporate_representative, c.contact_person as c_contact_person, 
			c.telephone as c_telephone, c.contact_dept as c_contact_dept, c.fax as c_fax, c.email as c_email, c.address as c_address, 
			c.introduction as c_introduction, c.organization_code as c_organization_code, c.commercial_code as c_commercial_code, 
			c.tax_code as c_tax_code, c.social_security_code as c_social_security_code, c.web_site_id as c_web_site_id, 
			c.lao_wang_code as c_lao_wang_code, c.scale as c_scale, c.nature as c_nature, c.economy_type as c_economy_type, 
			c.remark c_remark, c.view_count as c_view_count, c.check_status as c_check_status,			
			c.institutional_framework as c_institutional_framework,
			c.tax_registration as c_tax_registration,c.business_license as c_business_license,	
			c.is_active as c_is_active, 		
		u.id as u_id, u.login_name as u_login_name, u.pass_word as u_pass_word, u.identity as u_identity, u.is_active as u_is_active, 
		a.code as a_code, a.name as a_name, a.is_active as a_is_active, 
		b.id as b_id, b.name as b_name, b.code as b_code, b.is_active as b_is_active 
	</sql>
	
	<sql id="from_table">
		company as c left join user as u on c.uid = u.id 
		left join area as a on c.acode = a.code 
		left join business_scope as b on c.bid = b.id 
	</sql>
	
	<!-- insert -->
	<insert id="save" parameterType="Company" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into company
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_date,
			update_check,
			update_date,
			<if test="logUser != null and logUser != ''">
				log_user,
			</if>
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="corporateRepresentative != null and corporateRepresentative != ''">
				corporate_representative,
			</if>
			<if test="contactPerson != null and contactPerson != ''">
				contact_person,
			</if>
			<if test="telephone != null and telephone != ''">
				telephone,
			</if>
			<if test="contactDept != null and contactDept != ''">
				contact_dept,
			</if>
			<if test="fax != null and fax != ''">
				fax,
			</if>
			<if test="email != null and email != ''">
				email,
			</if>
			<if test="address != null and address != ''">
				address,
			</if>
			<if test="introduction != null and introduction != ''">
				introduction,
			</if>
			<if test="organizationCode != null and organizationCode != ''">
				organization_code,
			</if>
			<if test="commercialCode != null and commercialCode != ''">
				commercial_code,
			</if>
			<if test="taxCode != null and taxCode != ''">
				tax_code,
			</if>
			<if test="socialSecurityCode != null and socialSecurityCode != ''">
				social_security_code,
			</if>
			<if test="webSiteId != null and webSiteId != ''">
				web_site_id,
			</if>
			<if test="laoWangCode != null and laoWangCode != ''">
				lao_wang_code,
			</if>
			<if test="scale != null and scale != ''">
				scale,
			</if>
			<if test="nature != null and nature != ''">
				nature,
			</if>
			<if test="economyType != null and economyType != ''">
				economy_type,
			</if>
			<if test="remark != null and remark != ''">
				remark,
			</if>
			<if test="viewCount != null and viewCount > 0">
				view_count,
			</if>
			<if test="checkStatus != null and checkStatus != ''">
				check_status,
			</if>
			<if test="user != null">
				<if test="user.id != null and user.id > 0">
					uid,
				</if>
			</if>
			<if test="businessLicense != null and businessLicense != ''">
				business_license,
			</if>
			<if test="institutionalFramework != null and institutionalFramework != ''">
				institutional_framework,
			</if>
			<if test="taxRegistration != null and taxRegistration != ''">
				tax_registration,
			</if>
			
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					acode,
				</if>
			</if>
			<if test="businessScope != null">
				<if test="businessScope.id != null and businessScope.id > 0">
					bid,
				</if>
			</if>
			<if test="isActive != null">
				is_active
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			now(), default, now(),
			<if test="logUser != null and logUser != ''">
				#{logUser, jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				#{name, jdbcType=VARCHAR},
			</if>
			<if test="corporateRepresentative != null and corporateRepresentative != ''">
				#{corporateRepresentative, jdbcType=VARCHAR},
			</if>
			<if test="contactPerson != null and contactPerson != ''">
				#{contactPerson, jdbcType=VARCHAR},
			</if>
			<if test="telephone != null and telephone != ''">
				#{telephone, jdbcType=VARCHAR},
			</if>
			<if test="contactDept != null and contactDept != ''">
				#{contactDept, jdbcType=VARCHAR},
			</if>
			<if test="fax != null and fax != ''">
				#{fax, jdbcType=VARCHAR},
			</if>
			<if test="email != null and email != ''">
				#{email, jdbcType=VARCHAR},
			</if>
			<if test="address != null and address != ''">
				#{address, jdbcType=VARCHAR},
			</if>
			<if test="introduction != null and introduction != ''">
				#{introduction, jdbcType=VARCHAR},
			</if>
			<if test="organizationCode != null and organizationCode != ''">
				#{organizationCode, jdbcType=VARCHAR},
			</if>
			<if test="commercialCode != null and commercialCode != ''">
				#{commercialCode, jdbcType=VARCHAR},
			</if>
			<if test="taxCode != null and taxCode != ''">
				#{taxCode, jdbcType=VARCHAR},
			</if>
			<if test="socialSecurityCode != null and socialSecurityCode != ''">
				#{socialSecurityCode, jdbcType=VARCHAR},
			</if>
			<if test="webSiteId != null and webSiteId != ''">
				#{webSiteId, jdbcType=VARCHAR},
			</if>
			<if test="laoWangCode != null and laoWangCode != ''">
				#{laoWangCode, jdbcType=VARCHAR},
			</if>
			<if test="scale != null and scale != ''">
				#{scale, jdbcType=VARCHAR},
			</if>
			<if test="nature != null and nature != ''">
				#{nature, jdbcType=VARCHAR},
			</if>
			<if test="economyType != null and economyType != ''">
				#{economyType, jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				#{remark, jdbcType=VARCHAR},
			</if>
			<if test="viewCount != null and viewCount > 0">
				#{viewCount, jdbcType=INTEGER},
			</if>
			<if test="checkStatus != null and checkStatus != ''">
				#{checkStatus, jdbcType=VARCHAR},
			</if>
			<if test="user != null">
				<if test="user.id != null and user.id > 0">
					#{user.id, jdbcType=INTEGER},
				</if>
			</if>
			<if test="businessLicense != null and businessLicense != ''">
				#{businessLicense, jdbcType=VARCHAR},
			</if>
			<if test="institutionalFramework != null and institutionalFramework != ''">
				#{institutionalFramework, jdbcType=VARCHAR},
			</if>
			<if test="taxRegistration != null and taxRegistration != ''">
				#{taxRegistration, jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					#{area.code, jdbcType=VARCHAR},
				</if>
			</if>
			<if test="businessScope != null">
				<if test="businessScope.id != null and businessScope.id > 0">
					#{businessScope.id, jdbcType=INTEGER},
				</if>
			</if>
			<if test="isActive != null">
				#{isActive, jdbcType=BIT}
			</if>
		</trim>
	</insert>	
	
	<!-- delete -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from company where id = #{id, jdbcType=INTEGER}
	</delete>
	
	<!-- update -->
	<update id="update" parameterType="Company">
		update company
		<trim prefix="set" suffixOverrides=",">
			update_date = now(),
			<if test="logUser != null and logUser != ''">
				log_user = #{logUser, jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				name = #{name, jdbcType=VARCHAR},
			</if>
			<if test="corporateRepresentative != null and corporateRepresentative != ''">
				corporate_representative = #{corporateRepresentative, jdbcType=VARCHAR},
			</if>
			<if test="contactPerson != null and contactPerson != ''">
				contact_person = #{contactPerson, jdbcType=VARCHAR},
			</if>
			<if test="telephone != null and telephone != ''">
				telephone = #{telephone, jdbcType=VARCHAR},
			</if>
			<if test="contactDept != null and contactDept != ''">
				contact_dept = #{contactDept, jdbcType=VARCHAR},
			</if>
			<if test="fax != null and fax != ''">
				fax = #{fax, jdbcType=VARCHAR},
			</if>
			<if test="email != null and email != ''">
				email = #{email, jdbcType=VARCHAR},
			</if>
			<if test="address != null and address != ''">
				address = #{address, jdbcType=VARCHAR},
			</if>
			<if test="introduction != null and introduction != ''">
				introduction = #{introduction, jdbcType=VARCHAR},
			</if>
			<if test="organizationCode != null and organizationCode != ''">
				organization_code = #{organizationCode, jdbcType=VARCHAR},
			</if>
			<if test="commercialCode != null and commercialCode != ''">
				commercial_code = #{commercialCode, jdbcType=VARCHAR},
			</if>
			<if test="taxCode != null and taxCode != ''">
				tax_code = #{taxCode, jdbcType=VARCHAR},
			</if>
			<if test="socialSecurityCode != null and socialSecurityCode != ''">
				social_security_code = #{socialSecurityCode, jdbcType=VARCHAR},
			</if>
			<if test="webSiteId != null and webSiteId != ''">
				web_site_id = #{webSiteId, jdbcType=VARCHAR},
			</if>
			<if test="laoWangCode != null and laoWangCode != ''">
				lao_wang_code = #{laoWangCode, jdbcType=VARCHAR},
			</if>
			<if test="scale != null and scale != ''">
				scale = #{scale, jdbcType=VARCHAR},
			</if>
			<if test="nature != null and nature != ''">
				nature = #{nature, jdbcType=VARCHAR},
			</if>
			<if test="economyType != null and economyType != ''">
				economy_type = #{economyType, jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark, jdbcType=VARCHAR},
			</if>
			<if test="viewCount != null and viewCount > 0">
				view_count = #{viewCount, jdbcType=INTEGER},
			</if>
			<if test="checkStatus != null and checkStatus != ''">
				check_status = #{checkStatus, jdbcType=VARCHAR},
			</if>
			<if test="businessLicense != null and businessLicense != ''">
				business_license = #{businessLicense, jdbcType=VARCHAR},
			</if>
			<if test="institutionalFramework != null and institutionalFramework != ''">
				institutional_framework = #{institutionalFramework, jdbcType=VARCHAR},
			</if>
			<if test="taxRegistration != null and taxRegistration != ''">
				tax_registration = #{taxRegistration, jdbcType=VARCHAR},
			</if>
			<if test="user != null">
				<if test="user.id != null and user.id > 0">
					uid = #{user.id, jdbcType=INTEGER},
				</if>
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					acode = #{area.code, jdbcType=VARCHAR},
				</if>
			</if>
			<if test="businessScope != null">
				<if test="businessScope.id != null and businessScope.id > 0">
					bid = #{businessScope.id, jdbcType=INTEGER},
				</if>
			</if>
			<if test="isActive != null">
				is_active = #{isActive, jdbcType=BIT},
			</if>
			update_check = update_check + 1 
		</trim>
		where id= #{id, jdbcType=INTEGER} and update_check = #{updateCheck, jdbcType=INTEGER}
	</update>

	<!-- get update check by id -->
	<select id="getUpdateCheck" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		select update_check from company where id = #{id, jdbcType=INTEGER}
	</select>
	
	<!-- get by id -->
	<select id="getById" resultMap="ResultCompany" parameterType="java.lang.Integer">
		select <include refid="base_column" />
		from <include refid="from_table" />
		where c.id = #{id, jdbcType=INTEGER}
	</select>
	
	<!-- get by ids -->
	<select id="getByIds" resultMap="ResultCompany" parameterType="list">
		select <include refid="base_column" />
		from <include refid="from_table" />
		where c.id in 
			<foreach collection="array" item="id" index="index" open="(" close=")" separator=",">
				#{id}
			</foreach>
	</select>

	<!-- get by user id -->
	<select id="getByAccount" resultMap="ResultCompany" parameterType="java.lang.Integer">
		select <include refid="base_column" />
		from <include refid="from_table" />
		where c.uid = #{uid, jdbcType=INTEGER}
	</select>

	<!-- get by itself -->
	<select id="getByObj" resultMap="ResultCompany" parameterType="Company">
		select <include refid="base_column" />
		from <include refid="from_table" />
		<trim prefix="where" prefixOverrides="and|or">
			<if test="name != null and name != ''">
				c.name like concat('%',#{name, jdbcType=VARCHAR},'%')
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					and c.acode like concat('%',#{area.code, jdbcType=VARCHAR},'%')
				</if>
			</if>
			<if test="businessScope != null">
				<if test="businessScope.id != null and businessScope.id > 0">
					and c.bid = #{businessScope.id, jdbcType=INTEGER} 
				</if>
			</if>
			<if test="checkStatus != null">
				and c.check_status = #{checkStatus, jdbcType=VARCHAR}
			</if>
			<choose>
				<when test="isActive != null">
					and is_active = #{isActive, jdbcType=BIT}
				</when>
				<otherwise>
					and is_active = 1 
				</otherwise>
			</choose>
		</trim>
	</select>
	
	<!-- getByPage -->
	<select id="getByPage" parameterType="map" resultMap="ResultCompany">
		select <include refid="base_column" />
		from <include refid="from_table" />
		<trim prefix="where" prefixOverrides="and|or">
			<if test="company != null">
				<if test="company.name != null and company.name != ''">
					c.name like concat('%',#{company.name, jdbcType=VARCHAR},'%')
				</if>
				<if test="company.area != null">
					<if test="company.area.code != null and company.area.code != ''">
						and c.acode like concat('%',#{company.area.code, jdbcType=VARCHAR},'%') 
					</if>
				</if>
				<if test="company.businessScope != null">
					<if test="company.businessScope.id != null and company.businessScope.id > 0">
						and c.bid = #{company.businessScope.id, jdbcType=INTEGER} 
					</if>
				</if>
				<choose>
					<when test="company.checkStatus != null and company.checkStatus != ''">
						and c.check_status = #{company.checkStatus, jdbcType=VARCHAR}
					</when>
					<otherwise>
						and c.check_status = 'ok'
					</otherwise>
				</choose>
				<choose>
					<when test="company.isActive != null">
						and c.is_active = #{company.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and c.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="company != null">
				</when>
				<otherwise>
					and c.check_status = 'ok' and c.is_active = 1 
				</otherwise>
			</choose>
		</trim>
		order by c.create_date desc
		limit #{start, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
	</select>

	<!-- getTotalCount -->
	<select id="getTotalCount" parameterType="map" resultType="int">
		select count(*) 
		from <include refid="from_table" />
		<trim prefix="where" prefixOverrides="and|or">
			<if test="company != null">
				<if test="company.name != null and company.name != ''">
					c.name like concat('%',#{company.name, jdbcType=VARCHAR},'%')
				</if>
				<if test="company.area != null">
					<if test="company.area.code != null and company.area.code != ''">
						and c.acode like concat('%',#{company.area.code, jdbcType=VARCHAR},'%') 
					</if>
				</if>
				<if test="company.businessScope != null">
					<if test="company.businessScope.id != null and company.businessScope.id > 0">
						and c.bid = #{company.businessScope.id, jdbcType=INTEGER} 
					</if>
				</if>
		 		<choose>
					<when test="company.checkStatus != null and company.checkStatus != ''">
						and c.check_status = #{company.checkStatus, jdbcType=VARCHAR}
					</when>
					<otherwise>
						and c.check_status = 'ok'
					</otherwise>
				</choose>
				<choose>
					<when test="company.isActive != null">
						and c.is_active = #{company.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and c.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="company != null">
				</when>
				<otherwise>
					and c.check_status = 'ok' and c.is_active = 1 
				</otherwise>
			</choose>
		</trim>
	</select> 
	
</mapper>