<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esd.dao.ImageDao">

	<!-- result map of user -->
	<resultMap id="ResultImage" type="Image">
		<id column="i_id" property="id" jdbcType="VARCHAR"/>
		<result column="i_create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="i_update_check" property="updateCheck" jdbcType="INTEGER"/>
		<result column="i_update_date" property="updateDate" jdbcType="TIMESTAMP"/>
		<result column="i_log_user" property="logUser" jdbcType="VARCHAR"/>
		<result column="i_image_name" property="imageName" jdbcType="VARCHAR" />
		<result column="i_image_title" property="imageTitle" jdbcType="VARCHAR" />
		<result column="i_default_width" property="defaultWidth" jdbcType="VARCHAR" />
		<result column="i_default_height" property="defaultHeight" jdbcType="VARCHAR" />
		<result column="i_new_width" property="newWidth" jdbcType="VARCHAR" />
		<result column="i_new_height" property="newHeight" jdbcType="VARCHAR" />
		<result column="i_mark" property="mark" jdbcType="VARCHAR" />
		<result column="i_is_active" property="isActive" jdbcType="BIT" />
	</resultMap>

	<sql id="base_column">
		i.id as i_id, i.create_date as i_create_date, i.update_check as i_update_check, 
			i.update_date as i_update_date, i.log_user as i_log_user, i.image_name as i_image_name,
			i.image_title as i_image_title, i.default_width as i_default_width, i.default_height as i_default_height, 
			i.new_width as i_new_width, i.new_height as i_new_height, i.mark as i_mark, i.is_active as i_is_active
	</sql>
	
	<!-- insert -->
	<insert id="save" parameterType="Image" useGeneratedKeys="true" keyProperty="id">
		insert into image
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			create_date,
			update_check,
			update_date,
			<if test="logUser != null and logUser != ''">
				log_user,
			</if>
			<if test="image != null ">
				image,
			</if>
			<if test="imageName != null and imageName != ''">
				image_name,
			</if>
			<if test="imageTitle != null and imageTitle != ''">
				image_title,
			</if>
			<if test="defaultWidth != null and defaultWidth != ''">
				default_width,
			</if>
			<if test="defaultHeight != null and defaultHeight != ''">
				default_height,
			</if>
			<if test="newWidth != null and newWidth != ''">
				new_width,
			</if>
			<if test="newHeight != null and newHeight != ''">
				new_height,
			</if>
			<if test="mark != null and mark != ''">
				mark,
			</if>
			<if test="isActive != null">
				is_active
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}, now(), default, now(),
			<if test="logUser != null and logUser != ''">
				#{logUser, jdbcType=VARCHAR},
			</if>
			<if test="image != null ">
				#{image,jdbcType=BLOB},
			</if>
			<if test="imageName != null and imageName != ''">
				#{imageName, jdbcType=VARCHAR},
			</if>
			<if test="imageTitle != null and imageTitle != ''">
				#{imageTitle, jdbcType=VARCHAR},
			</if>
			<if test="defaultWidth != null and defaultWidth != ''">
				#{defaultWidth, jdbcType=VARCHAR},
			</if>
			<if test="defaultHeight != null and defaultHeight != ''">
				#{defaultHeight, jdbcType=VARCHAR},
			</if>
			<if test="newWidth != null and newWidth != ''">
				#{newWidth, jdbcType=VARCHAR},
			</if>
			<if test="newHeight != null and newHeight != ''">
				#{newHeight, jdbcType=VARCHAR},
			</if>
			<if test="mark != null and mark != ''">
				#{mark, jdbcType=VARCHAR},
			</if>
			<if test="isActive != null">
				#{isActive, jdbcType=BIT}
			</if>
		</trim>
	</insert>

	<!-- delete -->
	<delete id="delete" parameterType="java.lang.String">
		delete from image where id = #{id, jdbcType=VARCHAR}
	</delete>

	<!-- update -->
	<update id="update" parameterType="Image">
		update image
		<trim prefix="set" suffixOverrides=",">
			update_date = now(),
			<if test="logUser != null and logUser != ''">
				log_user = #{logUser, jdbcType=VARCHAR},
			</if>
			<if test="image != null ">
				image = #{image,jdbcType=BLOB},
			</if>
			<if test="imageName != null and imageName != ''">
				image_name = #{imageName, jdbcType=VARCHAR},
			</if>
			<if test="imageTitle != null and imageTitle != ''">
				image_title = #{imageTitle, jdbcType=VARCHAR},
			</if>
			<if test="defaultWidth != null and defaultWidth != ''">
				default_width = #{defaultWidth, jdbcType=VARCHAR},
			</if>
			<if test="defaultHeight != null and defaultHeight != ''">
				default_height = #{defaultHeight, jdbcType=VARCHAR},
			</if>
			<if test="newWidth != null and newWidth != ''">
				new_width = #{newWidth, jdbcType=VARCHAR},
			</if>
			<if test="newHeight != null and newHeight != ''">
				new_height = #{newHeight, jdbcType=VARCHAR},
			</if>
			<if test="mark != null and mark != ''">
				mark = #{mark, jdbcType=VARCHAR}, 
			</if>
			<if test="isActive != null">
				is_active = #{isActive, jdbcType=BIT},
			</if>
			update_check = update_check + 1 
		</trim>
		where id= #{id, jdbcType=VARCHAR} and update_check = #{updateCheck, jdbcType=INTEGER}
	</update>

	<!-- get update check by id -->
	<select id="getUpdateCheck" resultType="java.lang.Integer" parameterType="java.lang.String">
		select update_check from image where id = #{id, jdbcType=VARCHAR}
	</select>
	
	<select id="getById" resultMap="ResultImage" parameterType="java.lang.String">
		select <include refid="base_column" />
		from image as i
		where i.id = #{id, jdbcType=VARCHAR}
	</select>

	<!-- get image -->
	<select id="getImageById" resultType="java.util.HashMap" parameterType="java.lang.String" >
		select image_title, image
		from image
		where id = #{id, jdbcType=VARCHAR}
	</select>
	
	<select id="getImageByNid" resultType="java.util.HashMap" parameterType="java.lang.Integer" >
		select image_title, image
		from image
		where nid = #{nid, jdbcType=INTEGER}
	</select>
	
	<!-- getByPage -->
	<select id="getByPage" parameterType="map" resultMap="ResultImage">
		select <include refid="base_column" />
		from image as i
		<trim prefix="where" prefixOverrides="and|or">
			<if test="image != null">
				<if test="image.imageName != '' and image.imageName != null">
					and i.image_name like concat('%', #{image.imageName, jdbcType=VARCHAR}, '%')
				</if>
				<if test="image.imageTitle != '' and image.imageTitle != null">
					and i.image_title like concat('%', #{image.imageTitle, jdbcType=VARCHAR}, '%')
				</if>
				<choose>
					<when test="image.isActive != null">
						and i.is_active = #{image.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and i.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="image != null">
				</when>
				<otherwise>
					and i.is_active = 1 
				</otherwise>
			</choose>
		</trim>
		order by i.create_date desc 
		limit #{start, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
	</select>

	<!-- getTotalCount -->
	<select id="getTotalCount" parameterType="map" resultType="int">
		select count(*)
		from image as i
		<trim prefix="where" prefixOverrides="and|or">
			<if test="image != null">
				<if test="image.imageName != '' and image.imageName != null">
					and i.image_name like concat('%', #{image.imageName, jdbcType=VARCHAR}, '%')
				</if>
				<if test="image.imageTitle != '' and image.imageTitle != null">
					and i.image_title like concat('%', #{image.imageTitle, jdbcType=VARCHAR}, '%')
				</if>
				<choose>
					<when test="image.isActive != null">
						and i.is_active = #{image.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and i.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="image != null">
				</when>
				<otherwise>
					and i.is_active = 1 
				</otherwise>
			</choose>
		</trim>
	</select>

</mapper>
