<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esd.dao.MenuDao">

	<!-- result map of WorkExperience -->
	<resultMap id="ResultMenu" type="Menu">
		<id column="id" property="id" jdbcType="VARCHAR"  />
		<result column="text" property="text" jdbcType="VARCHAR"  />
		<result column="state" property="state" jdbcType="VARCHAR"  />
		<result column="url" property="url"  jdbcType="VARCHAR" />
		<result column="checked" property="checked"  jdbcType="VARCHAR" />
		<result column="icon_cls" property="iconCls" jdbcType="VARCHAR" />
		<result column="enable" property="enable" jdbcType="TINYINT" />
		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
		<result column="authority" property="authority" jdbcType="INTEGER" />
		<result column="is_active" property="isActive" jdbcType="BIT" />
	</resultMap>
	
<!-- 	<sql id="base_column">
		m.id as m_id, m.create_date as m_create_date, m.update_check as m_update_check, m.update_date as m_update_date,
		m.log_user as m_log_user, m.time as m_time, m.school as m_school, m.major as m_major,
		m.education as m_education, m.certificate as m_certificate, m.rid as m_rid
	</sql> -->
	
	<!-- insert -->
	<insert id="save" parameterType="Menu" useGeneratedKeys="false" keyProperty="id">
		insert into menu 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="text != null and text != ''">
				text,
			</if>
			<if test="state != null and state != ''">
				state,
			</if>
			<if test="url != null and url != ''">
				url,
			</if>
			<if test="checked != null and checked != ''">
				checked,
			</if>
			<if test="icon_cls != null and icon_cls != ''">
				icon_cls,
			</if>
			<if test="enable != null">
				enable,
			</if>
			<if test="type_name != null and type_name != ''">
				type_name,
			</if>
			<if test="authority != null">
				authority,
			</if>
			<if test="isActive != null">
				is_active
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id, jdbcType=VARCHAR},
			</if>
			<if test="text != null and text != ''">
				#{text, jdbcType=VARCHAR},
			</if>
			<if test="state != null and state != ''">
				#{state, jdbcType=VARCHAR},
			</if>
			<if test="url != null and url != ''">
				#{url, jdbcType=VARCHAR},
			</if>
			<if test="checked != null and checked != ''">
				#{checked, jdbcType=VARCHAR},
			</if>
			<if test="icon_cls != null and icon_cls != ''">
				#{icon_cls, jdbcType=VARCHAR},
			</if>
			<if test="enable != null">
				#{enable, jdbcType=TINYINT},
			</if>
			<if test="type_name != null and type_name != ''">
				#{type_name, jdbcType=VARCHAR},
			</if>
			<if test="authority != null">
				#{authority, jdbcType=INTEGER},
			</if>
			<if test="isActive != null">
				#{isActive, jdbcType=BIT}
			</if>
		</trim>
	</insert>

	<!-- delete -->
	<delete id="delete" parameterType="java.lang.String">
		delete from menu
		where id = #{id, jdbcType=VARCHAR}
	</delete>

	<!-- update -->
	<update id="update" parameterType="Menu">
		update menu
		<set>
			<if test="text != null and text != ''">
				text = #{text, jdbcType=VARCHAR},
			</if>
			<if test="state != null and state != ''">
				state = #{state, jdbcType=VARCHAR},
			</if>
			<if test="url != null and url != ''">
				url = #{url, jdbcType=VARCHAR},
			</if>
			<if test="checked != null and checked != ''">
				checked = #{checked, jdbcType=VARCHAR},
			</if>
			<if test="iconCls != null and iconCls != ''">
				icon_cls = #{iconCls, jdbcType=VARCHAR},
			</if>
			<if test="enable != null and enable != ''">
				enable = #{enable, jdbcType=TINYINT},
			</if>
			<if test="typeName != null and typeName != ''">
				type_name = #{typeName, jdbcType=VARCHAR},
			</if>
			<if test="authority != null and authority > 0">
				authority = #{authority, jdbcType=INTEGER},
			</if>
			<if test="isActive != null">
				is_active = #{isActive, jdbcType=BIT}
			</if>
		</set>
		where id = #{id, jdbcType=VARCHAR}
	</update>
	
	<!-- getById -->
	<select id="getById" parameterType="java.lang.String" resultMap="ResultMenu">
		select *
		from menu
		where id = #{id, jdbcType=VARCHAR}
	</select>
	
	<!--  get by page -->
	<select id="getByPage" parameterType="map" resultMap="ResultMenu" >
		select *
		from menu
		<trim prefix="where" prefixOverrides="and|or">
			<if test="menu != null">
				<if test="menu.state != null and menu.state != ''">
					state = #{menu.state, jdbcType=VARCHAR}
				</if>
				<if test="menu.checked != null and menu.checked != ''">
					and checked = #{menu.checked, jdbcType=VARCHAR}
				</if>
				<if test="menu.enable != null ">
					and enable = #{menu.enable, jdbcType=TINYINT}
				</if>
				<if test="menu.typeName != null and menu.typeName != null">
					and typeName = #{menu.typeName, jdbcType=VARCHAR}
				</if>
				<if test="menu.authority != null and menu.authority > 0">
				 	and authority = #{menu.authority, jdbcType=INTEGER}	
				</if>
				<choose>
					<when test="menu.isActive != null">
						and is_active = #{menu.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="menu != null">
				</when>
				<otherwise>
					and is_active = 1 
				</otherwise>
			</choose>
		</trim>
		limit #{start, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
	</select>
	
	<!--  get menu checked  -->
	<select id="getMenuChecked" resultMap="ResultMenu" parameterType="java.lang.String">
		select text,enable
		from menu
	</select>
	
</mapper>