<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esd.dao.ParameterDao">

	<!-- 查询Area 地名 -->
	<resultMap id="ResultArea" type="Area">
		<id column="a_code" property="code" />
		<result column="a_name" property="name" />
		<result column="a_pyName" property="pyName" />
		<result column="a_abbr" property="abbr" />
		<result column="a_mark" property="mark" />
		<result column="a_is_active" property="isActive" jdbcType="BIT" />
	</resultMap>
	
	<!-- 查询Parameter 地名 -->
	<resultMap id="ResultParameter" type="Parameter">
		<id column="p_id" property="id" />
		<result column="p_name" property="name" />
		<result column="p_value" property="value" />
		<result column="p_type" property="type" />
		<result column="p_mark" property="mark" />
		<result column="p_is_active" property="isActive" jdbcType="BIT" />
		<association property="area" javaType="Parameter" resultMap="ResultArea" />
	</resultMap>
	
	<sql id="base_column">
		p.id as p_id, p.name as p_name, p.value as p_value, p.type as p_type, p.mark as p_mark, p.is_active as p_is_active, 
 		a.code as a_code, a.name as a_name, a.pyname as a_pyName, a.abbr as a_abbr, a.mark as a_mark, a.is_active as a_is_active 
	</sql>
	
	<!-- insert -->
	<insert id="save" parameterType="Parameter" >
		insert into parameter
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="value != null and value != ''">
				value,
			</if>
			<if test="type != null and type != ''">
				type,
			</if>
			<if test="mark != null and mark != ''">
				mark,
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					acode,
				</if>
			</if>
			<if test="isActive != null">
				is_active
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="value != null and value != ''">
				#{value,jdbcType=VARCHAR},
			</if>
			<if test="type != null and type != ''">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="mark != null and mark != ''">
				#{mark,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					#{area.code,jdbcType=VARCHAR},
				</if>
			</if>
			<if test="isActive != null">
				#{isActive, jdbcType=BIT}
			</if>
		</trim>
	</insert>

	<!-- delete -->
	<delete id="delete" parameterType="java.lang.String">
		delete from parameter where id = #{id}
	</delete>
	
	<!-- update -->
	<update id="update" parameterType="Parameter">
		update parameter
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null and name != ''">
				name = #{name, jdbcType=VARCHAR},
			</if>
			<if test="value != null and value != ''">
				value = #{value, jdbcType=VARCHAR},
			</if>
			<if test="type != null and type != ''">
				type = #{type, jdbcType=VARCHAR},
			</if>
			<if test="mark != null and mark != ''">
				mark = #{mark, jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					acode = #{area.code, jdbcType=VARCHAR},
				</if>
			</if>
			<if test="isActive != null">
				is_active = #{isActive, jdbcType=BIT}
			</if>
		</trim>
		where id= #{id, jdbcType=VARCHAR}
	</update>
	
	<!-- update -->
	<update id="updateSwitch" parameterType="Parameter">
		update parameter 
		<if test="value != null and value != ''">
			set value=#{value, jdbcType=VARCHAR} 
		</if>
		<trim prefix="where" prefixOverrides="and|or">
			<if test="id != null and id != ''">
				id = #{id, jdbcType=VARCHAR} 
			</if>
			<if test="name != null and name != ''">
				and name=#{name, jdbcType=VARCHAR} 
			</if>
			<if test="type != null and type != ''">
				and type=#{type, jdbcType=VARCHAR} 
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code !=''">
					and acode=#{area.code, jdbcType=VARCHAR} 
				</if>
			</if>
		</trim>
	</update>
	
	<!-- get by id -->
	<select id="getById" resultMap="ResultParameter" parameterType="java.lang.String">
		select <include refid="base_column" />
		from parameter as p, area as a 
		where p.acode = a.code and p.id = #{id}
	</select>
	
	<!-- get by param -->
	<select id="getByParam" resultMap="ResultParameter" parameterType="Parameter">
		select <include refid="base_column" />
		from parameter as p, area as a 
		<trim prefix="where" prefixOverrides="and|or">
			p.acode = a.code 
			<if test="name != null and name != ''">
				and p.name = #{name, jdbcType=VARCHAR}
			</if>
			<if test="value != null and value != ''">
				and p.value = #{value, jdbcType=VARCHAR}
			</if>
			<if test="type != null and type != ''">
				and p.type = #{type, jdbcType=VARCHAR}
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					and p.acode = #{area.code, jdbcType=VARCHAR}
				</if>
			</if>
		</trim>
		order by p.type, p.id asc;
	</select>
	
	<!-- get by obj -->
	<select id="getByObj" resultMap="ResultParameter" parameterType="Parameter">
		select <include refid="base_column" />
		from parameter as p, area as a 
		<trim prefix="where" prefixOverrides="and|or">
			p.acode = a.code 
			<if test="name != null and name != ''">
				and p.name = #{name, jdbcType=VARCHAR}
			</if>
			<if test="value != null and value != ''">
				and p.value = #{value, jdbcType=VARCHAR}
			</if>
			<if test="type != null and type != ''">
				and p.type = #{type, jdbcType=VARCHAR}
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					and p.acode = #{area.code, jdbcType=VARCHAR}
				</if>
			</if>
		</trim>
		order by p.type, p.id asc;
	</select>
	
	<!-- get by page -->
	<select id="getByPage" resultMap="ResultParameter" parameterType="map">
		select <include refid="base_column" />
		from parameter as p, area as a 
		<trim prefix="where" prefixOverrides="and|or">
			p.acode = a.code 
			<if test="parameter != null">
				<if test="parameter.name != null and parameter.name != ''">
					and p.name = #{parameter.name, jdbcType=VARCHAR}
				</if>
				<if test="parameter.type != null and parameter.type != ''">
					and p.type = #{parameter.type, jdbcType=VARCHAR}
				</if>
				<if test="parameter.value != null and parameter.value != ''">
					and p.value = #{parameter.value, jdbcType=VARCHAR}
				</if>
				<if test="parameter.area != null">
					<if test="parameter.area.code != null and parameter.area.code != ''">
						and p.acode = #{parameter.area.code, jdbcType=VARCHAR}
					</if>
				</if>
				<choose>
					<when test="parameter.isActive != null">
						and p.is_active = #{parameter.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and p.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="parameter != null">
				</when>
				<otherwise>
					and p.is_active = 1 
				</otherwise>
			</choose>
		</trim>
		order by type, id asc;
	</select>
	
	<!-- get by type -->
	<select id="getByType" resultType="Parameter" parameterType="java.lang.String">
		select * from parameter
		where type = #{type, jdbcType=VARCHAR} order by id asc;
	</select>
	
	<!-- getShareScope -->
	<select id="getShareScopeByArea" resultType="Parameter" parameterType="java.lang.String">
		select * from parameter
		where type = 'shareScope' and acode = #{acode, jdbcType=VARCHAR};
	</select>
	
	<!-- getShareScope -->
	<select id="getShareScopeListByArea" resultType="Parameter" parameterType="java.lang.String">
		select * from parameter
		where type = 'shareScopeSwitch' and acode &lt;= #{acode, jdbcType=VARCHAR};
	</select>
	
	<!-- getOneByTypeAndArea -->
	<select id="getOneByTypeAndArea" resultType="Parameter" parameterType="map">
		select * from parameter
		where type = #{type, jdbcType=VARCHAR} and acode = #{acode, jdbcType=VARCHAR};
	</select>
	
</mapper>