<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esd.dao.ParameterDao">

	<!-- 查询Area 地名 -->
	<resultMap id="ResultArea" type="Area">
		<id column="a_code" property="code" />
		<result column="a_name" property="name" />
		<result column="a_pyName" property="pyName" />
		<result column="a_abbr" property="abbr" />
		<result column="a_mark" property="mark" />
	</resultMap>
	
	<!-- 查询Parameter 地名 -->
	<resultMap id="ResultParameter" type="Parameter">
		<id column="p_id" property="id" />
		<result column="p_name" property="name" />
		<result column="p_value" property="value" />
		<result column="p_type" property="type" />
		<result column="p_mark" property="mark" />
		<association property="area" javaType="Parameter" resultMap="ResultArea" />
	</resultMap>
	
	<!-- insert -->
	<insert id="save" parameterType="Parameter" >
		<!-- 返回新保存的这条数据的id,在保存后,用保存前对象.getId()得到-->
		insert into 
		parameter(id,name,value,type,mark,acode) 
		values(#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR},
			#{type,jdbcType=VARCHAR},#{mark,jdbcType=VARCHAR},#{area.code,jdbcType=VARCHAR})
	</insert>

	<!-- delete -->
	<delete id="delete" parameterType="java.lang.String">
		delete from parameter where id = #{id}
	</delete>
	
	<!-- update -->
	<update id="update" parameterType="Parameter">
		update parameter
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null and name != ''">
				name=#{name},
			</if>
			<if test="value != null and value != ''">
				value=#{value},
			</if>
			<if test="type != null and type != ''">
				type=#{type},
			</if>
			<if test="mark != null and mark != ''">
				mark=#{mark},
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					acode=#{area.code}
				</if>
			</if>
		</trim>
		where id= #{id}
	</update>
	
	<!-- update -->
	<update id="updateSwitch" parameterType="Parameter">
		update parameter 
		<if test="value != null and value != ''">
			set value=#{value} 
		</if>
		<trim prefix="where" prefixOverrides="and|or">
			<if test="name != null and name != ''">
				name=#{name} 
			</if>
			<if test="type != null and type != ''">
				and type=#{type} 
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code !=''">
					and acode=#{area.code} 
				</if>
			</if>
		</trim>
	</update>
	
	<!-- get by id -->
	<select id="getById" resultMap="ResultParameter" parameterType="java.lang.String">
		select p.id as p_id, p.name as p_name, p.value as p_value, p.type as p_type, p.mark as p_mark,
		 		a.code as a_code, a.name as a_name, a.pyname as a_pyName, a.abbr as a_abbr, a.mark as a_mark
		from parameter as p, area as a 
		where p.acode = a.code and p.id = #{id}
	</select>
	
	<!-- get by param -->
	<select id="getByParam" resultMap="ResultParameter" parameterType="Parameter">
		select p.id as p_id, p.name as p_name, p.value as p_value, p.type as p_type, p.mark as p_mark,
		 		a.code as a_code, a.name as a_name, a.pyname as a_pyName, a.abbr as a_abbr, a.mark as a_mark
		from parameter as p, area as a 
		<trim prefix="where" prefixOverrides="and|or">
			p.acode = a.code 
			<if test="name != null and name != ''">
				and p.name = #{name}
			</if>
			<if test="value != null and value != ''">
				and p.value = #{value}
			</if>
			<if test="type != null and type != ''">
				and p.type = #{type}
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					and p.acode = #{area.code}
				</if>
			</if>
		</trim>
	</select>
	
	<!-- get by obj -->
	<select id="getByObj" resultMap="ResultParameter" parameterType="Parameter">
		select p.id as p_id, p.name as p_name, p.value as p_value, p.type as p_type, p.mark as p_mark,
		 		a.code as a_code, a.name as a_name, a.pyname as a_pyName, a.abbr as a_abbr, a.mark as a_mark
		from parameter as p, area as a 
		<trim prefix="where" prefixOverrides="and|or">
			p.acode = a.code 
			<if test="name != null and name != ''">
				and p.name = #{name}
			</if>
			<if test="value != null and value != ''">
				and p.value = #{value}
			</if>
			<if test="type != null and type != ''">
				and p.type = #{type}
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					and p.acode = #{area.code}
				</if>
			</if>
		</trim>
	</select>
	
	<!-- get by page -->
	<select id="getByPage" resultMap="ResultParameter" parameterType="map">
		select p.id as p_id, p.name as p_name, p.value as p_value, p.type as p_type, p.mark as p_mark,
		 		a.code as a_code, a.name as a_name, a.pyname as a_pyName, a.abbr as a_abbr, a.mark as a_mark
		from parameter as p, area as a 
		<trim prefix="where" prefixOverrides="and|or">
			p.acode = a.code 
			<if test="parameter != null">
				<if test="parameter.name != null and parameter.name != ''">
					and p.name = #{parameter.name}
				</if>
				<if test="parameter.type != null and parameter.type != ''">
					and p.type = #{parameter.type}
				</if>
				<if test="parameter.value != null and parameter.value != ''">
					and p.value = #{parameter.value}
				</if>
				<if test="parameter.area != null">
					<if test="parameter.area.code != null and parameter.area.code != ''">
						and acode = #{parameter.area.code}
					</if>
				</if>
			</if>
		</trim>
		order by id desc;
	</select>
	
	<!-- get by type -->
	<select id="getByType" resultType="Parameter" parameterType="java.lang.String">
		select * from parameter
		where type = #{type} order by id desc;
	</select>
</mapper>