<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esd.dao.ResumeDao">

	<!-- result map of Resume -->
	<resultMap id="ResultResume" type="Resume">
		<id column="r_id" property="id" jdbcType="INTEGER" />
		<result column="r_create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="r_update_check" property="updateCheck" jdbcType="INTEGER" />
		<result column="r_update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="r_log_user" property="logUser" jdbcType="VARCHAR" />
		<result column="r_title" property="title" jdbcType="VARCHAR" />
		<result column="r_name" property="name" jdbcType="VARCHAR" />
		<result column="r_gender" property="gender" jdbcType="VARCHAR" />
		<result column="r_birth" property="birth" jdbcType="VARCHAR" />
		<result column="r_identity_card" property="identityCard" jdbcType="VARCHAR" />
		<result column="r_race" property="race" jdbcType="VARCHAR" />
		<result column="r_marriage" property="marriage" jdbcType="VARCHAR" />
		<result column="r_hukou" property="hukou" jdbcType="VARCHAR" />
		<result column="r_hukou_address" property="hukouAddress" jdbcType="VARCHAR" />
		<result column="r_hukou_status" property="hukouStatus" jdbcType="VARCHAR" />
		<result column="r_address" property="address" jdbcType="VARCHAR" />
		<result column="r_zipcode" property="zipcode" jdbcType="VARCHAR" />
		<result column="r_phone" property="phone" jdbcType="VARCHAR" />
		<result column="r_email" property="email" jdbcType="VARCHAR" />
		<result column="r_qq" property="qq" jdbcType="VARCHAR" />
		<result column="r_disability_category" property="disabilityCategory" jdbcType="VARCHAR" />
		<result column="r_disability_card" property="disabilityCard" jdbcType="VARCHAR" />
		<result column="r_disability_level" property="disabilityLevel" jdbcType="VARCHAR" />
		<result column="r_disability_part" property="disabilityPart" jdbcType="VARCHAR" />
		<result column="r_work_ability" property="workAbility" jdbcType="VARCHAR" />
		<result column="r_home_town" property="homeTown" jdbcType="VARCHAR" />
		<result column="r_political_status" property="politicalStatus" jdbcType="VARCHAR" />
		<result column="r_age" property="age" jdbcType="INTEGER" />
		<result column="r_height" property="height" jdbcType="FLOAT" />
		<result column="r_weight" property="weight" jdbcType="FLOAT" />
		<result column="r_education" property="education" jdbcType="VARCHAR" />
		<result column="r_major" property="major" jdbcType="VARCHAR" />
		<result column="r_school" property="school" jdbcType="VARCHAR" /> 
		<result column="r_zhi_cheng" property="zhiCheng" jdbcType="VARCHAR" />
		<result column="r_shi_ye_hao" property="shiYeHao" jdbcType="VARCHAR" />
		<result column="r_experts" property="experts" jdbcType="VARCHAR" />
		<result column="r_training" property="training" jdbcType="VARCHAR" />
		<result column="r_experience" property="experience" jdbcType="VARCHAR" />
		<result column="r_work_experience" property="workExperience" jdbcType="VARCHAR" />
		<result column="r_self_evaluation" property="selfEvaluation" jdbcType="VARCHAR" />
		<result column="r_job_nature" property="jobNature" jdbcType="VARCHAR" />
		<result column="r_desire_job" property="desireJob" jdbcType="VARCHAR" />
		<result column="r_desire_address" property="desireAddress" jdbcType="VARCHAR" />
		<result column="r_desire_salary" property="desireSalary" jdbcType="VARCHAR" />
		<result column="r_provide_food_and_room" property="provideFoodAndRoom" jdbcType="TINYINT" />
		<result column="r_provide_room" property="provideRoom" jdbcType="TINYINT" />
		<result column="r_provide_food" property="provideFood" jdbcType="TINYINT" />
		<result column="r_provide_insurance" property="provideInsurance" jdbcType="TINYINT" />
		<result column="r_provide_other" property="provideOther" jdbcType="VARCHAR" />
		<result column="r_work_shift" property="workShift" jdbcType="TINYINT" />
		<result column="r_state" property="state" jdbcType="VARCHAR" />
		<result column="r_is_default" property="isDefault" jdbcType="VARCHAR" />
		<result column="r_check_status" property="checkStatus" jdbcType="VARCHAR" />
		<result column="r_view_count" property="viewCount" jdbcType="INTEGER" />
		<result column="r_career_test" property="careerTest" jdbcType="VARCHAR" />
		<result column="r_process_state" property="processState" jdbcType="VARCHAR" />
		<association property="user" javaType="User" resultMap="ResultUser" />
		<association property="area" javaType="Area" resultMap="ResultArea" />
	</resultMap>

	<!-- result map of User -->
	<resultMap id="ResultUser" type="User">
		<id column="u_id" property="id" jdbcType="INTEGER" />
		<result column="u_login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="u_pass_word" property="passWord" jdbcType="VARCHAR" />
		<result column="u_identity" property="identity" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- result map of Area -->
	<resultMap id="ResultArea" type="Area">
		<id column="a_code" property="code" jdbcType="VARCHAR" />
		<result column="a_name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="base_column">
		r.id as r_id, r.create_date as r_create_date, r.update_check as r_update_check, r.update_date as r_update_date, 
			r.log_user as r_log_user, r.title as r_title, r.name as r_name, r.gender as r_gender, r.birth as r_birth,r.identity_card as r_identity_card, 
			r.race as r_race, r.marriage as r_marriage, r.hukou as r_hukou, r.hukou_address as r_hukou_address, 
			r.hukou_status as r_hukou_status, r.address as r_address, r.zipcode as r_zipcode, r.phone as r_phone, 
			r.email as r_email, r.qq as r_qq, r.disability_category as r_disability_category, r.disability_card as r_disability_card, 
			r.disability_level as r_disability_level, r.disability_part as r_disability_part, r.work_ability as r_work_ability, 
			r.home_town as r_home_town, r.political_status as r_political_status, r.age as r_age, r.height as r_height, r.weight as r_weight, 
			r.education as r_education, r.major as r_major, r.school as r_school, r.zhi_cheng as r_zhi_cheng, r.shi_ye_hao as r_shi_ye_hao, 
			r.experts as r_experts, r.training as r_training, r.experience as r_experience, r.work_experience as r_work_experience, 
			r.self_evaluation as r_self_evaluation, r.job_nature as r_job_nature, r.desire_job as r_desire_job, r.desire_address r_desire_address, 
			r.desire_salary as r_desire_salary, r.provide_food_and_room as r_provide_food_and_room,  r.provide_room as r_provide_room, 
			r.provide_food as r_provide_food, r.provide_insurance as r_provide_insurance, r.provide_other as r_provide_other, 
			r.work_shift as r_work_shift, r.state as r_state, r.is_default as r_is_default, r.check_status as r_check_status, 
			r.view_count as r_view_count, r.career_test r_career_test, r.process_state as r_process_state,
		u.id as u_id, u.login_name as u_login_name, u.pass_word as u_pass_word, u.identity as u_identity, 
		a.code as a_code, a.name as a_name 
	</sql>
	
	<sql id="from_table">
		resume as r , user as u, area as a 
	</sql>
	
	<sql id="sql_condition">
		r.uid = u.id and r.acode = a.code 
	</sql>
	
	<!-- insert -->
	<insert id="save" parameterType="Resume" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into resume
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_date,
			update_check,
			update_date,
			<if test="logUser != null and logUser != ''">
				log_user,
			</if>
			<if test="title != null and title != ''">
				title,
			</if>
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="gender != null and gender != ''">
				gender,
			</if>
			<if test="birth != null and birth != ''">
				birth,
			</if>
			<if test="identityCard != null and identityCard != ''">
				identity_card,
			</if>
			<if test="race != null and race != ''">
				race,
			</if>
			<if test="marriage != null and marriage != ''">
				marriage,
			</if>
			<if test="hukou != null and hukou != ''">
				hukou,
			</if>
			<if test="hukouAddress != null and hukouAddress != ''">
				hukou_address,
			</if>
			<if test="hukouStatus != null and hukouStatus != ''">
				hukou_status,
			</if>
			<if test="address != null and address != ''">
				address,
			</if>
			<if test="zipcode != null and zipcode != ''">
				zipcode,
			</if>
			<if test="phone != null and phone != ''">
				phone,
			</if>
			<if test="email != null and email != ''">
				email,
			</if>
			<if test="qq != null and qq != ''">
				qq,
			</if>
			<if test="disabilityCategory != null and disabilityCategory != ''">
				disability_category,
			</if>
			<if test="disabilityCard != null and disabilityCard != ''">
				disability_card,
			</if>
			<if test="disabilityLevel != null and disabilityLevel != ''">
				disability_level,
			</if>
			<if test="disabilityPart != null and disabilityPart != ''">
				disability_part,
			</if>
			<if test="workAbility != null and workAbility != ''">
				work_ability,
			</if>
			<if test="homeTown != null and homeTown != ''">
				home_town,
			</if>
			<if test="politicalStatus != null and politicalStatus != ''">
				political_status,
			</if>
			<if test="age != null and age > 0">
				age,
			</if>
			<if test="height != null and height > 0">
				height,
			</if>
			<if test="weight != null and weight > 0">
				weight,
			</if>
			<if test="education != null and education != ''">
				education,
			</if>
			<if test="major != null and major != ''">
				major,
			</if>
			<if test="school != null and school != ''">
				school,
			</if>
			<if test="zhiCheng != null and zhiCheng != ''">
				zhi_cheng,
			</if>
			<if test="shiYeHao != null and shiYeHao != ''">
				shi_ye_hao,
			</if>
			<if test="experts != null and experts != ''">
				experts,
			</if>
			<if test="training != null and training != ''">
				training,
			</if>
			<if test="experience != null and experience != ''">
				experience,
			</if>
			<if test="workExperience != null and workExperience != ''">
				work_experience,
			</if>
			<if test="selfEvaluation != null and selfEvaluation != ''">
				self_evaluation,
			</if>
			<if test="attachment != null">
				attachment,
			</if>
			<if test="jobNature != null and jobNature != ''">
				job_nature,
			</if>
			<if test="desireJob != null and desireJob != ''">
				desire_job,
			</if>
			<if test="desireAddress != null and desireAddress != ''">
				desire_address,
			</if>
			<if test="desireSalary != null and desireSalary != ''">
				desire_salary,
			</if>
			<if test="provideFoodAndRoom != null">
				provide_food_and_room,
			</if>
			<if test="provideRoom != null">
				provide_room,
			</if>
			<if test="provideFood != null">
				provide_food,
			</if>
			<if test="provideInsurance != null">
				provide_insurance,
			</if>
			<if test="provideOther != null and provideOther != ''">
				provide_other,
			</if>
			<if test="workShift != null and workShift != ''">
				work_shift,
			</if>
			<if test="state != null and state != ''">
				state,
			</if>
			<if test="isDefault != null">
				is_default,
			</if>
			<if test="checkStatus != null and checkStatus != ''">
				check_status,
			</if>
			<if test="viewCount != null and viewCount > 0">
				view_count,
			</if>
			<if test="careerTest != null and careerTest != ''">
				career_test,
			</if>
			<if test="processState != null and processState != ''">
				process_state,
			</if>
			<if test="user != null">
				<if test="user.id != null and user.id > 0">
					uid,
				</if>
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					acode
				</if>
			</if>
		</trim>	
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			now(), default, now(),
			<if test="logUser != null and logUser != ''">
				#{logUser, jdbcType=VARCHAR},
			</if>
			<if test="title != null and title != ''">
				#{title, jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				#{name, jdbcType=VARCHAR},
			</if>
			<if test="gender != null and gender != ''">
				#{gender, jdbcType=VARCHAR},
			</if>
			<if test="birth != null and birth != ''">
				#{birth, jdbcType=VARCHAR},
			</if>
			<if test="identityCard != null and identityCard != ''">
				#{identityCard, jdbcType=VARCHAR},
			</if>
			<if test="race != null and race != ''">
				#{race, jdbcType=VARCHAR},
			</if>
			<if test="marriage != null and marriage != ''">
				#{marriage, jdbcType=VARCHAR},
			</if>
			<if test="hukou != null and hukou != ''">
				#{hukou, jdbcType=VARCHAR},
			</if>
			<if test="hukouAddress != null and hukouAddress != ''">
				#{hukouAddress, jdbcType=VARCHAR},
			</if>
			<if test="hukouStatus != null and hukouStatus != ''">
				#{hukouStatus, jdbcType=VARCHAR},
			</if>
			<if test="address != null and address != ''">
				#{address, jdbcType=VARCHAR},
			</if>
			<if test="zipcode != null and zipcode != ''">
				#{zipcode, jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone != ''">
				#{phone, jdbcType=VARCHAR},
			</if>
			<if test="email != null and email != ''">
				#{email, jdbcType=VARCHAR},
			</if>
			<if test="qq != null and qq != ''">
				#{qq, jdbcType=VARCHAR},
			</if>
			<if test="disabilityCategory != null and disabilityCategory != ''">
				#{disabilityCategory, jdbcType=VARCHAR},
			</if>
			<if test="disabilityCard != null and disabilityCard != ''">
				#{disabilityCard, jdbcType=VARCHAR},
			</if>
			<if test="disabilityLevel != null and disabilityLevel != ''">
				#{disabilityLevel, jdbcType=VARCHAR},
			</if>
			<if test="disabilityPart != null and disabilityPart != ''">
				#{disabilityPart, jdbcType=VARCHAR},
			</if>
			<if test="workAbility != null and workAbility != ''">
				#{workAbility, jdbcType=VARCHAR},
			</if>
			<if test="homeTown != null and homeTown != ''">
				#{homeTown, jdbcType=VARCHAR},
			</if>
			<if test="politicalStatus != null and politicalStatus != ''">
				#{politicalStatus, jdbcType=VARCHAR},
			</if>
			<if test="age != null and age > 0">
				#{age, jdbcType=INTEGER},
			</if>
			<if test="height != null and height > 0">
				#{height, jdbcType=FLOAT},
			</if>
			<if test="weight != null and weight > 0">
				#{weight, jdbcType=FLOAT},
			</if>
			<if test="education != null and education != ''">
				#{education, jdbcType=VARCHAR},
			</if>
			<if test="major != null and major != ''">
				#{major, jdbcType=VARCHAR},
			</if>
			<if test="school != null and school != ''">
				#{school, jdbcType=VARCHAR},
			</if>
			<if test="zhiCheng != null and zhiCheng != ''">
				#{zhiCheng, jdbcType=VARCHAR},
			</if>
			<if test="shiYeHao != null and shiYeHao != ''">
				#{shiYeHao, jdbcType=VARCHAR},
			</if>
			<if test="experts != null and experts != ''">
				#{experts, jdbcType=VARCHAR},
			</if>
			<if test="training != null and training != ''">
				#{training, jdbcType=VARCHAR},
			</if>
			<if test="experience != null and experience != ''">
				#{experience, jdbcType=VARCHAR},
			</if>
			<if test="workExperience != null and workExperience != ''">
				#{workExperience, jdbcType=VARCHAR},
			</if>
			<if test="selfEvaluation != null and selfEvaluation != ''">
				#{selfEvaluation, jdbcType=VARCHAR},
			</if>
			<if test="attachment != null">
				#{attachment, jdbcType=BLOB},
			</if>
			<if test="jobNature != null and jobNature != ''">
				#{jobNature, jdbcType=VARCHAR},
			</if>
			<if test="desireJob != null and desireJob != ''">
				#{desireJob, jdbcType=VARCHAR},
			</if>
			<if test="desireAddress != null and desireAddress != ''">
				#{desireAddress, jdbcType=VARCHAR},
			</if>
			<if test="desireSalary != null and desireSalary != ''">
				#{desireSalary, jdbcType=VARCHAR},
			</if>
			<if test="provideFoodAndRoom != null">
				#{provideFoodAndRoom, jdbcType=TINYINT},
			</if>
			<if test="provideRoom != null">
				#{provideRoom, jdbcType=TINYINT},
			</if>
			<if test="provideFood != null">
				#{provideFood, jdbcType=TINYINT},
			</if>
			<if test="provideInsurance != null">
				#{provideInsurance, jdbcType=TINYINT},
			</if>
			<if test="provideOther != null and provideOther != ''">
				#{provideOther, jdbcType=VARCHAR},
			</if>
			<if test="workShift != null and workShift != ''">
				#{workShift, jdbcType=TINYINT},
			</if>
			<if test="state != null and state != ''">
				#{state, jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null">
				#{isDefault, jdbcType=TINYINT},
			</if>
			<if test="checkStatus != null and checkStatus != ''">
				#{checkStatus, jdbcType=VARCHAR},
			</if>
			<if test="viewCount != null and viewCount > 0">
				#{viewCount, jdbcType=INTEGER},
			</if>
			<if test="careerTest != null and careerTest != ''">
				#{careerTest, jdbcType=VARCHAR},
			</if>
			<if test="processState != null and processState != ''">
				#{processState, jdbcType=VARCHAR},
			</if>
			<if test="user != null">
				<if test="user.id != null and user.id > 0">
					#{user.id, jdbcType=INTEGER},
				</if>
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					#{area.code, jdbcType=VARCHAR}
				</if>
			</if>
		</trim>	
	</insert>
	
	<!-- delete -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from resume where id = #{id, jdbcType=INTEGER}
	</delete>

	<!-- update -->
	<update id="update" parameterType="Resume">
		update resume
		<trim prefix="set" suffixOverrides=",">
			update_date = now(),
			<if test="logUser != null and logUser != ''">
				log_user = #{logUser, jdbcType=VARCHAR},
			</if>
			<if test="title != null and title != ''">
				title = #{title, jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				name = #{name, jdbcType=VARCHAR},
			</if>
			<if test="gender != null and gender != ''">
				gender = #{gender, jdbcType=VARCHAR},
			</if>
			<if test="birth != null and birth != ''">
				birth = #{birth, jdbcType=VARCHAR},
			</if>
			<if test="identityCard != null and identityCard != ''">
				identity_card = #{identityCard, jdbcType=VARCHAR},
			</if>
			<if test="race != null and race != ''">
				race = #{race, jdbcType=VARCHAR},
			</if>
			<if test="marriage != null and marriage != ''">
				marriage = #{marriage, jdbcType=VARCHAR},
			</if>
			<if test="hukou != null and hukou != ''">
				hukou = #{hukou, jdbcType=VARCHAR},
			</if>
			<if test="hukouAddress != null and hukouAddress != ''">
				hukou_address = #{hukouAddress, jdbcType=VARCHAR},
			</if>
			<if test="hukouStatus != null and hukouStatus != ''">
				hukou_status = #{hukouStatus, jdbcType=VARCHAR},
			</if>
			<if test="address != null and address != ''">
				address = #{address, jdbcType=VARCHAR},
			</if>
			<if test="zipcode != null and zipcode != ''">
				zipcode = #{zipcode, jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone != ''">
				phone = #{phone, jdbcType=VARCHAR},
			</if>
			<if test="email != null and email != ''">
				email = #{email, jdbcType=VARCHAR},
			</if>
			<if test="qq != null and qq != ''">
				qq = #{qq, jdbcType=VARCHAR},
			</if>
			<if test="disabilityCategory != null and disabilityCategory != ''">
				disability_category = #{disabilityCategory, jdbcType=VARCHAR},
			</if>
			<if test="disabilityCard != null and disabilityCard != ''">
				disability_card = #{disabilityCard, jdbcType=VARCHAR},
			</if>
			<if test="disabilityLevel != null and disabilityLevel != ''">
				disability_level = #{disabilityLevel, jdbcType=VARCHAR},
			</if>
			<if test="disabilityPart != null and disabilityPart != ''">
				disability_part = #{disabilityPart, jdbcType=VARCHAR},
			</if>
			<if test="workAbility != null and workAbility != ''">
				work_ability = #{workAbility, jdbcType=VARCHAR},
			</if>
			<if test="homeTown != null and homeTown != ''">
				home_town = #{homeTown, jdbcType=VARCHAR},
			</if>
			<if test="politicalStatus != null and politicalStatus != ''">
				political_status = #{politicalStatus, jdbcType=VARCHAR},
			</if>
			<if test="age != null and age > 0">
				age = #{age, jdbcType=INTEGER},
			</if>
			<if test="height != null and height > 0">
				height = #{height, jdbcType=FLOAT},
			</if>
			<if test="weight != null and weight > 0">
				weight = #{weight, jdbcType=FLOAT},
			</if>
			<if test="education != null and education != ''">
				education = #{education, jdbcType=VARCHAR},
			</if>
			<if test="major != null and major != ''">
				major = #{major, jdbcType=VARCHAR},
			</if>
			<if test="school != null and school != ''">
				school = #{school, jdbcType=VARCHAR},
			</if>
			<if test="zhiCheng != null and zhiCheng != ''">
				zhi_cheng = #{zhiCheng, jdbcType=VARCHAR},
			</if>
			<if test="shiYeHao != null and shiYeHao != ''">
				shi_ye_hao = #{shiYeHao, jdbcType=VARCHAR},
			</if>
			<if test="experts != null and experts != ''">
				experts = #{experts, jdbcType=VARCHAR},
			</if>
			<if test="training != null and training != ''">
				training = #{training, jdbcType=VARCHAR},
			</if>
			<if test="experience != null and experience != ''">
				experience = #{experience, jdbcType=VARCHAR},
			</if>
			<if test="workExperience != null and workExperience != ''">
				work_experience = #{workExperience, jdbcType=VARCHAR},
			</if>
			<if test="selfEvaluation != null and selfEvaluation != ''">
				self_evaluation = #{selfEvaluation, jdbcType=VARCHAR},
			</if>
			<if test="attachment != null">
				attachment = #{attachment, jdbcType=BLOB},
			</if>
			<if test="jobNature != null and jobNature != ''">
				job_nature = #{jobNature, jdbcType=VARCHAR},
			</if>
			<if test="desireJob != null and desireJob != ''">
				desire_job = #{desireJob, jdbcType=VARCHAR},
			</if>
			<if test="desireAddress != null and desireAddress != ''">
				desire_address = #{desireAddress, jdbcType=VARCHAR},
			</if>
			<if test="desireSalary != null and desireSalary != ''">
				desire_salary = #{desireSalary, jdbcType=VARCHAR},
			</if>
			<if test="provideFoodAndRoom != null">
				provide_food_and_room = #{provideFoodAndRoom, jdbcType=TINYINT},
			</if>
			<if test="provideRoom != null">
				provide_room = #{provideRoom, jdbcType=TINYINT},
			</if>
			<if test="provideFood != null">
				provide_food = #{provideFood, jdbcType=TINYINT},
			</if>
			<if test="provideInsurance != null">
				provide_insurance = #{provideInsurance, jdbcType=TINYINT},
			</if>
			<if test="provideOther != null and provideOther != ''">
				provide_other = #{provideOther, jdbcType=VARCHAR},
			</if>
			<if test="workShift != null and workShift != ''">
				work_shift = #{workShift, jdbcType=TINYINT},
			</if>
			<if test="state != null and state != ''">
				state = #{state, jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null">
				is_default = #{isDefault, jdbcType=TINYINT},
			</if>
			<if test="checkStatus != null and checkStatus != ''">
				check_status = #{checkStatus, jdbcType=VARCHAR},
			</if>
			<if test="viewCount != null and viewCount > 0">
				view_count = #{viewCount, jdbcType=INTEGER},
			</if>
			<if test="careerTest != null and careerTest != ''">
				career_test = #{careerTest, jdbcType=VARCHAR},
			</if>
			<if test="processState != null and processState != ''">
				process_state = #{processState, jdbcType=VARCHAR}, 
			</if>
			<if test="user != null">
				<if test="user.id != null and user.id > 0">
					uid = #{user.id, jdbcType=INTEGER},
				</if>
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					acode = #{area.code, jdbcType=VARCHAR},
				</if>
			</if>
			update_check = update_check + 1
		</trim>
		where id= #{id, jdbcType=INTEGER} and update_check = #{updateCheck, jdbcType=INTEGER}
	</update>
	
	<!-- get by obj -->
	<select id="getByObj" resultMap="ResultResume" parameterType="Resume">
		select <include refid="base_column" />
		from <include refid="from_table" />
		<trim prefix="where" prefixOverrides="and|or">
			<include refid="sql_condition" />
			<if test="title !=null and title != ''">
				and r.title like concat('%',#{title, jdbcType=VARCHAR},'%')
			</if>
			<if test="isDefault != null">
				and r.is_default = #{isDefault, jdbcType=TINYINT}
			</if>
			<if test="user != null">
				<if test="user.id != null and user.id > 0">
					and r.uid = #{user.id, jdbcType=INTEGER}
				</if>
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					and r.acode = #{area.code, jdbcType=VARCHAR}
				</if>
			</if>
		</trim>
	</select>

	<!-- get by id -->
	<select id="getById" resultMap="ResultResume" parameterType="java.lang.Integer">
		select <include refid="base_column" />
		from <include refid="from_table" />
		where <include refid="sql_condition" />
			 and r.id = #{id, jdbcType=INTEGER}
	</select>

	<select id="getByPage" resultMap="ResultResume" parameterType="map">
		select <include refid="base_column" />
		from <include refid="from_table" />
		<trim prefix="where" prefixOverrides="and|or">
			<include refid="sql_condition" />
			<if test="resume != null">
				<if test="resume.title != null and resume.title != ''">
					and r.title like concat('%',#{resume.title, jdbcType=VARCHAR},'%')
				</if>
				<!-- 学历 -->
				<if test="resume.education != null and resume.education != ''">
					and r.education >= #{resume.education, jdbcType=VARCHAR}
				</if>
				<!-- 专业 -->
				<if test="resume.major != null and resume.major != ''">
					and r.major = #{resume.major, jdbcType=VARCHAR}
				</if>
				<!-- 经验年限 -->
				<if test="resume.experience != null and resume.experience !=''">
					and r.experience = #{resume.experience, jdbcType=VARCHAR}
				</if>
				<!-- 残疾类别 -->
				<if test="resume.disabilityCategory != null and resume.disabilityCategory != ''">
					and r.disability_category = #{resume.disabilityCategory, jdbcType=VARCHAR}
				</if>
				<!-- 地区 -->
				<if test="resume.area != null">
					<if test="resume.area.code != null and resume.area.code !='' ">
						and a.code like concat('%',#{resume.area.code, jdbcType=VARCHAR},'%')
					</if>
				</if>
				<!-- 目标职位 -->
				<if test="resume.desireJob != null and resume.desireJob != ''">
				<!-- 	and r.desire_job like concat('%',#{resume.desireJob, jdbcType=VARCHAR},'%')	 --> 
					and ${resume.desireJob, jdbcType=VARCHAR}
				</if>
				<!-- 期望工作地 -->
				<if test="resume.desireAddress != null and resume.desireAddress != ''">
					and r.desire_address like concat('%',#{resume.desireAddress, jdbcType=VARCHAR},'%') 
				</if>
				<!-- 工作性质 -->
				<if test="resume.jobNature != null and resume.jobNature != ''">
					and r.job_nature = #{resume.jobNature, jdbcType=VARCHAR} 
				</if>
				<!-- 性别 -->
				<if test="resume.gender != null and resume.gender != ''">
					and r.gender = #{resume.gender, jdbcType=VARCHAR} 
				</if>
				<if test="resume.checkStatus != null and resume.checkStatus != ''">
 					and r.check_status = #{resume.checkStatus, jdbcType=VARCHAR} 
 				</if>
				<!-- 薪水范围 -->
				
			</if>
		</trim>
		order by r.create_date desc 
		limit #{start, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
	</select>

	<!-- getTotalCount -->
	<select id="getTotalCount" resultType="java.lang.Integer" parameterType="map">
		select count(*)
		from <include refid="from_table" />
		<trim prefix="where" prefixOverrides="and|or">
			<include refid="sql_condition" />
			<if test="resume != null">
				<if test="resume.title != null and resume.title != ''">
					and r.title like concat('%',#{resume.title, jdbcType=VARCHAR},'%')
				</if>
				<!-- 学历 -->
				<if test="resume.education != null and resume.education != ''">
					and r.education >= #{resume.education, jdbcType=VARCHAR}
				</if>
				<!-- 专业 -->
				<if test="resume.major != null and resume.major != ''">
					and r.major = #{resume.major, jdbcType=VARCHAR}
				</if>
				<!-- 经验年限 -->
				<if test="resume.experience != null and resume.experience !=''">
					and r.experience = #{resume.experience, jdbcType=VARCHAR}
				</if>
				<!-- 残疾类别 -->
				<if test="resume.disabilityCategory != null and resume.disabilityCategory != ''">
					and r.disability_category = #{resume.disabilityCategory, jdbcType=VARCHAR}
				</if>
				<!-- 地区 -->
				<if test="resume.area != null">
					<if test="resume.area.code != null and resume.area.code !='' ">
						and a.code like concat('%',#{resume.area.code, jdbcType=VARCHAR},'%')
					</if>
				</if>
				<!-- 目标职位 -->
				<if test="resume.desireJob != null and resume.desireJob != ''">
				<!-- 	and r.desire_job like concat('%',#{resume.desireJob, jdbcType=VARCHAR},'%')	 --> 
					and ${resume.desireJob, jdbcType=VARCHAR}
				</if>
				<!-- 期望工作地 -->
				<if test="resume.desireAddress != null and resume.desireAddress != ''">
					and r.desire_address like concat('%',#{resume.desireAddress, jdbcType=VARCHAR},'%') 
				</if>
				<!-- 工作性质 -->
				<if test="resume.jobNature != null and resume.jobNature != ''">
					and r.job_nature = #{resume.jobNature, jdbcType=VARCHAR} 
				</if>
				<!-- 性别 -->
				<if test="resume.gender != null and resume.gender != ''">
					and r.gender = #{resume.gender, jdbcType=VARCHAR} 
				</if>
				<if test="resume.checkStatus != null and resume.checkStatus != ''">
 					and r.check_status = #{resume.checkStatus, jdbcType=VARCHAR} 
 				</if>
				<!-- 薪水范围 -->
				
			</if>
		</trim>
	</select> 

	<!-- getByUser-->
	<select id="getByUser" resultMap="ResultResume" parameterType="java.lang.Integer">
		select <include refid="base_column" />
		from <include refid="from_table" />
		where <include refid="sql_condition" /> and r.uid = #{uid, jdbcType=INTEGER}
	</select>

	<!-- get user's default resume for vote -->
	<select id="getDefaultResume" resultMap="ResultResume" parameterType="java.lang.Integer">
		select <include refid="base_column" />
		from <include refid="from_table" />
		where <include refid="sql_condition" /> and  r.is_default = 1 and r.uid = #{uid, jdbcType=INTEGER}
	</select>

	<!-- get Count By Area Code-->
	<select id="getCountByAreaCode" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(*)
		from resume as r , area as a
		where r.acode = a.code and a.code like #{code, jdbcType=VARCHAR}
	</select> 
	
	<!-- get by area code -->
	<select id="getByAreaCode" resultMap="ResultResume" parameterType="java.lang.String">
		select <include refid="base_column" />
		from <include refid="from_table" />
		where <include refid="sql_condition" /> and r.acode like #{code, jdbcType=VARCHAR}
	</select>
</mapper>