<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esd.dao.SmsPhoneDao">

	<!-- result map of Area -->
	<resultMap id="ResultArea" type="Area">
		<id column="a_code" property="code" jdbcType="VARCHAR" />
		<result column="a_name" property="name" jdbcType="VARCHAR" />
		<result column="a_is_active" property="isActive" jdbcType="BIT" />
	</resultMap>
	
	<!-- result map of SmsPhone -->
	<resultMap id="ResultSmsPhone" type="SmsPhone">
		<id column="sp_id" property="id" jdbcType="VARCHAR" />
		<result column="sp_create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="sp_update_check" property="updateCheck" jdbcType="INTEGER" />
		<result column="sp_update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="sp_log_user" property="logUser" jdbcType="VARCHAR" />
		<result column="sp_name" property="name" jdbcType="VARCHAR" />
		<result column="sp_phone" property="phone" jdbcType="VARCHAR" />
		<result column="sp_remark" property="remark" jdbcType="VARCHAR" />
		<result column="sp_is_active" property="isActive" jdbcType="BIT" />
		<association property="area" javaType="Area" resultMap="ResultArea" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="base_column">
		sp.id as sp_id, sp.create_date as sp_create_date, sp.update_check as sp_update_check, 
		sp.update_date as sp_update_date, sp.log_user as sp_log_user, sp.name as sp_name,
		sp.phone as sp_phone, sp.remark as sp_remark ,sp.is_active as sp_is_active, 
		a.code as a_code, a.name as a_name, a.is_active as a_is_active
	</sql>
	
	<sql id="from_table">
		sms_phone as sp left join area as a on sp.acode = a.code 
	</sql>
	
	<!-- insert -->
	<insert id="save" parameterType="SmsPhone">
		insert into sms_phone
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			create_date,
			update_check,
			update_date,
			<if test="logUser != null and logUser != ''">
				log_user,
			</if>
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="phone != null and phone != ''">
				phone,
			</if>
			<if test="remark != null and remark != ''">
				remark,
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					acode,
				</if>
			</if>
			<if test="isActive != null">
				is_active
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}, now(), default, now(),
			<if test="logUser != null and logUser != ''">
				#{logUser, jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				#{name, jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone != ''">
				#{phone, jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				#{remark, jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					#{area.code, jdbcType=VARCHAR},
				</if>
			</if>
			<if test="isActive != null">
				#{isActive, jdbcType=BIT}
			</if>
		</trim>	
	</insert>

	<!-- delete -->
	<delete id="delete" parameterType="java.lang.String">
		delete from sms_phone 
		where id = #{id, jdbcType=VARCHAR}
	</delete>
	
	<!-- getByPhone -->
	<delete id="deleteByPhone" parameterType="java.lang.String">
		delete from sms_phone 
		where phone = #{phone, jdbcType=VARCHAR}
	</delete>
	
	<!-- delete by area-->
	<delete id="deleteByArea" parameterType="java.lang.String">
		delete from sms_phone 
		where acode = #{acode, jdbcType=VARCHAR}
	</delete>
	
	<!-- update -->
	<update id="update" parameterType="SmsPhone">
		update sms_phone
		<trim prefix="set" suffixOverrides=",">
			update_date = now(),
			<if test="logUser != null and logUser != ''">
				log_user = #{logUser, jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				name = #{name, jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone != ''">
				phone = #{phone, jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark, jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					acode = #{area.code, jdbcType=VARCHAR},
				</if>
			</if>
			<if test="isActive != null">
				is_active = #{isActive, jdbcType=BIT}
			</if>
		</trim>
		where id = #{id, jdbcType=VARCHAR}
	</update>
	
	<!-- get by id -->
	<select id="getById" resultMap="ResultSmsPhone" parameterType="java.lang.String">
		select <include refid="base_column"/> 
		from <include refid="from_table"/>
		where sp.id = #{id, jdbcType=VARCHAR}
	</select>
	
	<!-- getByPhone -->
	<select id="getByPhone" resultMap="ResultSmsPhone" parameterType="java.lang.String">
		select <include refid="base_column"/> 
		from <include refid="from_table"/>
		where sp.phone = #{phone, jdbcType=VARCHAR}
	</select>
	
	<!-- getByPhone -->
	<select id="getByPhoneAndArea" resultMap="ResultSmsPhone" parameterType="map">
		select <include refid="base_column"/> 
		from <include refid="from_table"/>
		where sp.phone = #{phone, jdbcType=VARCHAR} and sp.acode = #{acode, jdbcType=VARCHAR}
	</select>
	
	<!-- getByPage -->
	<select id="getByPage" parameterType="map" resultMap="ResultSmsPhone">
		select <include refid="base_column"/> 
		from <include refid="from_table"/> 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="smsPhone != null">
				<if test="smsPhone.name != null and smsPhone.name != ''">
					sp.name like concat('%',#{smsPhone.name, jdbcType=VARCHAR},'%')
				</if>
				<if test="smsPhone.phone != null and smsPhone.phone != ''">
					and sp.phone like concat('%',#{smsPhone.phone, jdbcType=VARCHAR},'%')
				</if>
				<if test="smsPhone.area != null">
					<if test="smsPhone.area.code != null and smsPhone.area.code != ''">
						and sp.acode = #{smsPhone.area.code, jdbcType=VARCHAR}
					</if>
				</if>
				<choose>
					<when test="smsPhone.isActive != null">
						and sp.is_active = #{smsPhone.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and sp.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="smsPhone != null">
				</when>
				<otherwise>
					and sp.is_active = 1 
				</otherwise>
			</choose>
		</trim>
		order by sp.create_date desc 
		limit #{start, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
	</select>
	
	<!-- getTotalCount -->
	<select id="getTotalCount" resultType="int" parameterType="map">
		select count(*)
		from <include refid="from_table"/>
		<trim prefix="where" prefixOverrides="and|or">
			<if test="smsPhone != null">
				<if test="smsPhone.name != null and smsPhone.name != ''">
					sp.name like concat('%',#{smsPhone.name, jdbcType=VARCHAR},'%')
				</if>
				<if test="smsPhone.phone != null and smsPhone.phone != ''">
					and sp.phone like concat('%',#{smsPhone.phone, jdbcType=VARCHAR},'%')
				</if>
				<if test="smsPhone.area != null">
					<if test="smsPhone.area.code != null and smsPhone.area.code != ''">
						and sp.acode = #{smsPhone.area.code, jdbcType=VARCHAR}
					</if>
				</if>
				<choose>
					<when test="smsPhone.isActive != null">
						and sp.is_active = #{smsPhone.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and sp.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="smsPhone != null">
				</when>
				<otherwise>
					and sp.is_active = 1 
				</otherwise>
			</choose>
		</trim>
	</select> 
	
</mapper>