<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esd.dao.UserDao">

	<!-- result map of user -->
	<resultMap type="User" id="ResultUser">
		<id column="u_id" property="id" jdbcType="INTEGER"/>
		<result column="u_create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="u_update_check" property="updateCheck" jdbcType="INTEGER"/>
		<result column="u_update_date" property="updateDate" jdbcType="TIMESTAMP"/>
		<result column="u_log_user" property="logUser" jdbcType="VARCHAR"/>
		<result column="u_login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="u_pass_word" property="passWord" jdbcType="VARCHAR" />
		<result column="u_email" property="email" jdbcType="VARCHAR" />
		<result column="u_phone" property="phone" jdbcType="VARCHAR" />
		<result column="u_identity" property="identity" jdbcType="VARCHAR"  />
		<result column="u_check_status" property="checkStatus" jdbcType="VARCHAR"  />
		<result column="u_authority" property="authority" jdbcType="INTEGER"  />
		<result column="u_title" property="title" jdbcType="VARCHAR"  />
		<result column="u_nick_name" property="nickName" jdbcType="VARCHAR"  />
		<result column="u_head_title" property="headTitle" jdbcType="VARCHAR"  />
		<result column="u_head_image" property="headImage" jdbcType="VARCHAR"  />
		<result column="u_is_active" property="isActive" jdbcType="BIT" />
		<association property="area" javaType="Area" resultMap="ResultArea" />
	</resultMap>

	<!-- result map of area -->
	<resultMap id="ResultArea" type="Area">
		<id column="a_code" property="code" />
		<result column="a_name" property="name" />
	</resultMap>

	<sql id="base_column">
		u.id as u_id, u.create_date as u_create_date, u.update_check as u_update_check, 
			u.update_date as u_update_date, u.log_user as u_log_user, u.login_name as u_login_name,
			u.pass_word as u_pass_word, u.email as u_email, u.phone as u_phone, u.identity as u_identity,
			u.check_status as u_check_status, u.authority as u_authority, u.title as u_title, 
			u.nick_name as u_nick_name,u.head_title as u_head_title, u.head_image as u_head_image, 
			u.is_active as u_is_active, 
		a.code as a_code, a.name as a_name
	</sql>
	
	<!-- insert -->
	<insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			create_date,
			update_check,
			update_date,
			<if test="logUser != null and logUser != ''">
				log_user,
			</if>
			<if test="loginName != null and loginName != ''">
				login_name,
			</if>
			<if test="passWord != null and passWord != ''">
				pass_word,
			</if>
			<if test="email != null and email != ''">
				email,
			</if>
			<if test="phone != null and phone != ''">
				phone,
			</if>
			<if test="identity != null and identity != ''">
				identity,
			</if>
			<if test="checkStatus != null and checkStatus != ''">
				check_status,
			</if>
			<if test="authority != null and authority > 0">
				authority,
			</if>
			<if test="title != null and title != ''">
				title,
			</if>
			<if test="nickName != null and nickName != ''">
				nick_name,
			</if>
			<if test="headTitle != null and headTitle != ''">
				head_title,
			</if>
			<if test="headImage != null and headImage != ''">
				head_image,
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					acode,
				</if>
			</if>
			<if test="isActive != null">
				is_active
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			now(), default, now(),
			<if test="logUser != null and logUser != ''">
				#{logUser, jdbcType=VARCHAR},
			</if>
			<if test="loginName != null and loginName != ''">
				#{loginName, jdbcType=VARCHAR},
			</if>
			<if test="passWord != null and passWord != ''">
				#{passWord, jdbcType=VARCHAR},
			</if>
			<if test="email != null and email != ''">
				#{email, jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone != ''">
				#{phone, jdbcType=VARCHAR},
			</if>
			<if test="identity != null and identity != ''">
				#{identity, jdbcType=VARCHAR},
			</if>
			<if test="checkStatus != null and checkStatus != ''">
				#{checkStatus, jdbcType=VARCHAR},
			</if>
			<if test="authority != null and authority > 0">
				#{authority, jdbcType=INTEGER},
			</if>
			<if test="title != null and title != ''">
				#{title, jdbcType=VARCHAR},
			</if>
			<if test="nickName != null and nickName != ''">
				#{nickName, jdbcType=VARCHAR},
			</if>
			<if test="headTitle != null and headTitle != ''">
				#{headTitle, jdbcType=VARCHAR},
			</if>
			<if test="headImage != null and headImage != ''">
				#{headImage, jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				<if test="area.code != null and area.code != ''">
					#{area.code, jdbcType=VARCHAR}, 
				</if>
			</if>
			<if test="isActive != null">
				#{isActive, jdbcType=BIT}
			</if>
		</trim>
	</insert>

	<!-- delete -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from user where id = #{id, jdbcType=INTEGER}
	</delete>

	<!-- update -->
	<update id="update" parameterType="User">
		update user
		<trim prefix="set" suffixOverrides=",">
			update_date = now(),
			<if test="logUser != null and logUser != ''">
				log_user = #{logUser, jdbcType=VARCHAR},
			</if>
			<if test="loginName != '' and loginName != null">
				login_name = #{loginName, jdbcType=VARCHAR},
			</if>
			<if test="passWord != '' and passWord != null">
				pass_word = #{passWord, jdbcType=VARCHAR},
			</if>
			<if test="email != '' and email != null">
				email = #{email, jdbcType=VARCHAR},
			</if>
			<if test="phone != '' and phone != null">
				phone = #{phone, jdbcType=VARCHAR},
			</if>
			<if test="identity != null and identity != ''">
				identity = #{identity, jdbcType=VARCHAR},
			</if>
			<if test="checkStatus != null and checkStatus != ''">
				check_status = #{checkStatus, jdbcType=VARCHAR},
			</if>
			<if test="authority != null and authority > 0">
				authority = #{authority, jdbcType=INTEGER},
			</if>
			<if test="title != null and title != ''">
				title = #{title, jdbcType=VARCHAR},
			</if>
			<if test="nickName != null and nickName != ''">
				nick_name = #{nickName, jdbcType=VARCHAR},
			</if>
			<if test="headTitle != null and headTitle != ''">
				head_title = #{headTitle, jdbcType=VARCHAR},
			</if>
			<if test="headImage != null and headImage != ''">
				head_image = #{headImage, jdbcType=VARCHAR},
			</if>
			<if test="area !=null">
				<if test="area.code != null and area.code != ''">
					acode = #{area.code, jdbcType=VARCHAR},
				</if>
			</if>
			<if test="isActive != null">
				is_active = #{isActive, jdbcType=BIT},
			</if>
			update_check = update_check + 1 
		</trim>
		where id= #{id, jdbcType=INTEGER} and update_check = #{updateCheck, jdbcType=INTEGER}
	</update>

	<!-- get update check by id -->
	<select id="getUpdateCheck" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		select update_check from user where id = #{id, jdbcType=INTEGER}
	</select>
	
	<select id="getById" resultMap="ResultUser" parameterType="java.lang.Integer">
		select <include refid="base_column" />
		from user as u, area as a
		where u.acode = a.code and u.id = #{id, jdbcType=INTEGER}
	</select>

	<!-- get head image -->
	<select id="getHeadImage" parameterType="java.lang.Integer" resultType="java.util.HashMap">
		select head_title, head_image
		from user
		where id = #{id, jdbcType=INTEGER}
	</select>
	
	<!-- get by user -->
	<select id="getByUser" resultMap="ResultUser" parameterType="User">
		select <include refid="base_column" />
		from user as u, area as a
		<trim prefix="where" prefixOverrides="and|or">
			u.acode = a.code
			<if test="loginName != null and loginName != ''">
				and u.login_name = #{loginName, jdbcType=VARCHAR} 
			</if>
			<if test="passWord != null and passWord != ''">
				and u.pass_word = #{passWord, jdbcType=VARCHAR}
			</if>
			<if test="identity != null">
				and u.identity = #{identity, jdbcType=VARCHAR}
			</if>
			<if test="email != null">
				and u.email = #{email, jdbcType=VARCHAR}
			</if>
			<if test="area != null">
				<if test="area.code != null">
					and u.acode = #{area.code, jdbcType=VARCHAR}
				</if>
			</if>
			<if test="checkStatus != null">
				and u.check_status = #{checkStatus, jdbcType=VARCHAR}
			</if>
			<if test="authority != null and authority > 0">
				and u.authority = #{authority, jdbcType=INTEGER}
			</if>
			<if test="title != null">
				and u.title like concat('%', #{title, jdbcType=VARCHAR}, '%')
			</if>
			<if test="nickName != null">
				and u.nick_name like concat('%', #{nickName, jdbcType=VARCHAR}, '%')
			</if>
			<choose>
				<when test="isActive != null">
					and u.is_active = #{isActive, jdbcType=BIT}
				</when>
				<otherwise>
					and u.is_active = 1 
				</otherwise>
			</choose>
		</trim>
	</select>

	<!-- getByPage -->
	<select id="getByPage" parameterType="map" resultMap="ResultUser">
		select <include refid="base_column" />
		from user as u, area as a
		<trim prefix="where" prefixOverrides="and|or">
			u.acode = a.code
			<if test="user != null">
				<if test="user.loginName != '' and user.loginName != null">
					and u.login_name like concat('%', #{user.loginName, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.passWord != '' and user.passWord != null">
					and u.pass_word like concat('%', #{user.passWord, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.area != null">
					<if test="user.area.code != null and user.area.code != ''">
						and a.code like concat('%',#{user.area.code, jdbcType=VARCHAR},'%')
					</if>
				</if>
				<if test="user.identity != null and user.identity != ''">
					and u.identity = #{user.identity, jdbcType=VARCHAR}
				</if>
				<if test="user.email != null and user.email != ''">
					and u.email = #{user.email, jdbcType=VARCHAR}
				</if>
				<if test="user.authority != null and user.authority > 0">
					and u.authority = #{user.authority, jdbcType=INTEGER}
				</if>
				<if test="user.title != null and user.title != ''">
					and u.title like concat('%', #{user.title, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.nickName != null and user.nickName != ''">
					and u.nick_name like concat('%', #{user.nickName, jdbcType=VARCHAR}, '%')
				</if>
				<choose>
					<when test="user.checkStatus != null and user.checkStatus != ''">
						and u.check_status = #{user.checkStatus, jdbcType=VARCHAR}
					</when>
					<otherwise>
						and u.check_status = 'ok'
					</otherwise>
				</choose>
				<choose>
					<when test="user.isActive != null">
						and u.is_active = #{user.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and u.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="user != null">
				</when>
				<otherwise>
					and u.check_status = 'ok' and u.is_active = 1 
				</otherwise>
			</choose>
		</trim>
		order by u.create_date desc 
		limit #{start, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
	</select>

	<!-- getTotalCount -->
	<select id="getTotalCount" parameterType="map" resultType="int">
		select count(*)
		from user as u, area as a
		<trim prefix="where" prefixOverrides="and|or">
			u.acode = a.code
			<if test="user != null">
				<if test="user.loginName != '' and user.loginName != null">
					and u.login_name like concat('%', #{user.loginName, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.passWord != '' and user.passWord != null">
					and u.pass_word like concat('%', #{user.passWord, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.area != null">
					<if test="user.area.code != null and user.area.code != ''">
						and a.code like concat('%',#{user.area.code, jdbcType=VARCHAR},'%')
					</if>
				</if>
				<if test="user.identity != null and user.identity != ''">
					and u.identity = #{user.identity, jdbcType=VARCHAR}
				</if>
				<if test="user.email != null and user.email != ''">
					and u.email = #{user.email, jdbcType=VARCHAR}
				</if>
				<if test="user.authority != null and user.authority > 0">
					and u.authority = #{user.authority, jdbcType=INTEGER}
				</if>
				<if test="user.title != null and user.title != ''">
					and u.title like concat('%', #{user.title, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.nickName != null and user.nickName != ''">
					and u.nick_name like concat('%', #{user.nickName, jdbcType=VARCHAR}, '%')
				</if>
				<choose>
					<when test="user.checkStatus != null and user.checkStatus != ''">
						and u.check_status = #{user.checkStatus, jdbcType=VARCHAR}
					</when>
					<otherwise>
						and u.check_status = 'ok'
					</otherwise>
				</choose>
				<choose>
					<when test="user.isActive != null">
						and u.is_active = #{user.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and u.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="user != null">
				</when>
				<otherwise>
					and u.check_status = 'ok' and u.is_active = 1 
				</otherwise>
			</choose>
		</trim>
	</select>

	<!-- getByPageAuthority -->
	<select id="getByPageAuthority" parameterType="map" resultMap="ResultUser">
		select <include refid="base_column" />
		from user as u, area as a
		<trim prefix="where" prefixOverrides="and|or">
			u.acode = a.code
			<if test="user != null">
				<if test="user.loginName != '' and user.loginName != null">
					and u.login_name like concat('%', #{user.loginName, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.passWord != '' and user.passWord != null">
					and u.pass_word like concat('%', #{user.passWord, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.area != null">
					<if test="user.area.code != null and user.area.code != ''">
						and a.code like concat('%',#{user.area.code, jdbcType=VARCHAR},'%')
					</if>
				</if>
				<if test="user.identity != null and user.identity != ''">
					and u.identity = #{user.identity, jdbcType=VARCHAR}
				</if>
				<if test="user.email != null and user.email != ''">
					and u.email = #{user.email, jdbcType=VARCHAR}
				</if>
				<if test="user.authority != null and user.authority > 0">
					and u.authority &lt;= #{user.authority, jdbcType=INTEGER}
				</if>
				<if test="user.title != null and user.title != ''">
					and u.title like concat('%', #{user.title, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.nickName != null and user.nickName != ''">
					and u.nick_name like concat('%', #{user.nickName, jdbcType=VARCHAR}, '%')
				</if>
				<choose>
					<when test="user.checkStatus != null and user.checkStatus != ''">
						and u.check_status = #{user.checkStatus, jdbcType=VARCHAR}
					</when>
					<otherwise>
						and u.check_status = 'ok'
					</otherwise>
				</choose>
				<choose>
					<when test="user.isActive != null">
						and u.is_active = #{user.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and u.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="user != null">
				</when>
				<otherwise>
					and u.check_status = 'ok' and u.is_active = 1 
				</otherwise>
			</choose>
		</trim>
		order by u.create_date desc 
		limit #{start, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
	</select>

	<!-- getTotalCountAuthority -->
	<select id="getTotalCountAuthority" parameterType="map" resultType="int">
		select count(*)
		from user as u, area as a
		<trim prefix="where" prefixOverrides="and|or">
			u.acode = a.code
			<if test="user != null">
				<if test="user.loginName != '' and user.loginName != null">
					and u.login_name like concat('%', #{user.loginName, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.passWord != '' and user.passWord != null">
					and u.pass_word like concat('%', #{user.passWord, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.area != null">
					<if test="user.area.code != null and user.area.code != ''">
						and a.code like concat('%',#{user.area.code, jdbcType=VARCHAR},'%')
					</if>
				</if>
				<if test="user.identity != null and user.identity != ''">
					and u.identity = #{user.identity, jdbcType=VARCHAR}
				</if>
				<if test="user.email != null and user.email != ''">
					and u.email = #{user.email, jdbcType=VARCHAR}
				</if>
				<if test="user.authority != null and user.authority > 0">
					and u.authority &lt;= #{user.authority, jdbcType=INTEGER}
				</if>
				<if test="user.title != null and user.title != ''">
					and u.title like concat('%', #{user.title, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.nickName != null and user.nickName != ''">
					and u.nick_name like concat('%', #{user.nickName, jdbcType=VARCHAR}, '%')
				</if>
				<choose>
					<when test="user.checkStatus != null and user.checkStatus != ''">
						and u.check_status = #{user.checkStatus, jdbcType=VARCHAR}
					</when>
					<otherwise>
						and u.check_status = 'ok'
					</otherwise>
				</choose>
				<choose>
					<when test="user.isActive != null">
						and u.is_active = #{user.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and u.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="user != null">
				</when>
				<otherwise>
					and u.check_status = 'ok' and u.is_active = 1 
				</otherwise>
			</choose>
		</trim>
	</select>
	
	<select id="getAdminByPage" parameterType="map" resultMap="ResultUser">
		select <include refid="base_column" />
		from user as u, area as a
		<trim prefix="where" prefixOverrides="and|or">
			u.acode = a.code
			<if test="user != null">
				<if test="user.loginName != '' and user.loginName != null">
					and u.login_name like concat('%', #{user.loginName, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.passWord != '' and user.passWord != null">
					and u.pass_word like concat('%', #{user.passWord, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.area != null">
					<if test="user.area.code != null and user.area.code != ''">
							and a.code like concat('%',#{user.area.code, jdbcType=VARCHAR},'%')
					</if>
				</if>
				<if test="user.identity != null and user.identity != ''">
					and u.identity = #{user.identity, jdbcType=VARCHAR}
				</if>
				<if test="user.email != null and user.email != ''">
					and u.email = #{user.email, jdbcType=VARCHAR}
				</if>
				<if test="user.checkStatus != null and user.checkStatus != ''">
					and u.check_status = #{user.checkStatus, jdbcType=VARCHAR}
				</if>
				<if test="user.authority != null and user.authority > 0">
					and u.authority &lt;= #{user.authority, jdbcType=INTEGER}
				</if>
				<if test="user.title != null and user.title != ''">
					and u.title like concat('%', #{user.title, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.nickName != null and user.nickName != ''">
					and u.nick_name like concat('%', #{user.nickName, jdbcType=VARCHAR}, '%')
				</if>
				<choose>
					<when test="user.isActive != null">
						and u.is_active = #{user.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and u.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="user != null">
				</when>
				<otherwise>
					u.is_active = 1 
				</otherwise>
			</choose>
		</trim>
		order by u.create_date
		limit #{start, jdbcType=INTEGER}, #{size, jdbcType=INTEGER}
	</select>

	<!-- getTotalCount -->
	<select id="getAdminTotalCount" parameterType="map" resultType="int">
		select count(*)
		from user as u, area as a
		<trim prefix="where" prefixOverrides="and|or">
			u.acode = a.code
			<if test="user != null">
				<if test="user.loginName != '' and user.loginName != null">
					and u.login_name like concat('%', #{user.loginName, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.passWord != '' and user.passWord != null">
					and u.pass_word like concat('%', #{user.passWord, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.area != null">
					<if test="user.area.code != null and user.area.code != ''">
							and a.code like concat('%',#{user.area.code, jdbcType=VARCHAR},'%')
					</if>
				</if>
				<if test="user.identity != null and user.identity != ''">
					and u.identity = #{user.identity, jdbcType=VARCHAR}
				</if>
				<if test="user.email != null and user.email != ''">
					and u.email = #{user.email, jdbcType=VARCHAR}
				</if>
				<if test="user.checkStatus != null and user.checkStatus != ''">
					and u.check_status = #{user.checkStatus, jdbcType=VARCHAR}
				</if>
				<if test="user.authority != null and user.authority > 0">
					and u.authority &lt;= #{user.authority, jdbcType=INTEGER}
				</if>
				<if test="user.title != null and user.title != ''">
					and u.title like concat('%', #{user.title, jdbcType=VARCHAR}, '%')
				</if>
				<if test="user.nickName != null and user.nickName != ''">
					and u.nick_name like concat('%', #{user.nickName, jdbcType=VARCHAR}, '%')
				</if>
				<choose>
					<when test="user.isActive != null">
						and u.is_active = #{user.isActive, jdbcType=BIT}
					</when>
					<otherwise>
						and u.is_active = 1 
					</otherwise>
				</choose>
			</if>
			<choose>
				<when test="user != null">
				</when>
				<otherwise>
					u.is_active = 1 
				</otherwise>
			</choose>
		</trim>
	</select>
</mapper>
